<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/violenciasexual"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Casos  </div>
  <div class="titulo-interno">F  </div>
  <p class="texto-interno">Andrea, una adolescente de 15 años y sus
    amigas de la misma edad sienten que no pueden
    caminar tranquilas y con seguridad desde la
    parada del bus del colegio hasta sus domicilios ya
    que en su ruta tienen que pasar por el frente de
    un local comercial, cuyo dueño, parado en la
    entrada, les dice cosas de connotación sexual. </p>
    <p class="texto-interno">Las
    adolescentes han decidido cambiar el trayecto de
    sus casas a la parada el bus, a pesar de que es
    más largo. Esto ha significado levantarse más
    temprano para no atrasarse. Durante unos talleres
    de prevención de violencia contra niñas y
    adolescentes impartidos en el colegio, se dieron
    cuenta que pueden hacer algo ante esta situación
    y deciden dirigirse a la Tenencia Política para
    solicitar ayuda.</p>
    <div class="icono1"><img src="https://i.imgur.com/g1une93.png"></div>
    
    <div class="boton-blanco" routerLink="/pautas1">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Pautas Generales</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <hr>

    <div class="boton-blanco" routerLink="/normativaap1">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Normativa Aplicada</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>

</ion-content>