<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu12"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="link25" size="auto">
    <ng-template>
      <ion-content class="ion-padding">ART. 51<br>
        a)	Emitir la boleta de auxilio y la orden de restricción de acercamiento a la víctima por parte del presunto agresor, en cualquier espacio público o privado.<br>
        b)	Ordenar la restitución de la víctima al domicilio habitual, cuando haya sido alejada de este por el hecho violento y así lo solicite, con las garantías suficientes para proteger su vida e integridad.<br>
            f) Ordenar al agresor la salida del domicilio cuando su presencia constituya una amenaza para la integridad física, psicológica o sexual o la vida de la mujer o cualquiera de los miembros de la familia.<br>
        h) Disponer la instalación de dispositivos de alerta, riesgo o dispositivos electrónicos de alerta, en la vivienda de la mujer víctima de violencia.<br><br>
        
        FORMAR CITA A LEY COLOR
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link26" size="auto">
    <ng-template>
      <ion-content class="ion-padding">
        En caso de que el agresor se encuentre en un lugar distinto al domicilio de la víctima, se deberá acudir al lugar directamente sin previa coordinación. </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link27" size="auto">
    <ng-template>
      <ion-content class="ion-padding">
        Art 37 de la LOIPEVCM<br>
        Las características de las medidas administrativas de protección inmediata son:<br>
        (…)<br>
        h. Su incumplimiento genera responsabilidad administrativa, civil o penal.”<br>
        FORMATO
         </ion-content>
    </ng-template>
  </ion-popover>

  
  <ion-popover trigger="link28" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Debe constar de la siguiente información:<br> 
        <ion-icon name="checkmark-circle-outline"></ion-icon> Nombres completos<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon>Número de cédula<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon> Fecha, hora y firma
         </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link28b" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Fecha<br> 
        <ion-icon name="checkmark-circle-outline"></ion-icon>Nombre de la autoridad administrativa<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon>Nombres de la víctima y presunto agresor<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon>Dirección donde se notificará y ejecutará la medida<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon>Descripción de la medida administrativa a ser notificada y ejecutada<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon>Firma
         </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link29" size="auto">
    <ng-template>
      <ion-content class="ion-padding">
        En caso de que el agresor se encuentre en un lugar distinto al domicilio de la víctima, se deberá acudir al lugar directamente sin previa coordinación.       
       </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link29bb" size="auto">
    <ng-template>
      <ion-content class="ion-padding">
        Solicitar un documento de identificación personal.
       </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link29b" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Foto parte Web</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link30" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Verificar la identificación de la presunta persona agresora, solicitando un documento de identificación personal.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link31" size="auto">
    <ng-template>
      <ion-content class="ion-padding">
        Únicamente podrá sacar sus herramientas de trabajo y prendas  personales.<br>
        OJO: Precautelar la seguridad de las partes.
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link32" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Art 37 de la LOPEIVcM <br> 
        Las características de las medidas administrativas de protección inmediata son:<br> 
        (…) <br> 
        h. Su incumplimiento genera responsabilidad administrativa, civil o penal.”
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link33" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Debe constar de la siguiente información:<br> 
        <ion-icon name="checkmark-circle-outline"></ion-icon> Nombres completos<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon>Número de cédula<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon> Fecha, hora y firma
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link34" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Debe constar de la siguiente información:<br> 
        <ion-icon name="checkmark-circle-outline"></ion-icon> Nombres completos<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon>Número de cédula<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon> Fecha, hora y firma
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link35" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Solicitar un documento de identificación personal.
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link40" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Máximo 24 horas
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link36" size="auto">
    <ng-template>
      <ion-content class="ion-padding">
        únicamente podrá sacar sus herramientas de trabajo y prendas personales, 
        
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link37" size="auto">
    <ng-template>
      <ion-content class="ion-padding">
        Art 37 de la LOIPEVCM<br>
        Las características de las medidas administrativas de protección inmediata son:
        (…)<br>
        h. Su incumplimiento genera responsabilidad administrativa, civil o penal.”<br>
        
        Formato leyes
        
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link41" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Debe constar de la siguiente información:<br> 
        <ion-icon name="checkmark-circle-outline"></ion-icon> Nombres completos<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon>Número de cédula<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon> Fecha, hora y firma
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link40bb" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Debe constar de la siguiente información:<br> 
        <ion-icon name="checkmark-circle-outline"></ion-icon> Nombres completos<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon>Número de cédula<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon> Fecha, hora y firma
        
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link38" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Debe constar de la siguiente información:<br> 
        <ion-icon name="checkmark-circle-outline"></ion-icon> Nombres completos<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon>Número de cédula<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon> Fecha, hora y firma
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link39" size="auto">
    <ng-template>
      <ion-content class="ion-padding">foto parte web
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link40b" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> <img src="https://i.imgur.com/xlzZdxO.jpg"> <br><a routerLink="/#">Descargar</a>
        </ion-content>
    </ng-template>
  </ion-popover>



  <div class="fondo-gris">
    <div class="titulo-interno">Descripción Procedimiento</div>
    <p class="texto-interno">El personal policial en ejercicio de sus funciones procederá con la notificación y ejecución de las MAPIs determinadas en <a id="link25">los literales a), b) f) y h) el artículo 51</a> de la LOIPEVCM, conforme disposición de las autoridades administrativas: Tenientes Político, Comisarios Nacionales e Intendencias.</p>
    <br>
    <div class="titulo-interno"><b>NOTIFICACIÓN Y EJECUCIÓN SIMULTÁNEA</b></div>
            <p class="texto-interno"><b>VERIFICACIÓN	DE DATOS.</b></p>
            <p class="texto-interno">El personal policial en ejercicio de sus funciones, en todos los casos procederá a verificar el <a id="link28b">contenido de la notificación.</a></p>
            <br>
            <p class="texto-interno"><b>a) Notificación de la Boleta de auxilio y orden de restricción de acercamiento. </b></p>
            <p class="texto-interno">Coordinar con la víctima la fecha, hora y lugar en la que se notificará al presunto agresor.</p>
            <p class="texto-interno">Constatar como medida de seguridad, los antecedentes personales de la víctima y de la presunta persona agresora, y se trasladará hacia el lugar que consta en el documento emitido por la autoridad administrativa.</p>
            <p class="texto-interno">Tomar las medidas de seguridad para su actuación y solicitar refuerzos si fuera necesario.</p>
            <p class="texto-interno"><b>Identificarse</b> ante la persona contra quien se ha emitido la orden judicial e informarle del procedimiento.</p>
            <p class="texto-interno"><b>Comprobar</b> la identificación del presunto agresor solicitando un documento de identificación personal.</p>
            <br>
  
            <div class="contendor-ojo">
              <div class="contiene-ojo">
                <ion-icon name="notifications-outline"></ion-icon>
              </div><br>  <br>
              <div class="contiene-texto-ojo">
                Leer de forma clara del nombre de la autoridad administrativa y explicar de qué se trata la MAPI.  <br>  <br>
              </div>
            </div>
  
            <br>
            <p class="texto-interno">Informar al presunto agresor, que el incumplimiento de una MAPI <a id="link27">constituye un delito sancionado con prisión.</a></p>
            <p class="texto-interno">Entregar una copia de la documentación a la presunta persona agresora (al notificado/a) y se receptará el respectivo recibido <a id="link28">respectivo recibido.</a> </p>
            <p class="texto-interno">Tomar foto de la recepción de la notificación y agregarla como anexo al <b>parte web.</b></p>  
            <p class="texto-interno">Elaborar el parte web correspondiente indicando si realizó o no la notificación de la medida administrativa, haciendo constar todos los detalles de lo actuado. El sistema automáticamente dará a conocer a la autoridad administrativa, el Servidor Policial <b>y en un tiempo máximo de 24 horas </b>deberá recibir un correo electrónico que le indicará que a la autoridad administrativa ha recibido en su bandeja el realizar parte web (Judicial, Policial, Medidas/Delegación) correspondiente.</p>  
            <br>
            <p class="texto-interno"><b>b) Notificación y ejecución simultánea de las medidas administrativas. Restitución de la víctima al domicilio habitual y salida del agresor.
             </b></p>
            <p class="texto-interno"><b>Coordinar </b>con la víctima la fecha, hora y lugar en la que se ejecutarán las MAPIs, en presencia de las dos partes y en la vivienda en común.</p>
            <p class="texto-interno">Constatar como medida de seguridad, los antecedentes personales de la víctima y de la presunta persona agresora, y se trasladará hacia el lugar que consta en el documento emitido por la autoridad administrativa.</p>
            <p class="texto-interno">Tomar las medidas de seguridad para su actuación y solicitar refuerzos si se amerita.</p> 
            <p class="texto-interno">Poner en conocimiento mediante diálogo previo a la persona encargada de la vivienda, condominio y otros, de la diligencia dispuesta por la autoridad competente y proceder a ejecutar la medida administrativa de protección inmediata.</p>
            <p class="texto-interno">Identificarse ante la persona contra quien se ha emitido la orden judicial e <a id="link30">informar</a> el procedimiento a realizarse.</p> 
            <p class="texto-interno">Dar lectura en forma clara del nombre de la autoridad administrativa y notificará a la presunta persona agresora sobre la MAPI emitida en su contra, le explicará de qué se trata y solicitará su salida inmediata del domicilio, quien únicamente podrá sacar sus herramientas de trabajo y prendas personales, precautelando siempre la seguridad de las partes.</p> 
            <p class="texto-interno"><a id="link29bb"><b>Comprobar</b></a> la identificación de la presunta persona agresora, solicitando un documento de identificación personal.</p> 
            <p class="texto-interno">Notificar a la presunta persona agresora sobre la MAPI emitida en su contra, explicar de qué se trata <a id="link31">y solicitar su salida inmediata del domicilio.</a></p> 
            
            <br>          
            <div class="contendor-ojo">
              <div class="contiene-ojo">
                <ion-icon name="eye-outline"></ion-icon>
              </div><br>  <br>
              <div class="contiene-texto-ojo">
                En todo momento precautelar la seguridad de las partes involucradas.
                <br>  <br>
              </div>
            </div>
            <br> 
  
            <p class="texto-interno">Solicitar al presunto agresor las llaves del domicilio y entregarlas a la víctima. </p>
  
            <br>
            <div class="contendor-ojo">
              <div class="contiene-ojo">
                <ion-icon name="notifications-outline"></ion-icon>
              </div><br>  <br>
              <div class="contiene-texto-ojo">
                 Recomendar el cambio de cerraduras en el caso de no obtener las llaves.<br>  <br>
              </div>
            </div>
  
            <br> 
            <p class="texto-interno">Informar a la persona presunta agresora, que el incumplimiento de una MAPI <a id="link32">constituye un delito sancionado con prisión.</a></p>
            <p class="texto-interno">Aplicar <b>el uso progresivo y diferenciado de la fuerza,</b> en caso de que  el presunto agresor se niegue a salir del domicilio común y proceder a la aprehensión por incumplimiento de decisiones legítimas de la autoridad competente.</p>
            <p class="texto-interno">Una vez que el agresor haya salido de la vivienda común, la víctima se reintegrará a su domicilio.</p>
            <p class="texto-interno">Entregar una copia de la documentación a la presunta persona agresora (al notificado/a) y receptar el respectivo <a id="link33">recibido.</a> </p>
            <p class="texto-interno">Tomar foto de la recepción de la notificación y agregarla como anexo al parte web (Judicial, Policial, Medidas/Delegación).</p>
            <p class="texto-interno">Elaborar el parte web (Judicial, Policial, Medidas/Delegación) correspondiente en un tiempo máximo de 24 horas y dará a conocer a la autoridad administrativa, indicando si se ejecutó o no las MAPIs, haciendo constar todos los detalles de lo actuado, <b>en especial la autorización verbal del ingreso al domicilio.</b></p>
            <p class="texto-interno">Coordinar con la víctima la fecha, hora y lugar en la que se ejecutará la MAPI, en presencia de las   dos partes y en la vivienda en común.</p>
            <br>
            <p class="texto-interno"><b>d) Acompañar a la víctima a la autoridad administrativa para solicitar la emisión de la boleta de auxilio y la orden de restricción de acercamiento a la víctima por parte del presunto agresor, en cualquier espacio público o privado.</b></p>

            <p class="texto-interno">Informar a la víctima sobre las instancias administrativas para otorgar este tipo de medidas como son: <b>Juntas Cantonales de Protección de Derechos, Tenencias Políticas, En aquellos cantones donde no existan Juntas Cantonales de Protección de Derechos serán las Comisarías Nacionales de Policía e Intendencias Generales de Policía.</b></p>

              <p class="texto-interno">Informar que el carácter de dichas medidas <b>es temporal y no constituyen prejuzgamiento</b> de los hechos de violencia.</p>

                <p class="texto-interno">Adoptar las medidas necesarias <b>para garantizar la seguridad de la víctima y de ser el caso de sus dependientes,</b> que se encuentren al momento junto a ella, durante el proceso de solicitud y otorgamiento de la medida administrativa por parte de la autoridad competente.</p>

                  <p class="texto-interno">El personal policial acompañará a la víctima, no puede negarse a acompañarla, hasta su lugar de domicilio, donde procederá a verificar si existen condiciones de seguridad para la víctima y sus descendientes, luego de que la víctima reciba la boleta de auxilio y orden de restricción de acercamiento por parte del agresor.</p>
                  <br>
            <p class="texto-interno"><b>f) Salida de la persona agresora del domicilio.</b></p>
              <p class="texto-interno">Constatar como medida de seguridad, los antecedentes personales de la víctima y de la presunta persona agresora, y se trasladará hacia el lugar que consta en el documento emitido por la autoridad administrativa.</p>
              <p class="texto-interno">Tomará las medidas de seguridad para su actuación y solicitará refuerzos si la situación lo amerita.</p>
              <p class="texto-interno"><b>Pedir autorización </b>a la víctima para ingresar al domicilio.</p>
              <p class="texto-interno">Identificarse ante la persona contra quien se ha emitido la orden judicial e informarle el procedimiento a realizarse.</p>
              <p class="texto-interno"> Comprobar la <a id="link35">identificación</a> de la presunta persona agresora.<br>Dar lectura en forma clara del nombre de la autoridad administrativa y notificar a la presunta persona agresora sobre la MAPI emitida en su contra: <a id="link36">salida inmediata del domicilio.</a></p>
              <br> 
  
              <div class="contendor-ojo">
                <div class="contiene-ojo">
                  <ion-icon name="eye-outline"></ion-icon>
                </div><br>  <br>
                <div class="contiene-texto-ojo">
                  Precautelar siempre la seguridad de las partes.<br>  <br>
                </div>
              </div>
              <br> 
  
              <p class="texto-interno"><b>Solicitar</b> al presunto agresor las llaves del domicilio y entregarlas a la víctima.</p>
              <br> 
  
              <div class="contendor-ojo">
                <div class="contiene-ojo">
                  <ion-icon name="notifications-outline"></ion-icon>
                </div><br>  <br>
                <div class="contiene-texto-ojo">
                  En el caso de no obtener las llaves sugerir el cambio de cerradura a la víctima. <br>  <br>
                </div>
              </div>
              <br> 
  
              <p class="texto-interno">Informar a la presunta persona agresora, que el incumplimiento de una MAPI, <a id="link37">constituye un delito sancionado con prisión.</a></p>
              <p class="texto-interno">Aplicar el uso progresivo y diferenciado de la fuerza, en caso de que el presunto agresor se niegue a salir del domicilio común y proceder a la aprehensión por incumplimiento de decisiones legítimas de autoridad competente.</p>
              <p class="texto-interno">Entregar una copia de la documentación a la presunta persona agresora (al notificado/a) y se receptará el <a id="link38">respectivo recibido.</a></p>
              <p class="texto-interno">Tomar foto del procedimiento de la notificación y agregarla como anexo al parte web (Judicial, Policial, Medidas/Delegación).</p>
              <p class="texto-interno"><a id="link40">Elaborar parte policial </a>correspondiente y dar a conocer a la autoridad administrativa, indicando si se ejecutó o no la MAPI, haciendo constar todos los detalles de lo actuado, <b>en especial la autorización verbal del ingreso al domicilio.</b></p>
              <br> 
              <p class="texto-interno"><b>h) Notificación y ejecución	de la medida administrativa para la	instalación de dispositivos	de alerta.</b></p>
              <p class="texto-interno">Acudir al domicilio de la víctima e identificarse.</p>
              <p class="texto-interno">Dar lectura en forma clara del nombre de la autoridad administrativa y notificará a la víctima sobre la medida administrativa de protección inmediata emitida y le explicará el procedimiento para la activación del botón de seguridad.</p>
              <p class="texto-interno"> Proceder conforme lo determina el “Instructivo para realizar botón de seguridad” <a id="link40b">Cod: PNE-DNPC-BS-INST-02.</a></p>
              <p class="texto-interno"> Entregar una copia de la documentación a la víctima y receptar el <a id="link41">respectivo recibido.</a></p>
              <p class="texto-interno">Tomar foto de la recepción de la notificación y agregarla como anexo al parte web (Judicial, Policial, Medidas/Delegación).</p>
              <p class="texto-interno"> Elaborar el parte web (Judicial, Policial, Medidas/Delegación) correspondiente <b>en un tiempo máximo de 24 horas</b> y dar a conocer a la autoridad administrativa, indicando si se realizó o no la notificación de la medida administrativa y la activación del botón de seguridad, haciendo constar todos los detalles de lo actuado.</p>
              <br> 
              <div class="titulo-interno">IMPORTANTE</div> 
              <div class="titulo-interno">Actuación Policial en Caso de Incumplimiento de MAPIS otorgadas. </div>
  
              <br> 
              <div class="contendor-ojo">
                <div class="contiene-ojo">
                  <ion-icon name="warning-outline"></ion-icon>
                </div><br>  <br>
                <div class="contiene-texto-ojo">
                  En caso de que una persona incumpla las medidas administrativas de protección inmediata emitidas en su contra por una autoridad administrativa competente y la víctima solicite auxilio policial con la “boleta de auxilio”, el personal policial en ejercicio de sus funciones, procederá con la aprehensión del infractor/a y lo conducirá ante una autoridad judicial competente en la Unidad de Flagrancia más cercana.  <br>  <br>
                </div>
              </div>
              <br> 
  
              <br> 
              <div class="contendor-ojo">
                <div class="contiene-ojo">
                  <ion-icon name="notifications-outline"></ion-icon>
                </div><br>  <br>
                <div class="contiene-texto-ojo">
                  El personal policial deberá verificar previamente en el sistema, si el presunto agresor fue notificado con las medidas administrativas de protección inmediata emitidas en su contra, al momento de realizar parte web (Judicial, Policial, Medidas/Delegación) correspondiente.<br>  <br>
                </div>
              </div>
  
    <div class="boton-azul">
      <div class="letra-boton1" routerLink="/home2">VOLVER</div>
    </div>
  </div>
</ion-content>