<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu42"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    <div class="titulo-interno">Descripción Procedimiento</div>
    <p class="texto-interno">El personal policial en ejercicio de sus funciones procederá con la notificación y ejecución de las MAPIs determinadas en los literales a), b) f) y h) el artículo 51 de la LOIPEVcM, conforme disposición de las autoridades administrativas: Tenientes Político, Comisarios Nacionales e Intendencias.</p>
    <br>
    <div class="titulo-interno">NOTIFICACIÓN Y EJECUCIÓNSIMULTÁNEA</div>
            <p class="texto-interno"><b>VERIFICACIÓN	DE DATOS</b></p>
            <p class="texto-interno">El personal policial en ejercicio de sus funciones, en todos los casos procederá a verificar el contenido de la notificación.</p>
            <br>
            <p class="texto-interno"><b>a) Notificación de la Boleta de auxilio y orden de restricción de acercamiento. </b></p>
            <p class="texto-interno">Coordinar con la víctima la fecha, hora y lugar en la que se notificará al presunto agresor.</p>
            <p class="texto-interno">Constatar como medida de seguridad, los antecedentes personales de la víctima y de la presunta persona agresora, y se trasladará hacia el lugar que consta en el documento emitido por la autoridad administrativa.</p>
            <p class="texto-interno">Tomar las medidas de seguridad para su actuación y solicitar refuerzos si fuera necesario.</p>
            <p class="texto-interno">Identificarse ante la persona contra quien se ha emitido la orden judicial e informarle del procedimiento.</p>
            <p class="texto-interno">Comprobar la identificación del presunto agresor solicitando un documento de identificación personal.</p>
            <br>
  
            <div class="contendor-ojo">
              <div class="contiene-ojo">
                <ion-icon name="notifications-outline"></ion-icon>
              </div><br>  <br>
              <div class="contiene-texto-ojo">
                Leer de forma clara del nombre de la autoridad administrativa y explicar de qué se trata la MAPI.  <br>  <br>
              </div>
            </div>
  
            <br>
            <p class="texto-interno">Dar lectura en forma clara del nombre de la autoridad administrativa y notificará a la presunta persona agresora sobre la medida administrativa de protección inmediata emitida en su contra con una explicación de lo qué trata la misma. </p>
            <p class="texto-interno"> Informar al presunto agresor, que el incumplimiento de una MAPI constituye un delito sancionado con prisión.</p>
            <p class="texto-interno">Entregar una copia de la documentación a la presunta persona agresora (al notificado/a) y se receptará el respectivo recibido respectivo recibido. </p>
            <p class="texto-interno">Tomar foto de la recepción de la notificación y agregarla como anexo al parte web.</p>  
            <p class="texto-interno">Elaborar el parte web correspondiente indicando si realizó o no la notificación de la medida administrativa, haciendo constar todos los detalles de lo actuado. El sistema automáticamente dará a conocer a la autoridad administrativa, el Servidor Policial y en un tiempo máximo de 24 horas deberá recibir un correo electrónico que le indicará que a la autoridad administrativa ha recibido en su bandeja el parte web (Judicial, Policial, Medidas/Delegación) correspondiente.</p>  
            <br>
            <p class="texto-interno"><b>b)	Notificación		y ejecución simultánea de		las	medidas administrativas. Restitución		de	la víctima al domicilio habitual y salida del agresor.</b></p>
            <p class="texto-interno">Coordinar con la víctima la fecha, hora y lugar en la que se ejecutarán las MAPIs, en presencia de las dos partes y en la vivienda en común.</p>
            <p class="texto-interno"> Constatar como medida de seguridad, los antecedentes personales de la víctima y de la presunta persona agresora, y se trasladará hacia el lugar que consta en el documento emitido por la autoridad administrativa.</p>
            <p class="texto-interno"> Tomar las medidas de seguridad para su actuación y solicitar refuerzos si se amerita.</p> 
            <p class="texto-interno"> Poner en conocimiento mediante diálogo previo a la persona encargada de la vivienda, condominio y otros, de la diligencia dispuesta por la autoridad competente y proceder a ejecutar la medida administrativa de protección inmediata.</p>
            <p class="texto-interno">Identificarse ante la persona contra quien se ha emitido la orden judicial e informar el procedimiento a realizarse.</p> 
            <p class="texto-interno">Dar lectura en forma clara del nombre de la autoridad administrativa y notificará a la presunta persona agresora sobre la MAPI emitida en su contra, le explicará de qué se trata y solicitará su salida inmediata del domicilio, quien únicamente podrá sacar sus herramientas de trabajo y prendas personales, precautelando siempre la seguridad de las partes.</p> 
            <p class="texto-interno">Comprobar la identificación de la presunta persona agresora, solicitando un documento de identificación personal.</p> 
            <p class="texto-interno">Notificar a la presunta persona agresora sobre la MAPI emitida en su contra, explicar de qué se trata y solicitar su salida inmediata del domicilio.</p> 
            
            <br>          
            <div class="contendor-ojo">
              <div class="contiene-ojo">
                <ion-icon name="eye-outline"></ion-icon>
              </div><br>  <br>
              <div class="contiene-texto-ojo">
                En todo momento precautelar la seguridad de las partes involucradas.
                <br>  <br>
              </div>
            </div>
            <br> 
  
            <p class="texto-interno">Solicitar al presunto agresor las llaves del domicilio y entregarlas a la víctima. </p>
  
            <br>
            <div class="contendor-ojo">
              <div class="contiene-ojo">
                <ion-icon name="notifications-outline"></ion-icon>
              </div><br>  <br>
              <div class="contiene-texto-ojo">
                 Recomendar el cambio de cerraduras en el caso de no obtener las llaves.<br>  <br>
              </div>
            </div>
  
            <br> 
            <p class="texto-interno">Informar a la persona presunta agresora, que el incumplimiento de una MAPI constituye un delito sancionado con prisión.</p>
            <p class="texto-interno">Aplicar el uso progresivo y diferenciado de la fuerza, en caso de que  el presunto agresor se niegue a salir del domicilio común y proceder a la aprehensión por incumplimiento de decisiones legítimas de la autoridad competente.</p>
            <p class="texto-interno">Una vez que el agresor haya salido de la vivienda común, la víctima se reintegrará a su domicilio.</p>
            <p class="texto-interno"> Entregar una copia de la documentación a la presunta persona agresora (al notificado/a) y receptar el respectivo recibido. </p>
            <p class="texto-interno">Tomar foto de la recepción de la notificación y agregarla como anexo al parte web (Judicial, Policial, Medidas/Delegación)</p>
            <p class="texto-interno">Elaborar el parte web (Judicial, Policial, Medidas/Delegación) correspondiente en un tiempo máximo de 24 horas y dará a conocer a la autoridad administrativa, indicando si se ejecutó o no las MAPIs, haciendo constar todos los detalles de lo actuado, en especial la autorización verbal del ingreso al domicilio.</p>
            <p class="texto-interno">Coordinar con la víctima la fecha, hora y lugar en la que se ejecutará la MAPI, en presencia de las   dos partes y en la vivienda en común.</p>
            <br>  
            <p class="texto-interno"><b>f) Salida de la persona agresoradel domicilio.</b></p>
              <p class="texto-interno">Constatar como medida de seguridad, los antecedentes personales de la víctima y de la presunta persona agresora, y se trasladará hacia el lugar que consta en el documento emitido por la autoridad administrativa.</p>
              <p class="texto-interno">Tomará las medidas de seguridad para su actuación y solicitará refuerzos si la situación lo amerita</p>
              <p class="texto-interno"> Pedir autorización a la víctima para ingresar al domicilio.</p>
              <p class="texto-interno">Identificarse ante la persona contra quien se ha emitido la orden judicial e informarle el procedimiento a realizarse.</p>
              <p class="texto-interno"> Comprobar la identificación de la presunta persona agresora, dar lectura en forma clara del nombre de la autoridad administrativa y notificar a la presunta persona agresora sobre la MAPI emitida en su contra: salida inmediata del domicilio.</p>
              <br> 
  
              <div class="contendor-ojo">
                <div class="contiene-ojo">
                  <ion-icon name="eye-outline"></ion-icon>
                </div><br>  <br>
                <div class="contiene-texto-ojo">
                  Precautelar siempre la seguridad de las partes.<br>  <br>
                </div>
              </div>
              <br> 
  
              <p class="texto-interno">Solicitar al presunto agresor las llaves del domicilio y entregarlas a la víctima.</p>
              <br> 
  
              <div class="contendor-ojo">
                <div class="contiene-ojo">
                  <ion-icon name="notifications-outline"></ion-icon>
                </div><br>  <br>
                <div class="contiene-texto-ojo">
                  El cambio cerradura en el caso de no obtener las llaves. <br>  <br>
                </div>
              </div>
              <br> 
  
              <p class="texto-interno">Informar a la presunta persona agresora, que el incumplimiento de una MAPI, constituye un delito sancionado con prisión.</p>
              <p class="texto-interno">Aplicar el uso progresivo y diferenciado de la fuerza, en caso de que el presunto agresor se niegue a salir del domicilio común y proceder a la aprehensión por incumplimiento de decisiones legítimas de autoridad competente.</p>
              <p class="texto-interno">Entregar una copia de la documentación a la presunta persona agresora (al notificado/a) y se receptará el respectivo recibido.</p>
              <p class="texto-interno">Tomar foto del procedimiento de la notificación y agregarla como anexo al parte web (Judicial, Policial, Medidas/Delegación).</p>
              <p class="texto-interno">Elaborar parte policial correspondiente y dar a conocer a la autoridad administrativa, indicando si se ejecutó o no la MAPI, haciendo constar todos los detalles de lo actuado, en especial la autorización verbal del ingreso al domicilio.</p>
              <br> 
              <p class="texto-interno"><b>h) Notificación y ejecución	de la medida administrativa para la	instalación de dispositivos	de alerta.</b></p>
              <p class="texto-interno">Acudir al domicilio de la víctima e identificarse.</p>
              <p class="texto-interno">Dar lectura en forma clara del nombre de la autoridad administrativa y notificará a la víctima sobre la medida administrativa de protección inmediata emitida y le explicará el procedimiento para la activación del botón de seguridad.</p>
              <p class="texto-interno"> Proceder conforme lo determina el “Instructivo para realizar botón de seguridad” Cod: PNE-DNPC-BS-INST-02.</p>
              <p class="texto-interno"> Entregar una copia de la documentación a la víctima y receptar el respectivo recibido .</p>
              <p class="texto-interno">Tomar foto de la recepción de la notificación y agregarla como anexo al parte web (Judicial, Policial, Medidas/Delegación).</p>
              <p class="texto-interno"> Elaborar el parte web (Judicial, Policial, Medidas/Delegación) correspondiente en un tiempo máximo de 24 horas y dar a conocer a la autoridad administrativa, indicando si se realizó o no la notificación de la medida administrativa y la activación del botón de seguridad, haciendo constar todos los detalles de lo actuado, <b>en especial la autorización verbal del ingreso al domicilio.</b></p>
              <br> 
              <div class="titulo-interno">IMPORTANTE</div> 
              <div class="titulo-interno">Actuación Policial en Caso de Incumplimiento de MAPIS otorgadas. </div>
  
              <br> 
              <div class="contendor-ojo">
                <div class="contiene-ojo">
                  <ion-icon name="warning-outline"></ion-icon>
                </div><br>  <br>
                <div class="contiene-texto-ojo">
                  En caso de que una persona incumpla las medidas administrativas de protección inmediata emitidas en su contra por una autoridad administrativa competente y la víctima solicite auxilio policial con la “boleta de auxilio”, el personal policial en ejercicio de sus funciones, procederá con la aprehensión del infractor/a y lo conducirá ante una autoridad judicial competente en la Unidad de Flagrancia más cercana.  <br>  <br>
                </div>
              </div>
              <br> 
  
              <br> 
              <div class="contendor-ojo">
                <div class="contiene-ojo">
                  <ion-icon name="notifications-outline"></ion-icon>
                </div><br>  <br>
                <div class="contiene-texto-ojo">
                  El personal policial deberá verificar previamente en el sistema, si el presunto agresor fue notificado con las medidas administrativas de protección inmediata emitidas en su contra, al momento de realizar el parte web (Judicial, Policial, Medidas/Delegación).<br>  <br>
                </div>
              </div>
  
    <div class="boton-azul">
      <div class="letra-boton1" routerLink="/home2">VOLVER</div>
    </div>
  </div>
</ion-content>