<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu22"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Violencia Gineco obstétrica</div>
  <p class="texto-interno">Barrera para el acceso y permanencia de las mujeres
    en espacios de liderazgo, representación y toma de
    decisiones. 
    </p>
    <div class="icono1"><img src="https://i.imgur.com/fLQeq68.png"></div>
    <div class="cuadro-verde">
      <p class="texto-interno-blanco">Art. 10 g) LOPEIVCM: Se considera a toda
        acción u omisión que limite el derecho de las
        mujeres embarazadas o no, a recibir servicios
        de salud gineco-obstétricos. Se expresa a través
        del maltrato, de la imposición de prácticas
        culturales y científicas no consentidas o la
        violación del secreto profesional, el abuso de
        medicalización, y la no establecida en
        protocolos, guías o normas; las acciones que
        consideren los procesos naturales de
        embarazo, parto y posparto como patologías, la
        esterilización forzada, la pérdida de autonomía
        y capacidad para decidir libremente sobre sus
        cuerpos y su sexualidad, impactando
        negativamente en la calidad de vida y salud
        sexual y reproductiva de mujeres en toda su
        diversidad y a lo largo de su vida, cuando esta
        se realiza con prácticas invasivas o maltrato
        físico o psicológico.
        </p>
    </div>
    <div class="boton-blanco" routerLink="/casosginecoddd">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Ver un caso</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>
</ion-content>
