<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/interc"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Casos  </div>
  <div class="titulo-interno">E.  </div>
  <p class="texto interno">Laura es una mujer indígena, tiene 17 años de
    edad, es vendedora ambulante y vive en condición de pobreza. Está embarazada y acudió en el
    octavo mes al Centro de salud de su sector por
    molestias presentadas. Al ser atendida por el
    médico tratante, este se refirió a ella como una
    irresponsable, responsabilizándole de lo que
    pudiera pasar con su salud y la de sus bebés.<br>
    Una
    vez ingresada, se sintió incómoda y asustada
    puesto que no fue atendida por un solo médico,
    varios practicantes de turno le hicieron el tacto, sin
    darle mayor explicación y sin que ella entienda lo
    que estaba pasando. Durante esta situación, otra
    paciente de nombre Leticia se dio cuenta de lo
    que pasaba y le dijo a Laura que lo sucedido no
    correspondía, y gentilmente la acompaño hasta la
    Tenencia Política a pedir ayuda.</p>
  <br>
  <div class="icono1"><img src="https://i.imgur.com/wVqkYvo.png"></div>
    
    <div class="boton-blanco" routerLink="/pautas10c">
      <div class="div-a">
        <div class="letra-boton" routerLink="/pautas10c"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Pautas Generales</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <hr>

    <div class="boton-blanco" routerLink="/normativas10c">
      <div class="div-a">
        <div class="letra-boton" routerLink="/normativas10c"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Normativa Aplicada</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    <div class="boton-azul">
      <div class="letra-boton1" routerLink="/home2">VOLVER A MENÚ PRINCIPAL</div>
    </div>

  </div>