<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/pregmenu222"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="link41" size="auto">
    <ng-template>
      <ion-content class="ion-padding">CTA: Código de la Niñez y Adolescencia <br> 
        ART 79 
        </ion-content>
    </ng-template>
  </ion-popover>

  <div class="fondo-gris">
    <div class="titulo-interno">¿Puede requerir una acción urgente una adolescente ?</div>


    <p class="texto-interno">La Policía Nacional debe otorgar las acciones urgentes que se encuentran dentro de sus competencias y deberá informar a la víctima <a id="link41">acerca de las medidas de protección inmediata que puede solicitar.</a></p>
    <p class="texto-interno">Dependiendo de la acción urgente requerida, al tratarse de adolescentes, la Policía Nacional debe coordinar con la Policía Especializada en Niños, Niñas y Adolescentes, favor mejorar la respuesta.</p>
    <div class="contendor-ojo">
        <div class="contiene-ojo">
          <ion-icon name="eye-outline"></ion-icon>  
        </div>
        <div class="contienetexto-ojo">
          <p class="texto-interno">Puede presentarse sin la necesidad de estar acompañada por una persona adulta o el representante legal.</p>
        </div>
     </div>
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>
</ion-content>