<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/acciones2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno">Aquellas actuaciones que la Policía Nacional, en el marco del respeto a los derechos humanos, debe ejecutar de forma inmediata, ya sea de oficio o a petición de parte, con la única finalidad de evitar o mitigar el riesgo o la vulneración del derechos a la integridad personal de las víctimas de violencia contra las mujeres.</p>

      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>