<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/pregmenu"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">¿Puede un integrante del
    DECE (Departamento de
    Consejería Estudiantil)
    acercarse a la Tenencia
    Política para solicitar una
    MAPIs a favor de una niña,
    niño o adolescente víctima
    de algún tipo de violencia?
   </div>

   <p class="texto-interno">Cualquier persona que conozca de un hecho de violencia puede acercarse a solicitar una medida de protección a favor de una presunta víctima. En el caso de que la víctima se trate de un niño o adolescente varón la persona integrante del DECE deberá dirigirse a la Junta Cantonal de Protección de Derechos. Si dentro del territorio no existiera la
    JCPD, se debe redirigir la solicitud a Fiscalía.
     </p>
    <p class="texto-interno">Si es que esta sucede en el espacio
    educativo, además, el DECE deberá activar los
    protocolos correspondientes.</p>


  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>