<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu22"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Violencia Simbólica</div>
  <p class="texto-interno">Todo acto que refuerza los estereotipos sobre los
    que se sostiene la violencia.
    </p>
    <div class="icono1"><ion-icon name="videocam-off-outline"></ion-icon></div>
    <div class="cuadro-verde">
      <p class="texto-interno-blanco">Art. 10 e) LOIPEVcM es: toda conducta que, a través
        de la producción o reproducción de mensajes,
        valores, símbolos, iconos, signos e imposiciones de
        género, sociales, económicas, políticas, culturales y
        de creencias religiosas, transmiten, reproducen y
        consolida n relaciones de dominación, exclusión,
        desigualdad y discriminación, naturalizando la
        subordinación de las mujeres.</p>
    </div>
    <div class="boton-blanco" routerLink="/casossim2">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Ver un caso</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>
</ion-content>