<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casosdb"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">TIPO DE VIOLENCIA:</div>
  <p class="texto-interno">Política</p>
  <br>
  <div class="titulo-interno">ÁMBITO: </div>
  <p class="texto-interno">Institucional</p>
  <br>
  <div class="titulo-interno">PAUTAS GENERALES </div>
  <p class="texto-interno">Para garantizar el derecho la participación, se
    desarrollará una medida administrativa
    enmarcada en el para disponer al Partido
    Político que se garantice la libre participación
    de la víctima de acuerdo a lo establecido en la
    normativa interna del partido y se prohibirá
    acciones de intimidación a los miembros del
    partido que estén afectando a la víctima.</p>
    <p class="texto-interno">Encaminar acciones de sensibilización en
    derechos de participación de las mujeres. </p>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>

</ion-content>