<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu42"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="link18" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Si continúa con este procedimiento va a salir de la aplicación, ¿Está seguro que desea continuar?   <br>
        <a href="#"> Continuar</a> - <a href="/descripcion2">Cancelar</a></ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link19" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Activar <ion-icon name="arrow-forward-outline"></ion-icon> y ejecutar	<ion-icon name="arrow-forward-outline"></ion-icon> los siguientes mecanismos hasta 90 días después de ocurrido el hecho de violencia.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link20" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> ADEMÁS de otras medidas administrativas que la víctima solicite directamente en ese momento.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link21" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Informarle que puede solicitar la MAPI para la salida del agresor en caso de que su presencia represente riesgo para la integridad de la víctima.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link22" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Observando los principios fundamentales:<br> 
        Derechos humanos<br> 
        Integridad física y psicológica<br> 
        Identidad de género e intercultural</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link23" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Esta actividad La llevará a cabo una persona del mismo sexo o identidad sexual de la persona detenida.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link23b" size="auto">
    <ng-template>
      <ion-content class="ion-padding">GLOBO DE TEXTO ARTICULO LEY <br>
        artículo 51 Además de las medidas administrativas establecidas en otras normas vigentes, se contemplará el otorgamiento de una o varias de las siguientes medidas inmediatas de protección<br>
        b) Ordenar la restitución de la víctima al domicilio habitual, cuando haya sido alejada de este por el hecho violento y así lo solicite, con las garantías suficientes para proteger su vida e integridad;<br>
        f) Ordenar al agresor la salida del domicilio cuando su presencia constituya una amenaza para la integridad física, psicológica o sexual o la vida de la mujer o cualquiera de los miembros de la familia;
        </ion-content>
    </ng-template>
  </ion-popover>
  

  <ion-popover trigger="link23c" size="auto">
    <ng-template>
      <ion-content class="ion-padding"><ion-icon name="checkmark-circle-outline"></ion-icon>Identificarse frente a la victima o presunto agresor previo a su actuación o toma de procedimiento.<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon>Solicitar autorización expresa de la victima para proceder a verificar si la persona que ejerció puede ejercer violencia que se encuentra en el interior del domicilio.<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon>Si el presunto agresor está en el domicilio.<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon>Toma en contacto con el agresor.<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon>Identificarse e indicar el procedimiento a seguir.<br>
        <ion-icon name="checkmark-circle-outline"></ion-icon> Garantizar su seguridad de la victima durante el tiempo que requería para tomar sus documentos de identificación y personales, así como otras pertenencias necesarias para su subsistencia y la de sus hijos.
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link23d" size="auto">
    <ng-template>
      <ion-content class="ion-padding">En caso de que la persona dueña del inmueble donde reside, prohíba su ingreso y el de la policía. Informar a la víctima el procedimiento para presentar la denuncia y MAPIs.
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link23e" size="auto">
    <ng-template>
      <ion-content class="ion-padding">FOTO PARTE WEB
        </ion-content>
    </ng-template>
  </ion-popover>

  <div class="fondo-gris">
  <div class="titulo-interno">Descripción Procedimiento</div>

        <p class="texto-interno"><b>a)	Acudir	de manera inmediata.</b></p>
          <p class="texto-interno">Ante una alerta generada por botón de seguridad, llamada al ECU911, video vigilancia, patrullaje, vigilancia policial y otros mecanismos de alerta, acudirán inmediatamente al lugar.</p>
          <p class="texto-interno">El personal policial, identificará a la víctima de violencia contra la mujer, para cuyo efecto se utilizará el formulario <a href="/descripcion2">“Ejecución de acciones urgentes”.</a></p>
            <div class="boton">
              <div class="icono-b" ><ion-icon name="document-outline"></ion-icon></div> <div class="letra-boton2" ><a id="link18"> Descargar Archivo Original</a></div>
              </div>
            <br>
          
          <p class="texto-interno"><b>b) Protocolo de actuación.</b></p>
          <p class="texto-interno">El personal policial en el ejercicio de sus funciones, activará	y ejecutará	los  siguientes mecanismos de seguridad y protección con víctimas, hasta 90 días después de ocurrido el hecho de violencia.</p>

          <p class="texto-interno">a)	<a href="/descripcion2">Solicitud de MAPIs</a> contemplada en el literal a) del Art. 51 de la LOIPEVcM- “Boleta de auxilio y orden de restricción de acercamiento a la víctima <a id="link20">por parte del agresor".</a></p>  
          <p class="texto-interno"><a href="/descripcion2">b)	Visitas domiciliarias</a> de seguimiento a la víctima.</p>  
          <p class="texto-interno">c)	Hitos de patrullaje.</p>  
          <p class="texto-interno">d)	Activación del botón de seguridad.</p>  
          <br>
          <p class="texto-interno"> <b>Reintegro de la víctima a su domicilio habitual:</b></p>       
          <p class="texto-interno">Informar a la víctima acerca de la necesidad de garantizar su seguridad para reintegrarse a su domicilio y la importancia de solicitar las <a href="/acciones">MAPIs </a>contempladas en los literales <a id="link23b">b) y f) del artículo 51 de la LOIPEVcM,</a> ante una autoridad administrativa.</p>  
     
          <br>
          <p class="texto-interno"><b>Acompañamiento policial para tomar sus pertenencias:</b></p>  
          <p class="texto-interno">La víctima directamente podrá solicitar a la Policía Nacional, <a id="link23c">el acompañamiento</a> a su domicilio habitual para tomar sus pertenencias o las de las personas dependientes, sin necesidad de que existan MAPIs emitidas por autoridades administrativas y judiciales.</p>
          <br>
          <p class="texto-interno">Tomar contacto con <a id="link23d">el/la dueño/a del inmueble </a>e indicará el tipo de procedimiento que está siguiendo y solicitará las facilidades para el ingreso de la víctima para adquirir sus pertenencias, Dejar a buen recaudo a la víctima, una vez que haya tomado sus pertenencias y abandone el domicilio, en ese  momento dará por terminado el procedimiento y realizará el parte web correspondiente. </p>
          <br>
          <p class="texto-interno">Dejar a buen recaudo a la víctima, una vez que haya tomado sus pertenencias y abandone el domicilio, en ese  momento dará por terminado el procedimiento y realizará el <a id="link23e">parte web correspondiente.</a></p>
          <p class="texto-interno">Proceder conforme lo determina la ley, para los<b> casos flagrantes,</b> si al momento de acompañar a la víctima a su lugar de residencia, se evidencia que la <b>presunta persona agresora se muestra agresiva, produce hechos de violencia </b>para impedir que la víctima pueda tomar sus pertenencias o la de las personas dependientes.</p>
          
          <br>

          <p class="texto-interno"><b>
            El personal policial deberá informar a la víctima sobre las instancias administrativas para otorgar este tipo de medidas coo son: Juntas Cantonales de Protección de Derechos, Tenencias Políticas.</b></p> 
          <p class="texto-interno">Donde	no	existan	Juntas Cantonales de Protección de Derechos serán las   Comisarías   Nacionales   de   Policía   e Intendencias	Generales	de	Policía.</p>
          <p class="texto-interno">Informará que el carácter de dichas medidas.</p>
            <p class="texto-interno">Clarificar que dichas medidas <b>son de carácter temporal y no constituyen un prejuzgamiento o condena.</b></p>
          
          <br>
          <div class="contendor-ojo">
            <div class="contiene-ojo">
              <ion-icon name="eye-outline"></ion-icon>
            </div><br>  <br>
            <div class="contiene-texto-ojo">
              En caso de que la dependenciaadministrativa no cuento con servicio de internet, o con los medios logísticos necesarios, se acompañarán a la víctima hasta la dependencia más cerca.
              <br>  <br>
            </div>
          </div>

          <p class="texto-interno">Adoptar las medidas necesarias para <b>garantizar la seguridad</b> de la víctima y de ser el caso de los dependientes  durante el proceso de solicitud y otorgamiento de medidas por parte de la autoridad competente.</p>
          <p class="texto-interno">El personal policial<b>no puede negarse</b>  a acompañar a la víctima, hasta su lugar de domicilio, donde procederá a verificar las <a id="link21">condiciones de seguridad de la víctima </a>y sus dependientes después de la recepción de la boleta de auxilio y orden de restricción de acercamiento por parte del agresor.</p>
          <p class="texto-interno"><b>e)</b> El personal policial reportará el procedimiento al Sistema Integrado de Seguridad ECU 911, una vez conocido por cualquier medio, la existencia o localización de un caso de violencia física, psicológica o sexual, en contra de una mujer, con el fin de: Registrar la actuación policial, Acudir al lugar de los hechos. Identificar a la víctima y presunto agresor/a.</p>
        
         
          <p class="texto-interno">El servidor policial utilizará la fuerza sólo cuando sea estrictamente necesario.</p>
          <p class="texto-interno">Proceder a la <a id="link22">aprehensión </a>del presunto agresor e informarle acerca de los derechos constitucionales que le asisten.</p>
          <p class="texto-interno"><a id="link23">Registrar a la  persona presunta agresora.</a></p>
          <p class="texto-interno">Informar y explicar de <b>manera  clara y sencilla</b> la causa de la detención.</p>
          <br>
          <div class="contendor-ojo">
            <div class="contiene-ojo">
              <ion-icon name="notifications-outline"></ion-icon>
            </div><br>  <br>
            <div class="contiene-texto-ojo">
              En caso de que el presunto infractor requiera <a href="/descripcion2">asistencia médica </a>urgente, se trasladará a un centro asistencial. <br>  <br>
            </div>
          </div>

          <p class="texto-interno">Trasladar  al agresor/a, a la Fiscalía, Unidad Judicial Especializada en Violencia contra la Mujer o Miembros del Núcleo Familiar, adoptando las medidas de seguridad necesarias<b> en un tiempo máximo de veinticuatro (24) </b>horas desde el instante de la detención.</p>
          <p class="texto-interno">Elaborar parte web correspondiente para dar a conocer a la autoridad judicial los hechos suscitados.</p>
          <p class="texto-interno"><a href="/descripcion2">Ir a parte web</a></p>
          <br>
          <p class="texto-interno"><b>f) ) Informar a la/s víctima/s acerca de las<br>
            <a href="/descripcion2">Medidas de autoprotección en casos de violencia intrafamiliar.</a></b></p>
          <p class="texto-interno">Comunicar acerca de las entidades Públicas que brindan <a href="/descripcion2">servicios de atención y protección a víctimas de violencia  contra la mujer.</a>  </p>
          <p class="texto-interno"> Proporcionar: <br> <a href="/descripcion2">La Ruta para denunciar</a> ante la Fiscalía y Jueces competentes. </p>
          <p class="texto-interno"> <a href="/descripcion2">La Ruta para solicitud </a> de MAPIs ante la Junta Cantonal de Protección de Derechos, Tenencia Política, Comisaría Nacional de Policía e Intendencia General de Policía. </p>
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>
</ion-content>