<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu12"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="link13" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Aquellas actuaciones que la Policía Nacional, en el marco del respeto a los derechos humanos, debe ejecutar de forma inmediata, ya sea de oficio o a petición de parte, con la única finalidad de evitar o mitigar el riesgo o la vulneración del derechos a la integridad personal de las víctimas de violencia contra las mujeres.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link14" size="auto">
    <ng-template>
      <ion-content class="ion-padding">De manera verbal o escrita, y sin la necesidad de patrocinio profesional.</ion-content>
    </ng-template>
  </ion-popover>

  

  <ion-popover trigger="link17" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> Unidades Judiciales de violencia contra las mujeres<br>
        Comisarías Nacionales<br>
        Centros de Salud<br>
        Defensoría del Pueblo<br>
        ECU 911<br>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link18" size="auto">
    <ng-template>
      <ion-content class="ion-padding">ADEMÁS de otras medidas administrativas que la víctima solicite directamente en ese momento.<br>
        </ion-content>
    </ng-template>
  </ion-popover>
 

  <ion-popover trigger="link16" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Artículo 51 Además de las medidas administrativas establecidas en otras normas vigentes, se contemplará el otorgamiento de una o varias de las siguientes medidas inmediatas de protección.<br>
        b) Ordenar la restitución de la víctima al domicilio habitual, cuando haya sido alejada de este por el hecho violento y así lo solicite, con las garantías suficientes para proteger su vida e integridad;<br>
        f) Ordenar al agresor la salida del domicilio cuando su presencia constituya una amenaza para la integridad física, psicológica o sexual o la vida de la mujer o cualquiera de los miembros de la familia;
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link19" size="auto">
    <ng-template>
      <ion-content class="ion-padding">En caso de que la persona dueña del inmueble donde reside, prohíba su ingreso y el de la policía. Informar a la víctima el procedimiento para presentar la denuncia y MAPIs.<br>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link20" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Informarle que puede solicitar la MAPI para la salida del agresor en caso de que su presencia represente riesgo para la integridad de la víctima.<br>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link21" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Observando los principios fundamentales:<br> 
        Derechos humanos<br>
        Integridad física y psicológica <br>
        Identidad de género e intercultural
        <br>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link22" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Esta actividad La llevará a cabo una persona del mismo sexo o identidad sexual de la persona detenida.<br>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link23" size="auto">
    <ng-template>
      <ion-content class="ion-padding"><ion-icon name="eye-outline"></ion-icon> Obtener el certificado médico de la condición de salud.<br>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link24" size="auto">
    <ng-template>
      <ion-content class="ion-padding"><ion-icon name="eye-outline"></ion-icon> 1. Ente rector de Justicia y Derechos Humanos; 
        2. Ente rector de Educación; <br>
        3. Ente rector de<br>
        Educación Superior; 
        4. Ente rector de Salud;<br>
        5. Ente rector de Seguridad Ciudadana y
        Orden Público; <br>
        6. Ente rector de Trabajo;<br>
        7. Ente rector de Inclusión Económica y Social;        <br>
        8. Consejos Nacionales para la Igualdad;         <br>
        9.Consejo de Regulación y Desarrollo de la
        Información y Comunicación;         <br>
        10. Instituto Nacional de Estadísticas y Censos;         <br>
        11.Servicio Integrado de Seguridad ECU 911;        <br>
        12. Consejo de la Judicatura;         <br>
        13. Fiscalía General del Estado;         <br>
        14. Defensoría Pública;        <br>
        15. Defensoría del Pueblo; y,         <br>
        16. Un representante elegido por la asamblea de
        cada órgano asociativo de los Gobiernos
        Autónomos Descentralizados. Las distintas
        entidades públicas y niveles de gobierno,
        tienen la obligación de articular y coordinar
         entre sí y con los actores vinculados,
        acciones de prevención, atención,
        protección y reparación. En toda actividad,
        se observará el principio de
        descentralización y desconcentración en la
        provisión de servicios y en la ejecución de
        medidas.
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link25" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> <img src="https://i.imgur.com/hupnJcA.jpg"> <br><a routerLink="/https://drive.google.com/file/d/1iMgI-8hp35PgAuI6gXsqQulcQP0FOG8U/view?usp=sharing" target="_blank">Descargar</a>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link15" size="auto">
    <ng-template>
      <ion-content class="ion-padding">  Si continúa con este procedimiento va a salir de la aplicación, ¿Está seguro que desea continuar?   <br><img src="https://i.imgur.com/hupnJcA.jpg"> <br>
      <a routerLink="/https://drive.google.com/file/d/1iMgI-8hp35PgAuI6gXsqQulcQP0FOG8U/view?usp=sharing" target="_blank"> Continuar</a> - <a routerLink="/acciones2">Cancelar</a></ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link26" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> <img src="https://i.imgur.com/U1B8oGd.jpg"> <br><a routerLink="/https://drive.google.com/file/d/1hR00VhperQKwHHgfUH5V0WnQOtHCOxXk/view?usp=sharing" target="_blank">Descargar</a>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link27" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> <img src="https://i.imgur.com/RtuBfHI.jpg"> <br><a routerLink="/#">Descargar</a>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link28" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> <img src="https://i.imgur.com/x9oVkAz.jpg"> <br><a routerLink="/acciones">Ir a Mapis</a>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link29" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> <img src="https://i.imgur.com/UC79Mwl.jpg"> <br><a routerLink="/#">Descargar</a>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link30" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> <img src="https://i.imgur.com/rLlu0V9.jpg"> <br><a routerLink="/https://drive.google.com/file/d/1CwTFat50u918Cin79WDG__LdVS6PsNL6/view?usp=sharing" target="_blank">Descargar</a>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link31" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> <img src="https://i.imgur.com/MKFba9R.jpg"> <br><a routerLink="/https://drive.google.com/file/d/10AiJcW2IuwdGl3RYYjaI_4vPN0xBcr8D/view?usp=sharing" target="_blank">Descargar</a>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link24z" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> <img src="https://i.imgur.com/MKFba9R.jpg"> <br><a routerLink="/#">Descargar</a>
        </ion-content>
    </ng-template>
  </ion-popover>

  <div class="fondo-gris">
  <div class="titulo-interno">Descripción Procedimiento</div>

  <p class="texto-interno">Son aquellas actuaciones que la Policía Nacional, debe ejecutar de forma inmediata, ya sea de oficio o a petición de parte, con la finalidad de evitar o mitigar el riesgo o la vulneración del derecho a la integridad personal de las víctimas de violencia contra las mujeres.</p><br>
  <!-- <div class="titulo-interno">¿Quiénes pueden solicitar Acciones Urgentes?</div>
  <p class="texto-interno"><a id="link14">Cualquier persona o grupo de personas</a> que conozcan de hechos que impliquen violencia contra las mujeres podrán solicitar acciones urgentes a favor de las víctimas.</p>-->
 
    <!-- pagina 2 -->
    <p class="texto-interno"><b>A) Acudir de manera inmediata.</b></p>
    <p class="texto-interno">Ante una alerta generada por botón de seguridad, llamada al ECU911, video vigilancia, patrullaje, vigilancia policial y otros mecanismos de alerta, acudirán inmediatamente al lugar.<br> El personal policial, identificará a la víctima de violencia contra la mujer, para cuyo efecto se utilizará el formulario <b><a id="link25">“Ejecución de acciones urgentes”.</a></b></p>
    <div class="boton">
      <div class="icono-b" ><ion-icon name="document-outline"></ion-icon></div> <div class="letra-boton2" ><b><a id="link15">Descargar Archivo Original</a></b></div>
      </div>
  <br>
    <p class="texto-interno"><b>B) Protocolo de actuación.</b></p>
<p class="texto-interno">El personal policial en el ejercicio de sus funciones, activará	y ejecutará	los  siguientes mecanismos de seguridad y protección con víctimas, hasta 90 días después de ocurrido el hecho de violencia.</p>

<br>
<p class="texto-interno">a)	<a id="link26">Solicitud de MAPIs</a> contemplada en el literal a) del Art. 51 de la LOIPEVCM- “Boleta de auxilio y orden de restricción de acercamiento a la víctima por <a id="link18">parte del agresor</a>".</p>
<p class="texto-interno">Parte web</p>
<p class="texto-interno">MEDIDAS/DELEGACIÓN</p>
<p class="texto-interno">b) <a id="link27">Visitas domiciliarias</a>  de seguimiento a la víctima.</p>
<p class="texto-interno">c)	Hitos de patrullaje.</p>
<p class="texto-interno">d)	Activación del botón de seguridad</p>
<p class="texto-interno"><b>C)</b></p>
<p class="texto-interno"><b>Reintegro de la víctima a su domicilio habitual:</b></p>
<p class="texto-interno">Informar a la víctima acerca de la necesidad de garantizar su seguridad para reintegrarse a su domicilio y la importancia de solicitar las <a id="link28">MAPIs</a> contempladas en los literales <a id="link16">b) y f) del artículo 51 de la LOIPEVCM,</a> ante una autoridad administrativa.</p>
<p class="texto-interno">El personal policial procederá conforme la acción urgente No. 2 literal a, descrita en el presente instructivo, en caso de que la víctima no pueda o no desee solicitar directamente las medidas administrativas de protección inmediata contempladas en los literales b) y f) del artículo 51 de la LOIPEVCM.</p>
<p class="texto-interno"><b>Acompañamiento policial para tomar sus pertenencias:</b></p>
<p class="texto-interno">La víctima directamente podrá solicitar a la Policía Nacional, el acompañamiento  a su domicilio habitual para tomar sus pertenencias o las de las personas dependientes, sin necesidad de que existan MAPIs emitidas por autoridades administrativas y judiciales.</p>
<p class="texto-interno"> RECUERDA: tomar <a id="link19">contacto con el/la dueño/a del inmueble</a> e indicará el tipo de procedimiento que está siguiendo y solicitará las facilidades para el ingreso de la víctima para adquirir sus pertenencias, </p>
<p class="texto-interno">Dejar a buen recaudo a la víctima, una vez que haya tomado sus pertenencias y abandone el domicilio, en ese  momento dará por terminado el procedimiento y realizará el parte web correspondiente.</p>
<p class="texto-interno">Proceder conforme lo determina la ley, para los casos <b>flagrantes</b>, si al momento de acompañar a la víctima a su lugar de residencia, se evidencia que la <b>presunta persona agresora se muestra agresiva, </b>produce hechos de violencia para impedir que la víctima pueda tomar sus pertenencias o la de las personas dependientes.</p>

<p class="texto-interno">Dejar a buen recaudo a la víctima, una vez que haya tomado sus pertenencias y abandone el domicilio, en ese momento dará por terminado el procedimiento y realizará el parte web correspondiete.</p>

<p class="texto-interno">El personal policial deberá informar a la víctima sobre las instancias administrativas para otorgar este tipo de medidas como son: Juntas Cantonales de Protección de Derechos, Tenencias Políticas.</p>

<p class="texto-interno">Donde no existan Juntas Cantonales de Protección de Derechos serán  las   Comisarías  Nacionales de Policía  e Intendencias	Generales de Policía.</p>

<p class="texto-interno">Informará que el carácter de dichas medidas.</p>

<p class="texto-interno">Clarificar que dichas medidas <b>son de carácter temporal	 y no constituyen un Prejuzgamiento o condena.</b></p>

<div class="contendor-ojo">
<div class="contiene-ojo">
<ion-icon name="eye-outline"></ion-icon>
</div><br>  <br>
<div class="contiene-texto-ojo">
En caso de que la dependencia administrativa no cuento con servicio de internet, o con los medios logísticos necesarios, se acompañarán a la víctima hasta la dependencia más cerca.
<br>  <br>
</div>
</div>

<p class="texto-interno">Adoptar las medidas necesarias para <b>garantizar la seguridad</b> de la víctima y de ser el caso de los dependientes  durante el proceso de solicitud y otorgamiento de medidas por parte de la autoridad competente.</p>

<p class="texto-interno">El personal policial <b>no puede negarse</b> a acompañar a la víctima, hasta su lugar de domicilio, donde procederá a verificar las <a id="link20">condiciones de seguridad de la víctima</a>  y sus dependientes después de la recepción de la boleta de auxilio y orden de restricción de acercamiento por parte del agresor.</p>

<p class="texto-interno"><b>E) Aprehensión de la persona agresora cuando se encuentre en flagrancia</b></p>
<p class="texto-interno">El personal policial reportará el procedimiento al Sistema Integrado de Seguridad ECU 911, una vez conocido por cualquier medio, la existencia o localización de un caso de violencia física, psicológica o sexual, en contra de una mujer, con el fin de: Registrar la actuación policial, Acudir al lugar de los hechos. Identificar a la víctima y presunto agresor/a.</p>
<p class="texto-interno">El servidor policial utilizará la fuerza sólo cuando sea estrictamente necesario.</p>

<p class="texto-interno">Proceder a la <a id="link21">aprehensión</a>  del presunto agresor e informarle acerca de los derechos constitucionales que le asisten.</p>

<p class="texto-interno"><a id="link22">Registrar</a>   a la  persona presunta agresora.</p>
<p class="texto-interno">Informar y explicar <b>de manera  clara y sencilla</b> la causa de la detención.</p>
<p class="texto-interno">En caso de que el presunto infractor requiera <a id="link23">asistencia médica</a>  urgente, se trasladará a un centro asistencial.</p>

<p class="texto-interno">Trasladar  al agresor/a, a la Fiscalía, Unidad Judicial Especializada en Violencia contra la Mujer o Miembros del Núcleo Familiar, adoptando las medidas de seguridad necesarias en un <b>tiempo máximo de veinticuatro (24) horas</b> desde el instante de la detención.</p>

<p class="texto-interno">Elaborar parte web correspondiente para dar a conocer a la autoridad judicial los hechos suscitados. </p>
<p class="texto-interno">IR a parte web </p>

<p class="texto-interno"><b>f) Informar a la/s víctima/s acerca de las<br>
<a id="link29">Medidas de autoprotección en casos de violencia intrafamiliar.</a></b></p>
<p class="texto-interno">Comunicar acerca de las entidades Públicas que brindan <a id="link28">servicios de atención y protección a víctimas de violencia  contra la mujer.</a>  </p>
<p class="texto-interno"> Proporcionar <a id="link30">la Ruta para denunciar</a> ante la Fiscalía y Jueces competentes. </p>
<p class="texto-interno"> <a id="link31">La Ruta para solicitud </a> de MAPIs ante la Junta Cantonal de Protección de Derechos, Tenencia Política, Comisaría Nacional de Policía e Intendencia General de Policía. </p>



<div class="boton-azul">
<div class="letra-boton1" routerLink="/home2">VOLVER</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</ion-content>