<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu42"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Descripción Procedimiento</div>

        <p class="texto-interno"><b>a)	Acudir	de manera inmediata.</b></p>
          <p class="texto-interno">Ante una alerta generada por botón de seguridad, llamada al ECU911, video vigilancia, patrullaje, vigilancia policial y otros mecanismos de alerta, acudirán inmediatamente al lugar.</p>
          <p class="texto-interno">El personal policial, identificará a la víctima de violencia contra la mujer, para cuyo efecto se utilizará el formulario <a href="#">“Ejecución de acciones urgentes”.</a></p>
            <div class="boton">
              <div class="icono-b" routerLink="#"><ion-icon name="document-outline"></ion-icon></div> <div class="letra-boton2" routerLink="#">Descargar Archivo Original</div>
              </div>
            <br>
          <p class="texto-interno"><b>b)	<a href="#">Visitas domiciliarias</a> de seguimiento a la víctima</b></p>
          <p class="texto-interno">El personal policial en el ejercicio de sus funciones, activará	y ejecutará	los siguientes mecanismos de seguridad y protección con víctimas, hasta 90 días después de ocurrido el hecho de violencia.</p>
          <p class="texto-interno">a)	<a href="#">Solicitud de MAPIs</a> contemplada en el literal a) del Art. 51 de la LOIPEVcM- “Boleta de auxilio y orden de restricción de acercamiento a la víctima por parte del agresor".</p>  
          <p class="texto-interno">b)	Visitas domiciliarias de seguimiento a la víctima.</p>  
          <p class="texto-interno">c)	Hitos de patrullaje.</p>  
          <p class="texto-interno">d)	Activación del botón de seguridad.</p>  
          <br>
          <p class="texto-interno"> <b>c) Acompañamiento a la víctima para</b></p>
          <p class="texto-interno"> <b>Reintegro de la víctima a su domicilio habitual:</b></p>       
          <p class="texto-interno">Informar a la víctima acerca de la necesidad de garantizar su seguridad para reintegrarse a su domicilio y la importancia de solicitar las MAPIs contempladas en los literales b) y f) del artículo 51 de la LOIPEVcM, ante una autoridad administrativa.</p>  
          <p class="texto-interno">El personal policial procederá conforme la acción urgente No. 2 literal a, descrita en el presente instructivo, en caso de que la víctima no pueda o no desee solicitar directamente las medidas administrativas de protección inmediata contempladas en los literales b) y f) del artículo 51 de la LOIPEVcM.</p>  
          <br>
          <p class="texto-interno"><b>Acompañamiento policial para tomar sus pertenencias:</b></p>  
          <p class="texto-interno">La víctima directamente podrá solicitar a la Policía Nacional, el acompañamiento a su domicilio habitual para tomar sus pertenencias o las de sus hijos , sin necesidad de que existan MAPIs emitidas por autoridades administrativas y judiciales.</p>
          <br>
          <div class="contendor-ojo">
            <div class="contiene-ojo">
              <ion-icon name="notifications-outline"></ion-icon>
            </div><br>  <br>
            <div class="contiene-texto-ojo">
              tomar contacto con el/la dueño/a del inmueble e indicará el tipo de procedimiento que está siguiendo y solicitará las facilidades para el ingreso de la víctima para adquirir sus pertenencias,   <br>  <br>
            </div>
          </div>
          <br>
          <p class="texto-interno">Proceder conforme lo determina la ley, para los casos     flagrantes, si al momento de acompañar a la víctima a su lugar de residencia, se evidencia que la presunta persona agresora se muestra agresiva, produce hechos de violencia para impedir que la víctima pueda tomar sus pertenencias o la de sus hijos.</p>
          <p class="texto-interno">Dejar a buen recaudo a la víctima, una vez que haya tomado sus pertenencias y abandone el domicilio, en ese  momento dará por terminado el procedimiento y realizará el parte web correspondiente.</p>
          <br>

          <p class="texto-interno"><b>d) Acompañar a la víctima	a	la autoridad administrativa
            para solicitarla <b>emisión de la boleta de auxilio y la orden de restricción de acercamiento.</b><br>
            El personal policial deberá informar a la víctima sobre las instancias administrativas para otorgar este tipo de medidas coo son: Juntas Cantonales de Protección de Derechos, Tenencias Políticas.</b></p> 
          <p class="texto-interno">Donde no existan Juntas Cantonales de Protección de Derechos serán las Comisarias nacionales de Policía e Intendencias Generales de Policía.</p>
            <p class="texto-interno">Clarificar que dichas medidas son de carácter temporal y no constituyen un prejuzgamiento o condena.</p>
          <p class="texto-interno">Clarificar que dichas medidas son de <b>carácter temporal	y	no	constituyen un Prejuzgamiento o condena.</b></p>
          
          <br>
          <div class="contendor-ojo">
            <div class="contiene-ojo">
              <ion-icon name="eye-outline"></ion-icon>
            </div><br>  <br>
            <div class="contiene-texto-ojo">
              En caso de que la dependencia administrativa no cuente con servicio de internet o servicios necesarios para la atención,  se acompañará a la víctima hasta la dependencia administrativa más cercana.
              <br>  <br>
            </div>
          </div>

          <p class="texto-interno">Adoptar las medidas necesarias para <b>garantizar la seguridad</b> de la víctima y de ser el caso de los dependientes  durante el proceso de solicitud y otorgamiento de medidas por parte de la autoridad competente.</p>
          <p class="texto-interno"><b>e) Aprehensión de la persona agresora  cuando	se encuentre		en flagrancia	y  disposición ante la autoridad competente.</b></p>
        
          <p class="texto-interno">El personal policial<b>no puede negarse</b>  a acompañar a la víctima, hasta su lugar de domicilio, donde procederá a verificar las condiciones de seguridad de la víctima y sus dependientes después de la recepción de la boleta de auxilio y orden de restricción de acercamiento por parte del agresor.</p>

          <p class="texto-interno">El personal policial reportará el procedimiento al Sistema Integrado de Seguridad ECU 911, una vez conocido por cualquier medio, la existencia o localización de un caso de violencia física, psicológica o sexual, en contra de una mujer, con el fin de: Registrar la actuación policial, Acudir al lugar de los hechos. Identificar a la víctima y presunto agresor/a.</p>
          <p class="texto-interno">El servidor policial utilizará la fuerza sólo cuando sea estrictamente necesario.</p>
          <p class="texto-interno">Proceder a la <a href="#">aprehensión </a>del presunto agresor e informarle acerca de los derechos constitucionales que le asisten.</p>
          <p class="texto-interno"><a href="#">Registrar a la  persona presunta agresora.</a></p>
          <p class="texto-interno">Informar y explicar de <b>manera  clara y sencilla</b> la causa de la detención.</p>
          <p class="texto-interno">Registrar a la  persona presunta agresora.</p>
          <br>
          <div class="contendor-ojo">
            <div class="contiene-ojo">
              <ion-icon name="notifications-outline"></ion-icon>
            </div><br>  <br>
            <div class="contiene-texto-ojo">
              En caso de que el presunto infractor requiera <a href="#">asistencia médica </a>urgente, se trasladará a un centro asistencial. <br>  <br>
            </div>
          </div>

          <p class="texto-interno">Trasladar  al agresor/a, a la Fiscalía, Unidad Judicial Especializada en Violencia contra la Mujer o Miembros del Núcleo Familiar, adoptando las medidas de seguridad necesarias<b> en un tiempo máximo de veinticuatro (24) </b>horas desde el instante de la detención.</p>
          <br>
          <p class="texto-interno"><b>f) Solicitar atención especializada a las entidades	que conforman	el SNIPEVCM a favor de la víctima y de las personas que dependen de ella.</b></p>
          <p class="texto-interno">Informar a la/s víctima/s acerca de las<br>
            <a href="#">Medidas de autoprotección en casos de violencia intrafamiliar. </a>
             </p>
          <p class="texto-interno">Comunicar acerca de las entidades Públicas que brindan <a href="#">servicios de atención y protección a víctimas de violencia  contra la mujer.</a>  </p>
          <p class="texto-interno"> Proporcionar: <br> La Ruta para denunciar ante la Fiscalía y Jueces competentes. </p>
          <p class="texto-interno"> <a href="#">La Ruta para solicitud </a> de MAPIs ante la Junta Cantonal de Protección de Derechos, Tenencia Política, Comisaría Nacional de Policía e Intendencia General de Policía. </p>
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>
</ion-content>