<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/pregmenu"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    <div class="titulo-interno"> ¿Puede requerirse una acción urgente una adolescente una acción urgente?</div>


    <p class="texto-interno">La Policía Nacional debe otorgar las acciones urgentes que se encuentran dentro de sus competencias y deberá informar a la víctima acerca de las medidas de protección inmediata que puede solicitar .</p>
    <p class="texto-interno">Dependiendo de la acción urgente requerida, al tratarse de adolescentes, la Policía Nacional debe coordinar con la Policía Especializada en Niños, Niñas y Adolescentes, favor mejorar la respuesta.</p>
    <div class="contendor-ojo">
        <div class="contiene-ojo">
          <ion-icon name="eye-outline"></ion-icon>  
        </div>
        <div class="contienetexto-ojo">
          <p class="texto-interno">Puede presentarse sin la necesidad de estar acompañada por una persona adulta o el representante legal.</p>
        </div>
     </div>
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>