<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/pregmenu"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">¿Cuál es el procedimiento
    cuando una tercera persona
    solicita MAPIs a favor de una
    niña víctima de violencia por
    parte de su padre y su madre?
   </div>

   <p class="texto-interno">Deberán <b>emitir MAPIs contempladas en la
    LOIPEVCM y aquellas especificadas en el
    Código Integral de la Niñez y Adolescencia,</b>
    notificar al órgano judicial y/o disponer
    <b>intervención del DINAPEN</b> para ejecución de
    medidas si la integridad física, psicológica o
    sexual de la niña está siento vulnerada.
    </p>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>