<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">1.1. Lineamientos de Actuación
    para el Otorgamiento de MAPIs.</div>
  <p class="texto-interno">Establecer <a href="#">mecanismos de coordinación efectivos
    con la Policía Nacional de gestión preventiva,</a> el
    apoyo para la notificación y ejecución de medidas
    deberá <b>solicitar el informe</b> respectivo y <b>parte
    policial.</b></p>
    <p class="texto-interno">Establecer mecanismos de <b>coordinación con la
    Policía Comunitaria</b> para la notificación y
    ejecución de MAPIs establecidas en los literales a)
    b) f) y h) del Art. 51</p>
    <p class="texto-interno">Garantizar el <a href="#">manejo confidencial </a>de la
    <b>información concerniente a las solicitudes y
    otorgamiento de MAPIs en casos de violencia
    contra la mujer,</b> la información recopilada sobre
    víctima no podrá ser compartida, ni publicada a
    otras personas, funcionario o entidades que no
    sean parte del proceso. <a href="#">Suscribir acuerdo de
    confidencialidad.</a></p>
    <p class="texto-interno">Garantizar en todo momento la <b>gratuidad de los
    servicios.</b></p>
   
    <p class="texto-interno">Aplicar los <a href="#">enfoques</a> de: género, derechos
    humanos interculturalidad, intergeneracional,
    integralidad, interseccionalidad así como también
    los principios reconocidos en la Constitución e
    instrumentos internacionales como son: igualdad y
    no discriminación, diversidad, transversalidad,
    autonomía.
    <p class="texto-interno">Aplicar el principio del <a href="#">interés superior de la niña</a>,
    conforme lo determina el artículo 11 del Código
    de la Niñez y Adolescencia , por tanto, <b>no es
    necesario la presencia de padre, madre o quien
    ejerza la patria potestad</b> de una adolescente o
    niña si esta solicita una Medida.</p>
    <p class="texto-interno">En caso de existir solicitudes de MAPIs
    presentadas <b>por terceras personas a favor de
    niñas,</b> las/os Tenientes Políticos, Comisarios
    Nacionales de Policía e Intendentes Generales de
    Policía y Asistentes/Secretarias(os) deberán emitir
    MAPIs contempladas en la LOIPEVcM y aquellas
    especificadas en el Código Integral de la Niñez y
    Adolescencia, disponer intervención del DINAPEN
    para ejecución de medidas si la integridad física,
    psicológica o sexual de la niña está siento
    vulnerada.</p>
  <div class="boton-azul">
    <div class="letra-boton1">VOLVER AL MENÚ PRINCIPAL</div>
  </div>
</div>
</ion-content>

