<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="link1" size="auto">
    <ng-template>
      <ion-content class="ion-padding">CTA: GLOBO DE TEXTO, Tenientes Políticos, Comisarios Nacionales de Policía, Intendencias Generales de Policía o Juntas Cantonales de Protección de Derechos.
       </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link2" size="auto">
    <ng-template>
      <ion-content class="ion-padding">CTA: Globo de texto. Hacer prevalecer los derechos y el interés superior de los NNA.
       </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link3" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Globo de texto: Tenientes Políticos, Comisarios Nacionales de Policía, Intendencias Generales de Policía o Juntas Cantonales de Protección de Derechos.
       </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link4" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> Si continúa con este procedimiento va a salir de la aplicación, ¿Está seguro que desea continuar?   <br>
        <a href="#"> Continuar</a> - <a href="/acciones2">Cancelar</a>
       </ion-content>
    </ng-template>
  </ion-popover>

    <ion-popover trigger="link5" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> Si continúa con este procedimiento va a salir de la aplicación, ¿Está seguro que desea continuar?   <br>
        <a href="#"> Continuar</a> - <a href="/acciones2">Cancelar</a>
       </ion-content>
    </ng-template>
  </ion-popover>


  <div class="fondo-gris">
  <div class="titulo-interno"><b>Lineamientos</b></div>
  <p class="texto-interno">• El personal en el ejercicio de sus funciones está
    obligado a ejecutar las disposiciones emitidas por
    <b><a id="link1">autoridades administrativas</a></b> en el marco de
    implementación de la LOIPEVCM</p>
    <p class="texto-interno">• <b>La solicitud verbal </b>de la víctima o cualquier persona que conozca de un hecho de violencia es suficiente para proceder a la <b>ejecución de acciones urgentes.</b>    </p>
    <p class="texto-interno">• Brindar servicio, atención y protección a las
      personas que así lo requieran, de manera ágil y
      oportuna, con respeto, sin discriminación por
      razones de identidad de género, orientación
      sexual, etnia, religión, posición económica, social o
      de cualquier otra índole.</p>
      <div class="contiene-iamgen-texto"> 
        <div class="iamgen-texto1"> 
          <div class="icon-111"><ion-icon name="notifications-outline"></ion-icon></div>
        </div>
        <div class="iamgen-texto2"> 
          <p class="texto-interno">Ágil y oportuno.
            La atención debe ser sin discriminación por
            motivos de identidad de género,
            orientación sexual, etnia, religión, posición
            económica, social o de cualquier otra
            índole.</p>
        </div>
      </div>
      <p class="texto-interno"> • Precautelar la integridad física, psicológica y
sexual de las niñas y adolescentes mujeres, así
como también de mujeres hetero, lesbianas o
transfemeninas jóvenes, adultas y adultas mayores
en casos de violencia contra la mujer.</p>
      <div class="contiene-iamgen-texto"> 
        <div class="iamgen-texto1"> 
          <div class="icon-111"><ion-icon name="notifications-outline"></ion-icon></div>
        </div>
        <div class="iamgen-texto2"> 
          <p class="texto-interno"><b>SE PROHÍBE</b> a todo el personal en el
            ejercicio de sus funciones mediar o
            conciliar conflictos de violencia entre la
            víctima y el presunto agresor/a.</p>
        </div>
      </div>
      <p class="texto-interno">•  El personal deberá <b>hacer uso progresivo y
        diferenciado de la fuerza</b> durante la ejecución
        de acciones urgentes y MAPIs.</p>
        
        <p class="texto-interno">•  <b>Adoptar las medidas de seguridad necesarias
        para precautelar su integridad y la de terceros,</b>
        en todos los casos de violencia contra la mujer.</p>
        
        <p class="texto-interno">•  Tomar <b>procedimiento con<a id="link2"> niñas y adolescentes
        mujeres, </a></b>observar el principio de supletoriedad.</p>
        
        <p class="texto-interno">• El personal <b>podrá solicitar la asesoría</b> del
        personal especializado, respecto al
        procedimiento a seguir en lo relacionado a
        víctimas de violencia en el ámbito intrafamiliar o
        en caso de niñas y adolescentes mujeres en
        conflicto con la ley.</p>
        
        <p class="texto-interno">• Se deberá ejecutar las disposiciones legales
        emanadas <a id="link3"><b>por autoridad competente referente
        a la situación de niñas y adolescentes mujeres.</b></a></p>
        
        <p class="texto-interno">•<b> Ejecutar boletas de auxilio emitidas por
          autoridades administrativas,</b>cuando la víctima
        así lo requiera.</p>
        
        <p class="texto-interno">• El personal debe observar y aplicar el procedimiento establecido en el <a href="/lineamientos">“Instructivo para el acercamiento, coordinación y cooperación policial con las comunas, comunidades, pueblos y nacionalidades del Ecuador” </a>
        en las resoluciones de la Asamblea de la Comunidad, toda vez que esta autoridad ejerce funciones.jurisdiccionales.</p>

        <div class="boton-azul3">
          <div class="letra-boton2"><a id="link4">Descargar archivo original</a></div>
        </div>   
        
        <p class="texto-interno">•  <b>Los comandantes de Distrito a nivel nacional,</b>
        tendrán conocimiento de los procedimientos
        policiales realizados en ejecución de acciones
        urgentes y notificaciones.</p>
        
        
      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>

