<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/acciones2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno">Si continúa con este procedimiento va a salir de la aplicación,</p> 
  <p class="texto-interno"> ¿Está seguro que desea continuar?</p>

  <div class="boton-azul2">
    <div class="letra-boton1" routerLink="#">Continuar</div>
  </div>

  <div class="boton-azul2">
    <div class="letra-boton1" routerLink="/acciones2">Cancelar</div>
  </div>

      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>
