<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu32"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Educativo</div>
  <p class="texto-interno">Contexto de enseñanza y aprendizaje en el cual
    la violencia es ejecutada por docentes, personal
    administrativo, compañeros u otro miembro de
    la comunidad educativa de todos los niveles. 
    </p>
    <p class="texto-interno-azul"><b>Ejemplos:</b> insultos de docentes a estudiantes,
      hostigamiento sostenido por parte de un
      grupo de estudiantes a una compañera o
      compañero, etc.  </p>
    <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>
</ion-content>