<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu32"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Mediático y cibernético</div>
  <p class="texto-interno">Contexto en el que la violencia es ejercida a
    través de los medios de comunicación públicos,
    privados o comunitarios, sea por vía tradicional o
    por cualquier tecnología de la información,
    incluyendo las redes sociales, plataformas
    virtuales o cualquier otro.  </p>
    <p class="texto-interno-azul"><b>Ejemplos:</b> cyberbullying, difusión de
      imágenes sin consentimiento, difamación por
      medio de redes, etc. </p>
    <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>
</ion-content>