<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu1"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      <div class="texto-blanco-arriba">Esta definición nos ayuda a identificar los tipos de violencia y los ámbitos en donde sucede:</div>
      <div class="titulo"><ion-title>1.3 Ámbitos donde ocurre la violencia</ion-title></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- Default Item -->


<!-- Item as a Button -->
<div class="fondo-gris">
<div class="fondo-blanco">
<ion-item href="intrafamiliar">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Intrafamiliar</div> </div> 
</ion-label>
</ion-item>

<ion-item href="laboral">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Laboral</div> </div> 
</ion-label>
</ion-item>

<ion-item href="educativo">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Educativo</div> </div> 
</ion-label>
</ion-item>

<ion-item href="publico">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Espacio Público</div> </div> 
</ion-label>
</ion-item>

<ion-item href="deportivo">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Deportivo</div> </div> 
</ion-label>
</ion-item>

<ion-item href="institucional">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Institucional</div> </div> 
</ion-label>
</ion-item>

<ion-item href="centros">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Centros e instituciones de salud</div> </div> 
</ion-label>
</ion-item>

<ion-item href="mediatico">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Mediático y cibernético</div> </div> 
</ion-label>
</ion-item>

<ion-item href="emergencia">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Emergencias y situaciones humanitarias</div> </div> 
</ion-label>
</ion-item>

</div>
<div class="boton-azul">
  <div class="letra-boton" routerLink="/home">VOLVER</div>
</div>
</div>

</ion-content>
