.header-enfoques {
    min-height: 220px;
    background-color: #35bba9;
    padding: 0px;
    color: #FFFFFF;
}
.toolbar-background {
    background: #1e1102;
}
.toolbar-container {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.toolbar-searchbar {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.icono {
    padding: 16px 16px 5px 16px;
    font-size: 21px;
}
input.searchbar-input.sc-ion-searchbar-ios {
    background-color: #FFFFFF;
}
.toolbar-title {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    margin-top: 120px;
    text-align: left;
}
.titulo {
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 10px;
}
.fondo-gris {
    background: #f7f7f7;
    padding: 50px 16px 50px 16px;
    border-radius: 0px 0px 30px 30px;
}
.fondo-blanco {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 40px;
}
.boton-azul {
    margin: 25px 0px 0px 0px;
    padding: 14px;
    background-color: #35bba9;
    border-radius: 30px;
    color: #ffffff;
    text-align: center;
}
ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    FONT-FAMILY: Montserrat, SANS-SERIF;
    FONT-WEIGHT: 500;
}
input.searchbar-input.sc-ion-searchbar-ios {
    background-color: #FFFFFF;
}
ion-item.item.ios.item-fill-none.ion-activatable.ion-focusable.hydrated.item-label {
    font-family: Montserrat, sans-serif;
}
.boton {
    width: 100%;
    display: inline-flex;
}
.boton-texto1 {
    font-family: Montserrat, sans-serif;
    width: 90%;
    color: #595959;
    font-size: 14px;
}
.boton-icono {
    color: #35bba9;
    font-size: 19px;
    width: 10%;
}
.boton {
    padding-top: 9px;
    padding-bottom: 1px;
}
.texto-blanco-arriba {
    font-family: Montserrat, sans-serif;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    padding-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
}
.titulo{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
}
.texto-blanco-arriba {
    font-family: Montserrat, sans-serif;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    padding-top: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    text-align: center;;
}
.titulo {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 18px;
    text-align: center;
}
.icono {
    padding: 50px 16px 5px 16px;
    font-size: 21px;
}