<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Violencia Política</div>
  <p class="texto-interno">Barrera para el acceso y permanencia de las mujeres
    en espacios de liderazgo, representación y toma de
    decisiones. 
    </p>
    <div class="icono1"><ion-icon name="megaphone-outline"></ion-icon></div>
    <div class="cuadro-verde">
      <p class="texto-interno-blanco">Art. 10 f) LOIPEVcM: Violencia cometida por una
        persona o grupo de personas, directa o
        indirectamente, en contra de las mujeres que sean
        candidatas, militantes, electas, designadas o que
        ejerzan cargos públicos, defensoras de derechos
        humanos, feministas, lideresas políticas o sociales, o
        en contra de su familia. Esta violencia se orienta a
        acortar, suspender, impedir o restringir su accionar o
        el ejercicio de su cargo, o para inducirla u obligarla a
        que efectúe en contra de su voluntad una acción o
        incurra en una omisión, en el cumplimiento de sus
        funciones, incluida la falta de acceso a bienes
        públicos u otros recursos para el adecuado
        cumplimiento de sus funciones.
        </p>
    </div>
    <div class="boton-blanco">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Ver un caso</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  <div class="boton-azul">
    <div class="letra-boton1">VOLVER</div>
  </div>
</div>
</ion-content>
