<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/procedimineto"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno">CTA: (símbolo importante)</p>
  <p class="texto-interno">Art. 45 Reglamento LOPEIVcM</p>
  <p class="texto-interno">1. Emitir la boleta de auxilio y la orden de restricción de acercamiento a la víctima.</p>
  <p class="texto-interno">2. Ordenar la restitución de la víctima al domicilio habitual, cuando haya sido alejada de este por el hecho violento y así lo solicite, con las garantías suficientes para proteger su vida e integridad.</p>
  <p class="texto-interno">3. A solicitud de la víctima, se ordenará la inserción, con sus dependientes en los programas de protección con el fin de resguardar su seguridad e integridad. </p>
  <p class="texto-interno">4. Prohibir a la persona agresora esconder, trasladar, cambiar la residencia o lugar de domicilio, a sus hijas o hijos o personas dependientes de la misma, sin perjuicio de otras acciones que se puedan iniciar.</p>
  <p class="texto-interno">5. Prohibir al agresor por sí o por terceros, acciones de intimidación, amenazas o coacción a la mujer que se encuentra en situación de violencia o a cualquier integrante de su familia.</p>
  <p class="texto-interno">6. Ordenar al agresor la salida del domicilio cuando su presencia constituya una amenaza para la integridad física, psicológica o sexual o la vida de la mujer o cualquiera de los miembros de la familia.</p>
  <p class="texto-interno">7. Disponer la instalación de dispositivos de alerta, riesgo o dispositivos electrónicos de alerta, en la vivienda de la mujer víctima de violencia.</p>
  <p class="texto-interno">8. Prohibir a la persona agresora el ocultamiento o retención de bienes o documentos de propiedad de la víctima de violencia; y en caso de haberlos ocultado o retenido, ordenar a la persona agresora la devolución inmediata de los objetos de uso personal, documentos de identidad y cualquier otro documento u objeto de propiedad o custodia de la mujer víctima de violencia o personas que dependan de ella.</p>
  <p class="texto-interno">9. Disponer, cuando sea necesario, la flexibilidad o reducción del horario de trabajo de las mujeres víctimas de violencia, sin que se vean afectados sus derechos laborales o salariales.    </p> 
  <p class="texto-interno">10. Ordenar la suspensión temporal de actividades que desarrolle el presunto agresor.     </p> 

    
      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>