<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu32"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Laboral</div>
  <p class="texto-interno">En donde se ejerce el derecho al trabajo y
    donde se desarrollan las actividades productivas, en el que la violencia es ejecutada por
    personas que tienen un vínculo o convivencia
    de trabajo con la víctima, independientemente
    de la relación jerárquica.  </p>
    <p class="texto-interno-azul"><b>Ejemplos:</b> condicionar la contratación o
      permanencia en el trabajo a través de favores
      de naturaleza sexual; la negativa a contratar a
      la víctima o a respetar su permanencia o
      condiciones generales de trabajo; el
      descrédito público por el trabajo realizado y
      no acceso a igual remuneración por igual tarea
      o función, así como el impedimento a las
      mujeres de que se les acredite el período de
      gestación y lactancia.  </p>
    <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>
</ion-content>