<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu1"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      <div class="titulo"><p>Características de las MAPIS</p></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- Default Item -->


<!-- Item as a Button -->
<div class="fondo-gris">
<div class="fondo-blanco">

  <ion-item routerLink="/caracteristicasmap">
    <ion-label>
      <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Características de las <br>Mapis</div> </div> 
  </ion-label>
  </ion-item>
  

<ion-item routerLink="/otorgamientomap">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Reglas para el otorgamiento</div> </div> 
</ion-label>
</ion-item>


<ion-item routerLink="/parametrosyval">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Parámetros y valoraciones<br> de riesgo</div> </div> 
</ion-label>
</ion-item>

</div>
<div class="boton-azul">
  <div class="letra-boton" routerLink="/home">VOLVER</div>
</div>
</div>