<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/pregmenu"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">¿Qué pasa si la víctima es
    adolescente?
   </div>

   <p class="texto-interno">Se podrá otorgar cualquiera de las medidas
    establecidas en la Ley y en el Código de la
    Niñez y Adolescencia y se coordinará con la
    Policía especializada de niños, niñas y adolescentes. DINAPEN
    
    </p>

  <div class="cuadro-morado">
    <p class="texto-interno-blanco">ART. 42 Reglamento a la LOIPEVcM</p>
    <p class="texto-interno-blanco">c) Se podrá otorgar cualquiera de
      las medidas establecidas en la Ley
      y en el Código de la Niñez y
      Adolescencia</p>
  </div>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>