<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/lineamientosespec"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno"><b>¿Cómo se reconoce una situación en crisis?</b></p>
  <p class="texto-interno"><b>La víctima:</b></p>
  <p class="texto-interno">No puede pensar con claridad. </p>
  <p class="texto-interno">Muestra signos de desorganización </p>
  <p class="texto-interno">Presenta señales de ansiedad y presenta taquicardia, sensación de ahogo o debilidad. </p>
      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>
