<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/procedimientopol"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno">CTA: GLOBO DE TEXTO ART. 51 </p> 
  <p class="texto-interno"> a)	Emitir la boleta de auxilio y la orden de restricción de acercamiento a la víctima por parte del presunto agresor, en cualquier espacio público o privado.</p> 
  <p class="texto-interno">  b)	Ordenar la restitución de la víctima al domicilio habitual, cuando haya sido alejada de este por el hecho violento y así lo solicite, con las garantías suficientes para proteger su vida e integridad.</p> 
  <p class="texto-interno">f) Ordenar al agresor la salida del domicilio cuando su presencia constituya una amenaza para la integridad física, psicológica o sexual o la vida de la mujer o cualquiera de los miembros de la familia.</p> 
  <p class="texto-interno"> h) Disponer la instalación de dispositivos de alerta, riesgo o dispositivos electrónicos de alerta, en la vivienda de la mujer víctima de violencia.</p>
    
  <p class="texto-interno">  FORMAR CITA A LEY COLOR</p>
  

      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>


