<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/violenciapsicologica2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Casos  </div>
  <div class="titulo-interno">A.  </div>
  <p class="texto-interno">Mi hermana y yo vivimos en el terreno que heredamos de mis padres y cada una construyó su casa independiente. <br>
    Pero desde que mi hermana se hizo de compromiso empezamos a tener problemas.<br>
     Ella quiere que vendamos el terreno y yo no. Entonces ahora mi hermana se la pasa insultándome: 
     “si no aceptas vender el terreno vas a ver lo que te pasa”, ha llegado a pegarme y me lanzo agua sucia. <br>
     Me han amenazado con envenenar a mis vaquitas. Ya le puse una denuncia ya hace seis meses, tengo miedo porque la pareja de mi hermana es un delincuente y temo por lo que me puedan hacer.<br> 
     Él no me dice nada solo mi hermana, por eso necesito que me dé una boleta de auxilio para mi protección.</p>
    
    <div class="icono1"><img src="https://i.imgur.com/yrk4CiP.png"></div>
    
    <div class="boton-blanco" routerLink="/pautas106">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Pautas Generales</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <hr>

    <div class="boton-blanco" routerLink="/normativaap106">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Normativa Aplicada</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <div class="boton-azul">
      <div class="letra-boton1" routerLink="/home2">VOLVER</div>
    </div>
  </div>
  
  </ion-content>