<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casossexb"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="otrolink304" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Art 79.<br>
        1. Allanamiento del lugar donde se encuentre el niño, niña o adolescente, víctima de la práctica ilícita, para su inmediata recuperación. Esta medida sólo podrá ser decretada por el Juez de la Niñez y Adolescencia, quien la dispondrá de inmediato y sin formalidad alguna;<br> 
        2. Custodia familiar o acogimiento institucional;<br>
         3. Inserción del niño, niña o adolescente y su familia en un programa de protección y atención;<br>
         4. Concesión de boletas de auxilio a favor del niño, niña o adolescente, en contra de la persona agresora; 5. Amonestación al agresor; <br>
        6. Inserción del agresor en un programa de atención especializada; <br>
        7. Orden de salida del agresor de la vivienda, si su convivencia con la víctima implica un riesgo para la seguridad física, psicológica o sexual de esta última; y de reingreso de la víctima, si fuere el caso; <br>
        8. Prohibición al agresor de acercarse a la víctima o mantener cualquier tipo de contacto con ella; <br>
        9. Prohibición al agresor de proferir amenazas, en forma directa o indirecta, contra la víctima o sus parientes; <br>
        10. Suspensión del agresor en las tareas o funciones que desempeña; <br>
        11. Suspensión del funcionamiento de la entidad o establecimiento donde se produjo el maltrato institucional, mientras duren las condiciones que justifican la medida; <br>
        12. Participación del agresor o del personal de la institución en la que se haya producido el maltrato institucional, en talleres, cursos o cualquier modalidad de eventos formativos; y, <br>
        13. Seguimiento por parte de los equipos de trabajo social, para verificar la rectificación de las conductas de maltrato.
        </ion-content>
    </ng-template>
  </ion-popover>

  <div class="fondo-gris">
  <div class="titulo-interno">TIPO DE VIOLENCIA: </div>
  <p class="texto-interno">Sexual y psicológica</p>
  <br>
  <div class="titulo-interno">ÁMBITO: </div>
  <p class="texto-interno">Intrafamiliar</p>
  <br>
  <div class="titulo-interno">PAUTAS GENERALES</div>
  <p class="texto-interno">Detener y prevenir agresiones restringiendo el
    acercamiento de la presunta agresora.</p>
    <p class="texto-interno">Prohibir acciones de intimidación.</p>
      <p class="texto-interno">Ordenar la salida del agresor de la vivienda
    común.</p>
    <p class="texto-interno">Activar los servicios de protección y atención
    dispuestos en el SNIPEVCM, para cuyo efecto
    se hará un levantamiento de información sobre
    los servicios en Territorio.</p>
    <p class="texto-interno">Activar MAPIs contempladas en el Código de la
    Niñez y Adolescencia.</p>
    <p class="texto-interno">Emitir MAPIs contempladas en la LOIPEVCM y
    aquellas especificadas en el <a id="otrolink304">Código Integral de
    la Niñez y Adolescencia,</a> notificar al órgano
    judicial y/o disponer intervención del DINAPEN
    para ejecución de medidas si la integridad física,
    psicológica o sexual de la adolescente vulnerada.</p>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>

</ion-content>
