<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/lineamientosespec"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno"><b>NUNCA </b>referirse a las víctimas con términos inoportunos y en ningún momento establecer temas de conversación que no sean parte del procedimiento, ni sobre temas personales o de otro tipo.</p>

      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>
