<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu9"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="otrolink11" size="auto">
    <ng-template>
      <ion-content class="ion-padding">FORMULARIO SOLICITUD</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink12" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Nombres y apellidos, domicilio y teléfono de la o el solicitante de MAPIs.<br>
        2.	Nombre y apellidos de la víctima o posible víctima de violencia, domicilio, teléfono de contacto, edad, autoidentificación		étnica, situación socio-económica, identidad	de		género, orientación sexual nivel de instrucción,		discapacidad, condición migratoria, estado civil, en caso de conocerlos. Informarse si la víctima o posible víctima.<br>
        3.	Nombre y apellidos de persona agresora o presunta agresora, así como su domicilio y teléfono de contacto, datos de	sexo,	edad,
             autoidentificación		étnica, situación	socioeconómica, identidad		de		género, orientación sexual, nivel de instrucción,			discapacidad, condición migratoria, estado civil, en caso de conocerlos.<br>
        4. Relación de la víctima o posible víctima con la persona agresora o presunta agresora.<br>
        5. Resumen de los hechos de violencia.<br>
        6. Tipo de violencia.<br>
        7. la identificación de los factores de riesgo y de las condiciones específicas que requieran la víctima.<br>
        8. Solicitud de las medidas administrativas de protección inmediata necesarias para precautelar la vida e integridad de las víctimas de violencia.<br>
        9..   Firma	o   huella	dactilar persona que solicita
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink13" size="auto">
    <ng-template>
      <ion-content class="ion-padding">: Denominación de, la dependencia<br> 
        Provincia, Cantón, Parroquia. Nro. Expediente administrativo Fecha de Recepción<br>
        Nombre de Solicitante Nombre y Apellido víctima<br>
        Nombre y Apellido	<ion-icon name="arrow-forward-outline"></ion-icon>del presunto Agresor<br>
        Nombre<ion-icon name="arrow-forward-outline"></ion-icon>	y	<ion-icon name="arrow-forward-outline"></ion-icon>Apellido	<ion-icon name="arrow-forward-outline"></ion-icon>de	<ion-icon name="arrow-forward-outline"></ion-icon>la autoridad administrativa Nombre	<ion-icon name="arrow-forward-outline"></ion-icon>y	<ion-icon name="arrow-forward-outline"></ion-icon>Apellido<ion-icon name="arrow-forward-outline"></ion-icon>	de<br>
        Asistente/Secretaria (o)</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink14" size="auto">
    <ng-template>
      <ion-content class="ion-padding">redirigir a la página de estos temas</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink15" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Art 45  Reglamento LOIPEVcM<br> 
        <b>MAPIs que tienen como fin detener o cesar la violencia:</b><br> 
         1. Emitir la boleta de auxilio y la orden de restricción de acercamiento a la víctima por parte del presunto agresor, en cualquier espacio público o privado.<br> 
         2. Ordenar la restitución de la víctima al domicilio habitual, cuando haya sido alejada de este por el hecho violento y así lo solicite, con las garantías suficientes para proteger su vida e integridad.<br> 
         3. A solicitud de la víctima, se ordenará la inserción, con sus dependientes en los programas de protección con el fin de resguardar su seguridad e integridad, en coordinación con el ente rector de Justicia, Derechos Humanos y Cultos, la red de casas de acogida, los centros de atención especializados y los espacios de coordinación interinstitucional, a nivel territorial.<br> 
         4. Prohibir a la persona agresora esconder, trasladar, cambiar la residencia o lugar de domicilio, a sus hijas o hijos o personas dependientes de la misma, sin perjuicio de otras acciones que se puedan iniciar.<br> 
        5. Prohibir al agresor por sí o por terceros, acciones de intimidación, amenazas o coacción a la mujer que se encuentra en situación de violencia o a cualquier integrante de su familia.<br> 
         6. Ordenar al agresor la salida del domicilio cuando su presencia constituya una amenaza para la integridad física, psicológica o sexual o la vida de la mujer o cualquiera de los miembros de la familia.<br> 
         7. Disponer la instalación de dispositivos de alerta, riesgo o dispositivos electrónicos de alerta, en la vivienda de la mujer víctima de violencia.<br> 
        8. Prohibir a la persona agresora el ocultamiento o retención de bienes o documentos de propiedad de la víctima de violencia; y en caso de haberlos ocultado o retenido, ordenar a la persona agresora la devolución inmediata de los objetos de uso personal, documentos de identidad y cualquier otro documento u objeto de propiedad o custodia de la mujer víctima de violencia o personas que dependan de ella.<br> 
        9. Disponer, cuando sea necesario, la flexibilidad o reducción del horario de trabajo de las mujeres víctimas de violencia, sin que se vean afectados sus derechos laborales o salariales.<br> 
        10. Ordenar la suspensión temporal de actividades que desarrolle el presunto agresor en instituciones deportivas, artísticas, de cuidado o de educación formal e informal;<br> 
        11. Todas las que garanticen la integridad de las mujeres en situación de violencia.<br> 
        Art 46 Reglamento LOIPEVcM<br> 
      <b> MAPIs de prevención:</b><br> 
        1. Ordenar la realización del inventario de los bienes muebles e inmuebles de propiedad común o de posesión legítima de la mujer víctima de violencia;<br> 
         2. Disponer la activación de los servicios de protección y atención dispuestos en el Sistema Nacional Integral para prevenir y erradicar la violencia contra las Mujeres<br> 
         3. Disponer la inserción de la mujer víctima de violencia y sus dependientes, en programas de inclusión social y económica, salud, educación, laboral y de cuidados dirigidos a los grupos de atención prioritaria a cargo del ente rector de políticas públicas de inclusión social y otras instancias locales que brinden este servicio.<br> 
        4. Disponer el seguimiento para verificar la rectificación de las conductas de violencia contra las mujeres por parte de las unidades técnicas respectivas, de los entes rectores de políticas públicas de inclusión social, salud, y otras instancias locales que brinden este servicio, a través de un informe motivado.
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink16" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Art 51<br>
        c) A solicitud de la víctima, se ordenará la inserción, con sus dependientes en un programa de protección con el fin de resguardar su seguridad e integridad, en coordinación con el ente rector de las políticas públicas de Justicia, la red de casas de acogida, centros de atención especializados y los espacios de coordinación interinstitucional, a nivel territorial.<br>
        i) Disponer la activación de los servicios de protección y atención dispuestos en el Sistema Nacional Integral para prevenir y erradicar la violencia contra las Mujeres.<br>
        j) Disponer la inserción de la mujer víctima de violencia y sus dependientes, en programas de inclusión social y económica, salud, educación, laboral y de cuidados dirigidos a los grupos de atención prioritaria a cargo del ente rector de políticas públicas de Inclusión Social y otras instancias locales que brinden este servicio.<br>
        k) Disponer el seguimiento para verificar la rectificación de las conductas de violencia contra las mujeres por parte de las unidades técnicas respectivas, de los entes rectores de políticas públicas de Inclusión Social, Salud, y otras instancias locales que brinden este servicio, a través de un informe motivado.<br>  </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink17" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Si continúa con este procedimiento va a salir de la aplicación, ¿Está seguro que desea continuar?   <br>
        <a href="#"> Continuar</a> - <a href="/otorgamientomap">Cancelar</a></ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink17b" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Si continúa con este procedimiento va a salir de la aplicación, ¿Está seguro que desea continuar?   <br>
        <a href="#"> Continuar</a> - <a href="/otorgamientomap">Cancelar</a></ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink18" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Si continúa con este procedimiento va a salir de la aplicación, ¿Está seguro que desea continuar?   <br>
        <a href="#"> Continuar</a> - <a href="/otorgamientomap">Cancelar</a></ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink18b" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Si continúa con este procedimiento va a salir de la aplicación, ¿Está seguro que desea continuar?   <br>
        <a href="#"> Continuar</a> - <a href="/otorgamientomap">Cancelar</a></ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink19" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Si continúa con este procedimiento va a salir de la aplicación, ¿Está seguro que desea continuar?   <br>
        <a href="#"> Continuar</a> - <a href="/otorgamientomap">Cancelar</a></ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink19b" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Si continúa con este procedimiento va a salir de la aplicación, ¿Está seguro que desea continuar?   <br>
        <a href="#"> Continuar</a> - <a href="/otorgamientomap">Cancelar</a></ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink20" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Si continúa con este procedimiento va a salir de la aplicación, ¿Está seguro que desea continuar?   <br>
        <a href="#"> Continuar</a> - <a href="/otorgamientomap">Cancelar</a></ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink20b" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Si continúa con este procedimiento va a salir de la aplicación, ¿Está seguro que desea continuar?   <br>
        <a href="#"> Continuar</a> - <a href="/otorgamientomap">Cancelar</a></ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink18c" size="auto">
    <ng-template>
      <ion-content class="ion-padding">POLICÍA COMUNITARIA</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink19c" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Ir a oficio de notificación</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink20c" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Atención máxima de 24 horas.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink21" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Atención máximo Notificar al órgano Judicial en un máximo de 24 horas.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink22" size="auto">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-icon name="alert-outline"></ion-icon> Art. 45 Reglamento LOPEIVcM<br>
        1. Emitir la boleta de auxilio y la orden de restricción de acercamiento a la víctima.<br>
         2. Ordenar la restitución de la víctima al domicilio habitual, cuando haya sido alejada de este por el hecho violento y así lo solicite, con las garantías suficientes para proteger su vida e integridad<br>
         3. A solicitud de la víctima, se ordenará la inserción, con sus dependientes en los programas de protección con el fin de resguardar su seguridad e integridad. <br>
        4. Prohibir a la persona agresora esconder, trasladar, cambiar la residencia o lugar de domicilio, a sus hijas o hijos o personas dependientes de la misma, sin perjuicio de otras acciones que se puedan iniciar.<br>
         5. Prohibir al agresor por sí o por terceros, acciones de intimidación, amenazas o coacción a la mujer que se encuentra en situación de violencia o a cualquier integrante de su familia.<br>
        6. Ordenar al agresor la salida del domicilio cuando su presencia constituya una amenaza para la integridad física, psicológica o sexual o la vida de la mujer o cualquiera de los miembros de la familia.<br>
         7. Disponer la instalación de dispositivos de alerta, riesgo o dispositivos electrónicos de alerta, en la vivienda de la mujer víctima de violencia.<br>
        8. Prohibir a la persona agresora el ocultamiento o retención de bienes o documentos de propiedad de la víctima de violencia; y en caso de haberlos ocultado o retenido, ordenar a la persona agresora la devolución inmediata de los objetos de uso personal, documentos de identidad y cualquier otro documento u objeto de propiedad o custodia de la mujer víctima de violencia o personas que dependan de ella.<br>
        9. Disponer, cuando sea necesario, la flexibilidad o reducción del horario de trabajo de las mujeres víctimas de violencia, sin que se vean afectados sus derechos laborales o salariales.<br>
        10. Ordenar la suspensión temporal de actividades que desarrolle el presunto agresor.
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink23" size="auto">
    <ng-template>
      <ion-content class="ion-padding"><ion-icon name="checkmark-circle-outline"></ion-icon> solicitud, resolución	administrativa, boleta de auxilio.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink24" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Art 46. Reglamento LOPEIVcM<br>
        1. Ordenar la realización del inventario de los bienes muebles e inmuebles de propiedad común o de posesión legítima de la mujer víctima de violencia.<br>
         2. Disponer la activación de los servicios de protección y atención dispuestos en el Sistema Nacional Integral para prevenir y erradicar la violencia contra las Mujeres.<br>
        3. Disponer la inserción de la mujer víctima de violencia y sus dependientes, en programas de inclusión social y económica, salud, educación, laboral y de cuidados dirigidos a los grupos de atención prioritaria a cargo del ente rector de políticas públicas de inclusión social y otras instancias locales que brinden este servicio.<br>
        4. Disponer el seguimiento para verificar la rectificación de las conductas de violencia contra las mujeres por parte de las unidades técnicas respectivas, de los entes rectores de políticas públicas de inclusión social, salud, y otras instancias locales que brinden este servicio, a través de un informe motivado.
        </ion-content>
    </ng-template>
  </ion-popover>

  
  <ion-popover trigger="otrolink25" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Plazo máximo 24 horas para DETENER y 3 máximo para PREVENIR.</ion-content>
    </ng-template>
  </ion-popover>
        
  <ion-popover trigger="otrolink26" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Oficio defensoría del pueblo.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink27" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Dentro de 24 horas a partir de la emisión de la resolución administrativa.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink28" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Link a oficio policía nacional mapis instalación. Solicitar.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink29" size="auto">
    <ng-template>
      <ion-content class="ion-padding">LINK RESOLUCIÓN ADMINISTRATIVA.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink30" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Matriz Registro de seguimiento de la ejecución MAPI.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink31" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Imagen Modelo	<ion-icon name="arrow-forward-outline"></ion-icon> Matriz para Registro de seguimiento ejecución MAPIs</ion-content>
    </ng-template>
  </ion-popover>

  <div class="fondo-gris">
    <!-- pagina 9 -->
    <div class="titulo-interno"><b>Seguimiento</b></div>
    <p class="texto-interno"><b>1. Seguimiento administrativo de la ejecución
      de MAPIS por parte de la Policía Nacional.</b>
      Realizará un <a id="otrolink30">control de las fechas de notificación y
      ejecución </a>de las medidas a través de la verificación
      de los informes/partes policiales de ejecución de
      medidas.</p>
      <div class="contendor-ojo">
        <div class="contiene-ojo">
          <ion-icon name="eye-outline"></ion-icon>
        </div>
        <div class="contiene-texto-ojo">
          Si se evidencia incumplimiento se deberá
    poner en conocimiento de la Delegación
    Provincial o Coordinación General
    Defensoría Zonal de la Defensoría del
    Pueblo para la gestión correspondiente.
        </div>
      </div>
    
      <p class="texto-interno"><b>2.	Seguimiento ejecución de MAPIs por parte de entidades del Sistema Nacional integral para prevenir y erradicar	la violencia contra la mujer.</b><BR>
        <a id="otrolink31">Realizar control de los informes</a> de ejecución solicitados
        Mediante  Resolución Administrativa, según la particularidad del caso.
        </p>
    <p class="texto-interno">Si se evidencia incumplimiento se deberá poner en conocimiento de la Delegación Provincial o Coordinación General Defensoría Zonal de la Defensoría del Pueblo para la gestión correspondiente.</p>
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="contiene-texto-ojo">
        Si se evidencia incumplimiento se deberá poner en
        conocimiento de la Delegación Provincial o Coordinación General Defensoría Zonal de
        la Defensoría del Pueblo para la gestión
        correspondiente.
      </div>
    </div>
    <br><br>
      
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>