<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu4"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">¿Qué son MAPIs?</div>
  <p class="texto-interno">Son medidas administrativas de carácter
    inmediato y provisional, que se otorgan cuando
    existe cualquier amenaza o vulneración los
    derechos de mujeres y niñas.</p><br>
    <div class="titulo-interno">¿Cuándo se puede solicitar
      MAPIs?</div>
    <p class="texto-interno">Se solicitan cada vez que una mujer o niña es
      víctima de violencia o corre el riesgo de serlo.</p><br>
      <div class="titulo-interno">¿Quiénes pueden solicitar MAPIs?</div>
      <p class="texto-interno">Cualquier persona podrá solicitar medidas para sí
        misma o para terceras personas víctimas de
        violencia contra las mujeres y niñas ante las Juntas
        Cantonales de Protección de Derechos, las
        Tenencias Políticas o las Comisarías Nacionales de
        Policía.</p><br>
        <div class="contendor-ojo">
          <div class="contiene-ojo">
            <ion-icon name="eye-outline"></ion-icon>
          </div>
          <div class="contiene-texto-ojo">
            <b>NO se necesita patrocinio legal.</b>
          </div>
        </div>
      <br><br>
      



  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>