<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu1"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">¿Qué son MAPIs?</div>
  <p class="texto-interno">Son medidas administrativas de carácter
    inmediato y provisional, que se otorgan cuando
    existe cualquier amenaza o vulneración los
    derechos de mujeres y niñas.</p><br>
    <div class="titulo-interno">¿Cuándo se puede solicitar
      MAPIs?</div>
    <p class="texto-interno">Se solicitan cada vez que una mujer o niña es
      víctima de violencia o corre el riesgo de serlo</p><br>
      <div class="titulo-interno">¿Quiénes pueden solicitar MAPIs?</div>
      <p class="texto-interno">Cualquier persona podrá solicitar medidas para sí
        misma o para terceras personas víctimas de
        violencia contra las mujeres y niñas ante las Juntas
        Cantonales de Protección de Derechos, las
        Tenencias Políticas o las Comisarías Nacionales de
        Policía.</p><br>
        <div class="contendor-ojo">
          <div class="contiene-ojo">
            <ion-icon name="eye-outline"></ion-icon>
          </div>
          <div class="contiene-texto-ojo">
            NO se necesita patrocinio legal.
          </div>
        </div>
      <br><br>
        <!-- pagina 2 -->
        <div class="titulo-interno">¿Qué medidas
          administrativas se pueden
          otorgar?</div>
        <p class="texto-interno"><b>a) Boleta de auxilio y orden de restricción de
          acercamiento.</b>
          Emitir la boleta de auxilio y la orden de restricción
          de acercamiento a la víctima por
          parte del presunto agresor, en cualquier espacio
          público o privado;</p>
          <p class="texto-interno"><b>b) Restitución de la víctima al domicilio actual.</b>
          Ordenar la restitución de la víctima al domicilio
          habitual, cuando haya sido alejada de
          este por el hecho violento y así lo solicite, con las
          garantías suficientes para proteger su
          vida e integridad.</p>
          <p class="texto-interno"> <b>c) Inserción a programa de protección.</b>
          A solicitud de la víctima, se ordenará la inserción,
          con sus dependientes en un programa
          de protección con el fin de resguardar su
          seguridad e integridad, en coordinación con el
          ente rector de las políticas públicas de Justicia, la
          red de casas de acogida, centros de
          atención especializados y los espacios de
          coordinación interinstitucional, a nivel
          territorial.</p>
          <p class="texto-interno"><b>d) Prohibición a la persona agresora de
          acciones de intimidación, amenazas o coacción.</b>
          Prohibir al agresor por sí o por terceros, acciones
          de intimidación, amenazas o coacción
          a la mujer que se encuentra en situación de
          violencia o a cualquier integrante de su familia.</p>
          <p class="texto-interno"><b>e) Prohibición a la persona agresora de
esconder, trasladar, cambiar de residencia o
lugar de domicilio a sus hijas o hijos o personas
dependientes.</b>
Prohibir a la persona agresora esconder, trasladar,
cambiar la residencia o lugar de
domicilio, a sus hijas o hijos o personas
dependientes de la misma, sin perjuicio de otras
acciones que se puedan iniciar.</p>
<p class="texto-interno"><b>f) Salida del agresor del domicilio.</b>
Ordenar al agresor la salida del domicilio cuando
su presencia constituya una amenaza
para la integridad física, psicológica o sexual o la
vida de la mujer o cualquiera de los
miembros de la familia.</p>
<p class="texto-interno"><b>g) Ordenar Inventario.</b>
Ordenar la realización del inventario de los bienes
muebles e inmuebles de propiedad común o de
posesión legítima de la mujer víctima de violencia.</p>
<p class="texto-interno"><b>h) Dispositivos de alerta.</b>
Disponer la instalación de dispositivos de alerta,
riesgo o dispositivos electrónicos de
alerta, en la vivienda de la mujer víctima de
violencia.</p>
<p class="texto-interno"><b>i) Activación servicios de protección y atención</b>
Disponer la activación de los servicios de
protección y atención dispuestos en el <b>Sistema
Nacional Integral para prevenir y erradicar la
violencia contra las Mujeres..</b>
<p class="texto-interno"><b>j) Inserción de víctimas en programas de
atención dirigidos a grupos de atención
prioritaria.</b>
Disponer la inserción de la mujer víctima de
violencia y sus dependientes, en <b>programas
de inclusión social y económica, salud,
educación, laboral y de cuidados</b> dirigidos a los
grupos de atención prioritaria a cargo del ente
rector de políticas públicas de Inclusión Social y
otras instancias locales que brinden este servicio.</p>
<p class="texto-interno"><b>k) Seguimiento a la rectificación de conductas.</b>
Disponer el seguimiento para verificar la
rectificación de las conductas de violencia
contra las mujeres por parte de las unidades
técnicas respectivas, de los entes rectores
de políticas públicas de Inclusión Social, Salud, y
otras instancias locales que brinden
este servicio, a través de un informe motivado.</p>
<p class="texto-interno"><b>l) Prohibición a la persona agresora el
ocultamiento o retención de bienes o
documentos.</b>
Prohibir a la persona agresora el ocultamiento o
retención de bienes o documentos de
propiedad de la víctima de violencia; <b>y en caso de
haberlos ocultado o retenido, ordenar
a la persona agresora la devolución inmediata
de los objetos </b>de uso personal, documentos de
identidad y cualquier otro documento u objeto de
propiedad o custodia de la mujer víctima de
violencia o personas que dependan de ella.</p><br><br>
<!-- pagina 3 -->

<div class="titulo-interno">¿Reglas para el otorgamiento de medidas administrativas de protección</div>
  <p class="texto-interno">Las autoridades competentes otorgarán medidas
  administrativas de protección de manera
  inmediata, oportuna, específica e individualizada,
  respondiendo a las circunstancias de tiempo,
  modo y lugar, y atendiendo las siguientes reglas:</p>
  <p class="texto-interno">1. El relato de la víctima o de la persona que
solicite las medidas es el único requisito requerido
para el otorgamiento de MAPIs.</p>
<p class="texto-interno">2. Tomar en cuenta durante todo el proceso la
diversidad de circunstancias de cada víctima</p>
<p class="texto-interno">3. Se podrá otorgar cualquiera de las medidas
establecidas en la Ley y en el Código de la Niñez y
Adolescencia.</p>
<p class="texto-interno">4. Se otorgan medidas <b>sin perjuicio </b>de
encontrarse activo un proceso jurisdiccional.</p>
<p class="texto-interno">5. Se podrán otorgar una o más medidas pa
ra un mismo caso y aplicarse de forma <b>simultánea
o sucesiva</b></p>
<p class="texto-interno">6. Dictarán las medidas sin importar que el
domicilio de la víctima o el lugar en el cual se
efectuase la conducta violenta, fuese diferente a la
circunscripción territorial de la autoridad.</p>
<p class="texto-interno">7. NO SE NEGARÁ el otorgamiento de MAPIs
por el incumplimiento de formalidades siendo así
responsable por la vulneración de los derechos de
la víctima que se llegasen a generar por su
omisión.</p>
<p class="texto-interno"><b>8. No revictimizar, No culpabilizar, No juzgar
No desacreditar</b> a las víctimas o posibles víctimas
de violencia contra las mujeres. Cumplir funciones
desde la igualdad y no actuar bajo estereotipos
que permiten la que la violencia ocurra.</p>
<p class="texto-interno"><b>9. Las MAPIs tendrán plena vigencia</b> desde su
otorgamiento hasta su ratificación, modificación o
revocatoria.</p><br><br>
<!-- pagina 3.2 -->
<div class="titulo-interno">Parámetros de Valoración del Riesgo</div>
<p class="texto-interno">a) Temporales</p>
<p class="texto-interno">b) De cumplimiento inmediato</p>
<p class="texto-interno"><b>c) No constituyen prejuzgamiento</b></p>
<p class="texto-interno">d) No requieren la práctica de pruebas para su
adopción.</p>
<p class="texto-interno">e) Entran en vigencia desde su otorgamiento</p>
<p class="texto-interno"><b>f) No son una valoración jurídica concreta de la
conducta de la persona agresora.</b></p>
<p class="texto-interno"><b>g) Tienen carácter preventivo y no
sancionatorio.</b></p>
<p class="texto-interno">h) Su incumplimiento genera responsabilidad
administrativa, civil o penal.</p>
  <br><br>
<!-- pagina 3.5 -->
<div class="titulo-interno">Parámetros de Valoración
  del Riesgo</div>
  <div class="contendor-ojo">
    <div class="contiene-ojo">
      <ion-icon name="notifications-outline"></ion-icon>
    </div><br>  <br>
    <div class="contiene-texto-ojo">
      Factores o elementos que indican si la
víctima se encuentra en una situación
de riesgo.  <br>  <br>
    </div>
  </div>
<b>Pueden presentarse uno o más en cada caso.</b>
<ul>
  <li>Existencia previa de solicitudes de MAPIs,
  sean estas, administrativas o judiciales y de
  acciones urgentes.</li>
  <li>Existencia de amenazas por parte de la
  persona agresora a la víctima o a sus
  dependientes.</li>
  <li>Existencia de amenazas por parte de la
  presunta persona agresora con llevarse a las y
  los hijos o dependientes de la víctima.</li>
  <li>Que exista o haya existido amenaza por
  parte de la persona agresora de llevarse u
  ocasionar daño a los animales domésticos o
  bienes de la víctima.</li>
  <li>Consumo abusivo de alcohol o drogas por
  parte de la persona agresora.
  <li>Actos de violencia en presencia de hijos,
  hijas o familiares o en lugares públicos.</li>
  <li>Intento o amenazas de suicidio, o
  cualquier otra medida intimidante por parte
  de la persona agresora.</li>
  <li>Existencia de antecedentes psiquiátricos
  de la presunta persona agresora.</li>
  <li>Formación policial o militar de la presunta
  persona agresora.</li>
  <li>Acceso y conocimiento de manejo de
  armas de fuego</li>
</ul>
<br><br>
<!-- pagina 4 -->
<div class="titulo-interno">Parámetros de valoración de
  las condiciones específicas
  de las víctimas</div>
  <div class="contendor-ojo">
    <div class="contiene-ojo">
      <ion-icon name="notifications-outline"></ion-icon>
    </div><br>  <br>
    <div class="contiene-texto-ojo">
      Parámetros que indicarán si la víctima
debe recibir atención prioritaria: <br>  <br>
    </div>
  </div>
<b>Pueden presentarse uno o más en cada caso.</b>
<ul>
  <li>SI la víctima muestra tener miedo de un
    ataque contra su vida, dignidad o integridad
    personal o la de sus dependientes.</li>
  <li>Si víctima pertenece a un grupo de
    atención prioritaria, por su condición
    económica, por su condición migratoria, por su
    identidad de género y/o orientación sexual.</li>
  <li>Si la víctima se encuentra aislada o
    retenida por la persona agresora contra su
    voluntad o lo haya estado previamente.</li>
    <li>SI la víctima, como consecuencia de las
      agresiones sufridas, haya recibido o esté
      recibiendo atención médica o psicológica.
      </li>
    <li>SI la víctima ha tenido intentos de suicidio.</li>
    <li>SI la víctima tiene un dependencia
      económica de persona agresora.</li>
</ul>
<br><br>
<!-- pagina 5 -->
<div class="titulo-interno">Consideraciones Generales
  para el Desarrollo de Otras
  Medidas</div>
<ul>
  <li>Las medidas se deberán desarrollar con base en
    la normativa nacional. </li>
  <li>Las medidas no podrán vulnerar derechos de
    ningún tipo.</li>
  <li>Las medidas serán desarrolladas en función de la
    protección que requiere la víctima de acuerdo al
    tipo de violencia, parámetros de riesgo.</li>
</ul>
<div class="titulo-interno">Pautas generales y ejemplos
  de otras MAPIs</div>
<ul>
  <li>Acciones de intervención psicosocial a las
    personas presuntas agresoras.</li>
    <li>Solicitar implementación de programas
      educomunicacionales para las comunidades.</li>
    </ul>
    <b>Medidas administrativas que se apoyan en el
      artículo 51 i)</b>
    <ul>
    <li>Solicitar atención urgente en instancias del
      Ministerio correspondiente</li>
    <li>Disponer atención urgente de la Defensoría
      del Pueblo.</li>
    <li>Solicitar la garantía laboral de víctima en
      caso de que la víctima deba ausentarse de su
      trabajo como resultado de la violencia o en caso
      de violencia en ámbito laboral. </li>
    <li>Solicitud de sumarios administrativos para
      las personas presuntas agresoras dentro de sus
      instituciones de trabajo.</li>
    <li>Solicitar revisión de requisitos para
      permisos y renovación de porte de armas. </li>
    <li>Disponer a otras instancias del Sistema
      Nacional Integral para prevenir y erradicar la
      violencia contra las Mujeres.</li>
</ul>
<br><br>
<!-- pagina 6 -->


  <div class="contendor-ojo">
    <div class="contiene-ojo">
      <ion-icon name="eye-outline"></ion-icon>
    </div><br>  <br>
    <div class="contiene-texto-ojo">
      El resumen del hecho de violencia
      deber ser realizado de manera
      precisa y clara. <br>  <br>
    </div>
  </div>
  <p class="texto-interno">ESCRITA PASO 5<br>
  VERBAL PASO 6</p>
  <p class="texto-interno">5. VERIFICACIÓN que la solicitud cuente
    con los datos requeridos.<br>
    <br><br>
<!-- pagina 7 -->
<p class="texto-interno"><b>Completar formulario de la solicitud</b></p>
<p class="texto-interno"><b>7. Dar lectura de la solicitud</b><br>
Una vez recibida la solicitud escrita o la reducida
a escrito solicitud verbal, se leerá en voz alta el
contenido de la misma con el objetivo de
ratificar y verificar la información: datos
personales de víctima y presunto agresor, relato
de los hechos, tipo de violencia y MAPIs
solicitadas.</p>
<p class="texto-interno">Una vez recibida la solicitud leerla en voz alta
ratificando los datos, hechos y medidas
solicitadas.</p>
<p class="texto-interno"><b>8. Firma o huella digital de la persona solicitante.</b></p>
  <p class="texto-interno"><b>9. Imprimir Formulario</b></p>
    <p class="texto-interno"><b>10. Abrir expediente</b><br>
Asignar una numeración secuencial y rotular la
caratula con los datos requeridos:</p>
<p class="texto-interno"><b>11. Entregar expediente</b>
La autoridad respectiva recibirá y revisará:<br>
La solicitud de MAPIs<br>
Documento impreso para el otorgamiento de
MAPIs</p><br>
<div class="titulo-interno">Procesos
  Solicitud y Otorgamiento</div>
  <div class="titulo-interno"><b>Solicitud</b></div>
  <p class="texto-interno"><b>1. Solicitud de Medida Administrativa.</b><br>
  Acudir a las Juntas Cantonales de Protección de
  Derechos o Tenencias Políticas<br>
  Solicitud Escrita<br>
  Solicitud Verbal</p>
  <p class="texto-interno"><b>2. Abordaje Inicial</b><br>
  La autoridad en territorio deberá saludar e
  identificarse mencionando su nombre y cargo.
  Deberá expresarse con claridad.</p>
  <p class="texto-interno">Contar o disponer del espacio adecuado para
  garantizar la confidencialidad y privacidad en la
  atención.</p>
  <p class="texto-interno">Escuchar el requerimiento de la persona usuaria
  para después explicar y aclarar el alcance que
  tiene la Tenencia Política, Comisaría Nacional
  Intendencia General de Policía para el
  otorgamiento de MAPIs.</p>
  <p class="texto-interno"><b>3. ¿Qué hacer si la víctima se encuentra en
  estado de crisis?</b></p>
<ul>
  <li>• Escuchar a la víctima y explicarle con claridad
  que ha comprendido la situación</li>
<li>• Ser cortés, usar un adecuado lenguaje corporal.</li>
<li>• Considerar el momento traumático que
  atraviesa la víctima</li>
<li>• Evitar conductas paternalistas</li>
<li>• Mostrarse amable, paciente y sensible.</li>
<li> • Brindar orientación de calidad y calidez a la
  víctima.</li>
</ul>

<p class="texto-interno">4. Recepción de la solicitud</p>
<div class="contendor-ojo">
  <div class="contiene-ojo">
    <ion-icon name="eye-outline"></ion-icon>
  </div>
  <div class="contiene-texto-ojo">
    El resumen del hecho de violencia
deber ser realizado de manera
precisa y clara. 
  </div>
</div>
<p class="texto-interno">ESCRITA PASO </p>
<p class="texto-interno">VERBAL PASO 6</p>
<p class="texto-interno">5. VERIFICACIÓN que la solicitud cuente
con los datos requeridos.</p>
<p class="texto-interno"><b>6. Completar formulario de la solicitud</b></p>
  <p class="texto-interno"><b>7. Dar lectura de la solicitud</b>
  Una vez recibida la solicitud escrita o la reducida
  a escrito solicitud verbal, se leerá en voz alta el
  contenido de la misma con el objetivo de
  ratificar y verificar la información: datos
  personales de víctima y presunto agresor, relato
  de los hechos, tipo de violencia y MAPIs
  solicitadas.</p>
  <p class="texto-interno"> Una vez recibida la solicitud leerla en voz alta
  ratificando los datos, hechos y medidas
  solicitadas.</p>
  <p class="texto-interno"><b>8. Firma o huella digital de la persona solicitante.</b></p>
  <p class="texto-interno"><b>9. Imprimir Formulario</b></p>
  <p class="texto-interno"><b>10. Abrir expediente</b><br>
  Asignar una numeración secuencial y rotular la
  caratula con los datos requeridos:</p>
  <p class="texto-interno"><b>11. Entregar expediente</b>
  La autoridad respectiva recibirá y revisará:
  La solicitud de MAPIs
  Documento impreso para el otorgamiento de
  MAPIs</p>
<br><br>
  <div class="titulo-interno">Otorgamiento</div>
  <div class="contendor-ojo">
    <div class="contiene-ojo">
      <ion-icon name="eye-outline"></ion-icon>
    </div>
    <div class="contiene-texto-ojo">
      Este se genera de manera automática
al ingresar la solicitud.
    </div>
  </div>
      <p class="texto-interno">Este se genera de manera automática
al ingresar la solicitud.</p>
<p class="texto-interno"><b>12. Otorgamiento de las Medidas y
disponer la elaboración de Resolución
Administrativa.</b></p>
<p class="texto-interno">Considerar parámetros de valoración de riesgos y condiciones específicas la presencia de uno solo de estos será suficiente para otorgar MAPIs
Otorgar uno o varias MAPIs para detener o prevenir la violencia de acuerdo a los
artículos 45 y 46 del Reglamento de la Ley</p>
<div class="contendor-ojo">
  <div class="contiene-ojo">
    <ion-icon name="eye-outline"></ion-icon>
  </div>
  <div class="contiene-texto-ojo">
    12. Elaboración Resolución Administrativa
    DOCUMENTOS 
  </div>
</div>
  <p class="texto-interno">Resolución administrativa</p>
  <p class="texto-interno">ROficios de Notificación a órgano judicial y Defensoría
del Pueblo</p>
<div class="contendor-ojo">
  <div class="contiene-ojo">
    <ion-icon name="notifications-outline"></ion-icon>
  </div>
  <div class="contiene-texto-ojo">
    En caso de que la auditoria en territorio emita las MAPIs contempladas en los
    literales c), i), j) y k) de la LOIPEVCM,
    deberá Verificar previamente los servicios
    de protección y atención de los que
    dispone cada institución
  </div>
</div>
<p class="texto-interno"><b>13. Elaboración Resolución Administrativa
DOCUMENTOS</b></p>
<p class="texto-interno">Resolución administrativa</p>
<p class="texto-interno">Oficios de Notificación a órgano judicial y Defensoría
del Pueblo</p>
<p class="texto-interno">Oficios a instituciones del Sistema Nacional para
prevenir y erradicar la violencia contra la mujer.</p>
<p class="texto-interno">Oficio a la policía Nacional
14. Revisar y firma</p>

<div class="contendor-ojo">
  <div class="contiene-ojo">
    <ion-icon name="eye-outline"></ion-icon>
  </div>
  <div class="contiene-texto-ojo">
    (disponer para proceder a las
    notificaciones).
  </div>
</div>
<br><br>
<!-- pagina 8 -->
<div class="titulo-interno">Notificación y Seguimiento</div>
<div class="titulo-interno"><b>Notificación</b></div>
<p class="texto-interno"><b>1. Entregar MAPIs a la víctima</b>
Original de la solicitud verbal
: por escrito,
debidamente firmada.
Solicitud escrita: entregar una copia con la
respectiva fe de presentación.
Original de la Resolución Administrativa
mediante la cual se otorgan las MAPIs
Original de Boleta de Auxilio.
Comunicar la respectiva razón de notificación a
la víctima</p>
<p class="texto-interno"><b>2. Notificación a presunta agresora
POLICÍA NACIONAL POLICÍA COMUNITARIA
AUTORIDAD ADMINISTRATIVA</b><br>
En casos en donde la notificación en persona
implique un riesgo evidente para Asistente
/Secretaria(o) en virtud de agresividad y factores
de riesgo identificados a través del testimonio de
la víctima, deberá solicitar apoyo a la Policía
Nacional de la gestión preventiva para realizar la
actividad.<br>
Notificación realice la propia persona
Asistente/Secretaria u otra <b>AUTORIDAD
ADMINISTRATIVA</b><br>
Entregar la boleta de notificación en lugar de
residencia o trabajo.<br>
Sentar la razón de la notificación.</p>
<p class="texto-interno"><b>3. Notificación en caso de no ubicar a la
presunta persona agresora</b><br>
 • Dejar tres boletas en su lugar de
residencia o trabajo, durante tres días diferentes<br>
 • Realizar a través de cualquier medio
electrónico (correo, WhatsApp) tomando en
cuenta la información que otorga la víctima.<br>
 • Colocar la Boleta de Notificación en un
lugar visible de la Tenencia Política, Comisaría
Nacional de Policía Intendencia General de Policía</p>

<p class="texto-interno"><b>4. Notificar presencial al órgano Judicial </b>(Forma
FÍSICA)
MAPIs Detener la violencia
Adjuntar oficio al órgano Judicial competente.
Notificar al Órgano Judicial sobre los hechos y las
MAPIs para DETENER la vulneración.
Ingresar oficio y expediente respectivo.
MAPIsPrevenir la violencia
Adjuntar oficio al órgano Judicial competente:
original.
Notificar al Órgano Judicial sobre hechos y las
MAPIs para PREVENIR la vulneración
Ingresar el oficio y expediente respectivo a través
de ventanilla de los Juzgados</p>
<p class="texto-interno"><b>5. Notificar digital órgano judicial.</b> (Forma
DIGITAL)
MAPIs Detener la violencia
Ingresar a módulo eterno del SATJE y digitar su
clave.
Completar la información
Adjuntar documentos escaneados
MAPIsPrevenir la violencia
Ingresar a módulo eterno del SATJE y digitar su
clave
Completar la información requerida por el
módulo
Adjuntar documentos escaneados</p>
<p class="texto-interno"><b>6. Notificar la Resolución Judicial a la
autoridad administrativa</b>
Notificar resolución judicial a l autoridad
administrativa mediante casillero electrónico que
otorgó las medidas.
Si no se cuenta con casillero electrónico se
procederá a notificar con la resolución judicial
adjuntando el expediente.</p>
<p class="texto-interno"><b>7. Revisar medidas administrativas otorgadas.</b>
Para ratificarlas, modificarlas o revocarlas.</p>
<div class="contendor-ojo">
  <div class="contiene-ojo">
    <ion-icon name="eye-outline"></ion-icon>
  </div>
  <div class="contiene-texto-ojo">
    Estar pendiente la resolución judicial
  </div>
</div>
<p class="texto-interno"><b>a. Revocatoria:</b><br>
Proceder al archivo del expediente adjuntando la
notificación física o digital</p>
<p class="texto-interno"><b>b. Ratificación</b><br>
Proceder al seguimiento de las medidas</p>

<p class="texto-interno"><b>8. NOTIFICAR AL DEFENSORIA DEL PUEBLO</b>
Notificar directamente en las Coordinaciones
Generales Defensorías Zonales y las delegaciones
Provinciales.</p>
<p class="texto-interno">Notificar en delegaciones de la Defensoría del
Pueblo mediante el oficio de notificación,
adjuntando documentos originales de la solicitud
y resolución administrativa en un plazo máximo de
24 horas para detener la vulneración de derechos
y en plazo máximo de 3 días para prevenir.</p>
<p class="texto-interno">Notificar en delegaciones de la Defensoría del
Pueblo mediante el oficio de notificación,
adjuntando documentos originales de la solicitud
y resolución administrativa.</p>
<p class="texto-interno"><b>9. Notificar a la Policía Nacional para
ejecución de MAPIs instalación de
dispositivos de alerta</b></p>
<p class="texto-interno">Dirigir oficio a la Policía Nacional de la gestión
preventiva, para disponer la activación del
botón de seguridad en la vivienda de la víctima.</p>
<p class="texto-interno"><b>10. NOTIFICAR ENTIDADES DEL SISTEMA
NACIONAL integral para prevenir y
erradicar la violencia contra la mujer.
Priorizar el uso del correo electrónico </b>para
remitir documentos escaneado del oficio y la
Resolución Administrativa.</p>
<p class="texto-interno"><b>NOTA: si no se puede utilizar este
mecanismo notificar por escrito adjuntando
la resolución ADMINISTRATIVA</b></p>
<br><br>
<!-- pagina 9 -->
<div class="titulo-interno"><b>Seguimiento</b></div>
<p class="texto-interno"><b>1. Seguimiento administrativo de la ejecución
  de MAPIS por parte de la Policía Nacional</b>
  Realizará un control de las fechas de notificación y
  ejecución de las medidas a través de la verificación
  de los informes/partes policiales de ejecución de
  medidas.</p>
  <div class="contendor-ojo">
    <div class="contiene-ojo">
      <ion-icon name="eye-outline"></ion-icon>
    </div>
    <div class="contiene-texto-ojo">
      Si se evidencia incumplimiento se deberá
poner en conocimiento de la Delegación
Provincial o Coordinación General
Defensoría Zonal de la Defensoría del
Pueblo para la gestión correspondiente
    </div>
  </div>

  <p class="texto-interno"><b>Sistema Nacional integral para prevenir y
erradicar la violencia contra la mujer</b>
Realizar control de los informes de ejecución
solicitados</p>
<p class="texto-interno">Mediante Resolución Administrativa, según la
particularidad del caso.</p>
<div class="contendor-ojo">
  <div class="contiene-ojo">
    <ion-icon name="eye-outline"></ion-icon>
  </div>
  <div class="contiene-texto-ojo">
    Si se evidencia incumplimiento se deberá poner en
    conocimiento de la Delegación Provincial o Coordinación General Defensoría Zonal de
    la Defensoría del Pueblo para la gestión
    correspondiente.
  </div>
</div>
<br><br>


  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>