<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu4"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="otrolink1" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Art. 47. LOPEIVCM- Las medidas de protección serán de carácter inmediato y provisional; tendrán por objeto evitar o cesar la amenaza o vulneración de la vida e integridad, en relación con los actos de violencia contra las mujeres, niñas, adolescentes, jóvenes, adultas y adultas mayores, determinados en este cuerpo legal. <br>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink2" size="auto">
    <ng-template>
      <ion-content class="ion-padding">OJO () NO se necesita patrocinio legal.<br>
        A partir de los 12 años las adolescentes pueden solicitar una MAPIs sin la compañía de la persona adulta responsable.
        </ion-content>
    </ng-template>
  </ion-popover>
  
  <div class="fondo-gris">
  <div class="titulo-interno">¿Qué son MAPIs?</div>
  <p class="texto-interno">Son <a id="otrolink1">medidas administrativas </a>de carácter
    inmediato y provisional, que se otorgan cuando
    existe cualquier amenaza o vulneración los
    derechos de mujeres y niñas.</p><br>
   
      <br>
      



  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>