<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/pregmenu"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">¿Qué procedimiento debo
    seguir si la víctima solicita
    MAPIs en una Tenencia
    Política/Comisaría
    Nacional/Intendencia de una
    ciudad diferente al lugar de
    su domicilio?
   </div>

   <p class="texto-interno">Se podrá otorgar cualquiera de las medidas
    establecidas en la Ley y en el Código de la
    Niñez y Adolescencia y se coordinará con la
    Policía especializada de niños, niñas y adolescentes. DINAPEN
    
    </p>

  <div class="cuadro-morado">
    <p class="texto-interno-blanco">Reglas para el otorgamiento de MAPIs</p>
    <p class="texto-interno-blanco"> f) Se dictarán las medidas administrativas de protección sin importar que el
      domicilio de la víctima o el lugar en el
      cual se efectuase la conducta violenta,
      fuese diferente a la circunscripción
      territorial de la autoridad; para ello, la
      autoridad que haya dictado la medida
      deberá coordinar su ejecución con la
      autoridad del domicilio de la víctima.</p>
  </div>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>