<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casoseb"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">TIPO: </div>
  <p class="texto-interno">Gineco-obstréticaa</p>
  <br>
  <div class="titulo-interno">ÁMBITO: </div>
  <p class="texto-interno">Para detener o prevenir este tipo de violencia, se
    podría <b>solicitar al Ministerio de Salud inicie el
    sumario administrativo disciplinario en contra
    del médico</b> para que se establezcan
    responsabilidades y de ser el caso se proceda
    con la sanción respectiva.<br>
    <b>Emitir MAPIs contempladas en la LOIPEVCM y
    aquellas especificadas en el Código Integral
    de la Niñez y Adolescencia, </b>notificar al órgano
    judicial y/o disponer <b></b>intervención del DINAPEN
    para ejecución de medidas si la integridad física,
    psicológica o sexual de la adolescente
    vulnerada.</p>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>

</ion-content>
