<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/otorgamientomap"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="notifications-outline"></ion-icon>
      </div><br>  <br>
      <div class="contiene-texto-ojo">
        
        <p class="texto-interno">-El hecho de violencia se encuentre en otra circunscripción.</p>
          <p class="texto-interno">  - Una ficha que tenga información incompleta.</p>
            <p class="texto-interno">  No son razones para no otorgar MAPIs. La autoridad será responsable por la vulneración de derechos de la víctima generada por su omisión.</p>
        <br>  <br>
      </div>
    </div>

      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>