<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casosfc"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-popover trigger="otrolink402" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Art. 12<br>
        h) Violencia en espacio comunitario: En el espacio público o comunitario.- Comprende el contexto en el cual la violencia se ejerce de manera individual o colectiva en lugares o espacios públicos, privados de acceso público; espacios de convivencia barrial o comunitaria; transporte público y otros de uso común tanto rural como urbano, mediante toda acción física, verbal o de connotación sexual no consentida, que afecte la seguridad e integridad de las mujeres, niñas y adolescentes.<br>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink403" size="auto">
    <ng-template>
      <ion-content class="ion-padding">
         Art. 51 <br>
        e) Prohibir al agresor por sí o por terceros, acciones de intimidación, amenazas o coacción a la mujer que se encuentra en situación de violencia o a cualquier integrante de su familia.<br>
        o) Todas las que garanticen la integridad de las mujeres en situación de violencia.<br>
        </ion-content>
    </ng-template>
  </ion-popover>

  <div class="fondo-gris">
  <div class="titulo-interno">NORMATIVA APLICADA </div>
  <p class="texto-interno"><a id="otrolink402">Art. 10.c Art 12. h)</a> <br>
    <a id="otrolink403"> Art. 51 e) o)</a> </p>
  
  

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>

</ion-content>