<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="fondo-gris">
    <div class="titulo-interno">Lineamientos específicos
      para  el a bordaje  y <a href="#">contención en crisis</a> con víctimas
      de violencia contra la mujer
      </div>
    
        <div class="contiene-iamgen-texto"> 
          <div class="iamgen-texto1"> 
            <div class="icon-111"><ion-icon name="notifications-outline"></ion-icon></div>
          </div>
          <div class="iamgen-texto2"> 
            <p class="texto-interno">Recuerde siempre aplicar los siguientes lineamientos</p>
          </div>
        </div>
        
        <p class="texto-interno"> <a href="#">• Procurar que la usuar ia/víctima se sienta cómoda, manteniendo una distancia corporal adecuada. Respeto espacio privado.</a></p>
        <p class="texto-interno"> <a href="#">• Respetar en todo momento las pausas o silencios de la víctima/usuaria.</a></p>
        <p class="texto-interno"> • En caso de que la víctima se muestre confusa, <b> realizar preguntas simples</b>  para ayudarle a ordenar sus ideas.</p>
        <p class="texto-interno"> • <b> NO EMITIR JUICIOS</b>  de va lor o comenta rios sobre el relato de la víctima o sobre los hechos de violencia.</p>
        <p class="texto-interno"> • Dirigirse a la víctima en <a href="#">términos adecuados y correctos. </a></p>
        <p class="texto-interno"> • Mostrar <a href="#">empatía </a>con la víctima.</p>
       
        <div class="contiene-iamgen-texto"> 
          <div class="iamgen-texto1"> 
            <div class="icon-111"><ion-icon name="notifications-outline"></ion-icon></div>
          </div>
          <div class="iamgen-texto2"> 
            <p class="texto-interno">Todo momento mostrará cortesía para generar un ambiente de confianza.
              </p>
          </div>
        </div>
  
        <p class="texto-interno"> • Escuchar <b><a href="#">con atención </a></b>a la víctima.</p>
        <p class="texto-interno"> • Respetar en todo momento <b>el derecho de la víctima a sentirse mal.</b></p>
  
        <div class="contiene-iamgen-texto"> 
          <div class="iamgen-texto1"> 
            <div class="icon-111"><ion-icon name="notifications-outline"></ion-icon></div>
          </div>
          <div class="iamgen-texto2"> 
            <p class="texto-interno">No mostrar desinterés ni paternalismo.
              </p>
          </div>
        </div>
  
        <p class="texto-interno"> • Mostrarse siempre amable, sensible, paciente e interesado ante la situación de la víctima.</p>
  
        <div class="contiene-iamgen-texto"> 
          <div class="iamgen-texto1"> 
            <div class="icon-111"><ion-icon name="notifications-outline"></ion-icon></div>
          </div>
          <div class="iamgen-texto2"> 
            <p class="texto-interno"><b>No se puede ofertar algo que no se vaya a cumplir.</b>
              </p>
          </div>
        </div>
          
        <p class="texto-interno"> <a href="#">• Orientar a la víctima</a> y presentarle opciones.</p>
  
        <div class="contiene-iamgen-texto"> 
          <div class="iamgen-texto1"> 
            <div class="icon-111"><ion-icon name="notifications-outline"></ion-icon></div>
          </div>
          <div class="iamgen-texto2"> 
            <p class="texto-interno">En ningún momento: Culpabilizar, Recriminar,
              Minimizar la situación, Dar consejos,
              Forzar a hablar o hacer cosas, Juzgar a la víctima por sus acciones o sentimientos,
              
              </p>
          </div>
        </div>
          
        <p class="texto-interno"> <a href="#">•	No solicitar</a> a la víctima en detalle de los hechos o que repita la narración de los hechos, si esto no fuera de carácter estrictamente necesario.</p>
   
        <div class="boton-azul">
          <div class="letra-boton1" routerLink="/home2">VOLVER</div>
        </div>
  </div>


</ion-content>