<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="link5" size="auto">
    <ng-template>
      <ion-content class="ion-padding">CTA: ¿Cómo se reconoce una situación en crisis?<br> 
        La víctima:<br> 
        No puede pensar con claridad.<br> 
        Muestra signos de desorganización<br> 
        Presenta señales de ansiedad y presenta taquicardia, sensación de ahogo o debilidad.
         </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link6" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> CTA: GLOBO DE TEXTO: <br> 
        •	No interrumpir<br> 
        •	Respetar silencios
         </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link7" size="auto">
    <ng-template>
      <ion-content class="ion-padding">CTA: GLOBO DE TEXTO Utilizar en todo momento un lenguaje claro y sencillo, empleando un tono gentil, mostrando interés en lo que la usuaria/víctima detalla.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link8" size="auto">
    <ng-template>
      <ion-content class="ion-padding">CTA: Globo de texto:  NUNCA referirse a las víctimas con términos inoportunos y en ningún momento establecer temas de conversación que no sean parte del procedimiento, ni sobre temas personales o de otro tipo.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link9" size="auto">
    <ng-template>
      <ion-content class="ion-padding">CTA: GLOBO DE TEXTO ROLL UP Ponerse en el lugar de la víctima y comprender la situación por la que atraviesa.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link10" size="auto">
    <ng-template>
      <ion-content class="ion-padding">CTA  GLOBO DE TEXTO Es necesario que  la víctima se sienta comprendida y que sus requerimientos serán asistidos.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link11" size="auto">
    <ng-template>
      <ion-content class="ion-padding">GLOBO DE TEXTO:  Denuncia ante fiscalía.<br> 
        Solicitud MAPIs  ante una autoridad administrativa.
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link12" size="auto">
    <ng-template>
      <ion-content class="ion-padding">CTA OJO: NO REVICTIMIZAR</ion-content>
    </ng-template>
  </ion-popover>
 
  <div class="fondo-gris">
    <div class="titulo-interno">Lineamientos específicos
      para  el a bordaje  y <b><a id="link5">contención en crisis</a></b> con víctimas
      de violencia contra la mujer
      </div>
    
        <div class="contiene-iamgen-texto"> 
          <div class="iamgen-texto1"> 
            <div class="icon-111"><ion-icon name="notifications-outline"></ion-icon></div>
          </div>
          <div class="iamgen-texto2"> 
            <p class="texto-interno">Recuerde siempre aplicar los siguientes lineamientos</p>
          </div>
        </div>
        
        <p class="texto-interno"> • Procurar que la usuaria/víctima se sienta <b><a id="link7">cómoda,</a></b> manteniendo una distancia corporal adecuada. Respeto espacio privado.</p>
        <p class="texto-interno"> <b><a id="link6">• Respetar </a></b>en todo momento las pausas o silencios de la víctima. </p>
        <p class="texto-interno"> • En caso de que la víctima se muestre confusa, <b> realizar preguntas simples</b>  para ayudarle a ordenar sus ideas.</p>
        <p class="texto-interno"> • <b> NO EMITIR JUICIOS</b>  de va lor o comenta rios sobre el relato de la víctima o sobre los hechos de violencia.</p>
        <p class="texto-interno"> • Dirigirse a la víctima en <a id="link8"><b>términos adecuados y correctos.</b> </a></p>
        <p class="texto-interno"> • Mostrar <a id="link9"><b>empatía</b> </a>con la víctima.</p>
       
        <div class="contiene-iamgen-texto"> 
          <div class="iamgen-texto1"> 
            <div class="icon-111"><ion-icon name="notifications-outline"></ion-icon></div>
          </div>
          <div class="iamgen-texto2"> 
            <p class="texto-interno">Todo momento mostrará cortesía para generar un ambiente de confianza.
              </p>
          </div>
        </div>
  
        <p class="texto-interno"> • Escuchar <b><a id="link10">con atención </a></b>a la víctima.</p>
        <p class="texto-interno"> • Respetar en todo momento <b>el derecho de la víctima a sentirse mal.</b></p>
  
        <div class="contiene-iamgen-texto"> 
          <div class="iamgen-texto1"> 
            <div class="icon-111"><ion-icon name="notifications-outline"></ion-icon></div>
          </div>
          <div class="iamgen-texto2"> 
            <p class="texto-interno">No mostrar desinterés ni paternalismo.
              </p>
          </div>
        </div>
  
        <p class="texto-interno"> • Mostrarse siempre amable, sensible, paciente e interesado ante la situación de la víctima.</p>
  
        <div class="contiene-iamgen-texto"> 
          <div class="iamgen-texto1"> 
            <div class="icon-111"><ion-icon name="notifications-outline"></ion-icon></div>
          </div>
          <div class="iamgen-texto2"> 
            <p class="texto-interno"><b>No se puede ofertar algo que no se vaya a cumplir.</b>
              </p>
          </div>
        </div>
          
        <p class="texto-interno"> <a id="link11"><b>• Orientar a la víctima</b></a> y presentarle opciones.</p>
  
        <div class="contiene-iamgen-texto"> 
          <div class="iamgen-texto1"> 
            <div class="icon-111"><ion-icon name="notifications-outline"></ion-icon></div>
          </div>
          <div class="iamgen-texto2"> 
            <p class="texto-interno">En ningún momento: Culpabilizar, Recriminar,
              Minimizar la situación, Dar consejos,
              Forzar a hablar o hacer cosas, Juzgar a la víctima por sus acciones o sentimientos,
              
              </p>
          </div>
        </div>
          
        <p class="texto-interno"> <a id="link12"><b>•	No solicitar</b></a> a la víctima en detalle de los hechos o que repita la narración de los hechos, si esto no fuera de carácter estrictamente necesario.</p>
   
        <div class="boton-azul">
          <div class="letra-boton1" routerLink="/home2">VOLVER</div>
        </div>
  </div>


</ion-content>