<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casoseco2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="otrolink302x" size="auto">
    <ng-template>
      <ion-content class="ion-padding">ART. 51<br>
        a)	 Emitir la boleta de auxilio y la orden de restricción de acercamiento a la víctima por parte del presunto agresor, en cualquier espacio público o privado.<br>
e) Prohibir al agresor por sí o por terceros, acciones de intimidación, amenazas o coacción a la mujer que se encuentra en situación de violencia o a cualquier integrante de su familia.<br>
 f) Ordenar al agresor la salida del domicilio cuando su presencia constituya una amenaza para la integridad física, psicológica o sexual o la vida de la mujer o cualquiera de los miembros de la familia.<br>
 j) Disponer la inserción de la mujer víctima de violencia y sus dependientes, en programas de inclusión social y económica, salud, educación, laboral y de cuidados dirigidos a los grupos de atención prioritaria a cargo del ente rector de políticas públicas de Inclusión Social y otras instancias locales que brinden este servicio.
       
        </ion-content>
    </ng-template>
  </ion-popover>

  <div class="fondo-gris">
  <div class="titulo-interno">NORMATIVA APLICADA </div>
  <p class="texto-interno"><a id="otrolink302x">Art.51 de la LOIPEVCM Literales a), e), f), j)</a></p>
  <br>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>

</ion-content>