<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu6"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="otrolink100" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Ejemplos amenazas: dejar de apoyar económicamente, hacer daño a sus dependientes, atentar contra el bienestar físico y emocional de la víctima, con el posible despido del trabajo, otros.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink101" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Ejemplos actos de violencia: gritar a la víctima, hacer comentarios denigrantes, llevarla la fuerza, golpearla, otros).</ion-content>
    </ng-template>
  </ion-popover>

  <div class="fondo-gris">

    <!-- pagina 3.5 -->
    <div class="titulo-interno">Parámetros de Valoración
      del Riesgo</div>
      <div class="contendor-ojo">
        <div class="contiene-ojo">
          <ion-icon name="notifications-outline"></ion-icon>
        </div><br>  <br>
        <div class="contiene-texto-ojo">
          Factores o elementos que indican si la
    víctima se encuentra en una <b>situación
    de riesgo.</b>  <br>  <br>
        </div>
      </div>
    <b>Pueden presentarse uno o más en cada caso.</b>
    <ul>
      <li>Existencia previa de solicitudes de MAPIs,
      sean estas, administrativas o judiciales y de
      acciones urgentes.</li>
      <li>Existencia de <a id="otrolink100">amenazas</a> por parte de la
      persona agresora a la víctima o a sus
      dependientes.</li>
      <li>Existencia de amenazas por parte de la
      presunta persona agresora con llevarse a las y
      los hijos o dependientes de la víctima.</li>
      <li>Que exista o haya existido amenaza por
      parte de la persona agresora de llevarse u
      ocasionar daño a los animales domésticos o
      bienes de la víctima.</li>
      <li>Consumo abusivo de alcohol o drogas por
      parte de la persona agresora.
      <li> <a id="otrolink101">Actos de violencia</a> en presencia de hijos,
      hijas o familiares o en lugares públicos.</li>
      <li>Intento o amenazas de suicidio, o
      cualquier <b>otra medida intimidante </b>por parte
      de la persona agresora.</li>
      <li>Existencia de antecedentes psiquiátricos
      de la presunta persona agresora.</li>
      <li>Formación policial o militar de la presunta
      persona agresora.</li>
      <li>Acceso y conocimiento de manejo de
      armas de fuego.</li>
    </ul>
    <br><br>
    <!-- pagina 4 -->
    <div class="titulo-interno">Parámetros de valoración de
      las condiciones específicas
      de las víctimas</div>
      <div class="contendor-ojo">
        <div class="contiene-ojo">
          <ion-icon name="notifications-outline"></ion-icon>
        </div><br>  <br>
        <div class="contiene-texto-ojo">
          Parámetros que indicarán si la víctima
    debe recibir atención prioritaria: <br>  <br>
        </div>
      </div>
    <b>Pueden presentarse uno o más en cada caso.</b>
    <ul>
      <li>SI la víctima muestra tener miedo de un
        ataque contra su vida, dignidad o integridad
        personal o la de sus dependientes.</li>
      <li>Si víctima pertenece a un grupo de
        atención prioritaria, por su condición
        económica, por su condición migratoria, por su
        identidad de género y/o orientación sexual.</li>
      <li>Si la víctima se encuentra aislada o
        retenida por la persona agresora contra su
        voluntad o lo haya estado previamente.</li>
        <li>SI la víctima, como consecuencia de las
          agresiones sufridas, haya recibido o esté
          recibiendo atención médica o psicológica.
          </li>
        <li>SI la víctima ha tenido intentos de suicidio.</li>
        <li>SI la víctima tiene un dependencia
          económica de persona agresora.</li>
    </ul>
    <br><br>
    <!-- pagina 5 -->
   
    <br><br>
      
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>