<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu4"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    <div class="titulo-interno">Parámetros de Valoración del Riesgo</div>
    <p class="texto-interno">a) Temporales</p>
    <p class="texto-interno">b) De cumplimiento inmediato</p>
    <p class="texto-interno"><b>c) No constituyen prejuzgamiento</b></p>
    <p class="texto-interno">d) No requieren la práctica de pruebas para su
    adopción.</p>
    <p class="texto-interno">e) Entran en vigencia desde su otorgamiento</p>
    <p class="texto-interno"><b>f) No son una valoración jurídica concreta de la
    conducta de la persona agresora.</b></p>
    <p class="texto-interno"><b>g) Tienen carácter preventivo y no
    sancionatorio.</b></p>
    <p class="texto-interno">h) Su incumplimiento genera responsabilidad
    administrativa, civil o penal.</p>
      <br><br>
    <!-- pagina 3.5 -->
    <div class="titulo-interno">Parámetros de Valoración
      del Riesgo</div>
      <div class="contendor-ojo">
        <div class="contiene-ojo">
          <ion-icon name="notifications-outline"></ion-icon>
        </div><br>  <br>
        <div class="contiene-texto-ojo">
          Factores o elementos que indican si la
    víctima se encuentra en una situación
    de riesgo.  <br>  <br>
        </div>
      </div>
    <b>Pueden presentarse uno o más en cada caso.</b>
    <ul>
      <li>Existencia previa de solicitudes de MAPIs,
      sean estas, administrativas o judiciales y de
      acciones urgentes.</li>
      <li>Existencia de amenazas por parte de la
      persona agresora a la víctima o a sus
      dependientes.</li>
      <li>Existencia de amenazas por parte de la
      presunta persona agresora con llevarse a las y
      los hijos o dependientes de la víctima.</li>
      <li>Que exista o haya existido amenaza por
      parte de la persona agresora de llevarse u
      ocasionar daño a los animales domésticos o
      bienes de la víctima.</li>
      <li>Consumo abusivo de alcohol o drogas por
      parte de la persona agresora.
      <li>Actos de violencia en presencia de hijos,
      hijas o familiares o en lugares públicos.</li>
      <li>Intento o amenazas de suicidio, o
      cualquier otra medida intimidante por parte
      de la persona agresora.</li>
      <li>Existencia de antecedentes psiquiátricos
      de la presunta persona agresora.</li>
      <li>Formación policial o militar de la presunta
      persona agresora.</li>
      <li>Acceso y conocimiento de manejo de
      armas de fuego</li>
    </ul>
    <br><br>
    <!-- pagina 4 -->
    <div class="titulo-interno">Parámetros de valoración de
      las condiciones específicas
      de las víctimas</div>
      <div class="contendor-ojo">
        <div class="contiene-ojo">
          <ion-icon name="notifications-outline"></ion-icon>
        </div><br>  <br>
        <div class="contiene-texto-ojo">
          Parámetros que indicarán si la víctima
    debe recibir atención prioritaria: <br>  <br>
        </div>
      </div>
    <b>Pueden presentarse uno o más en cada caso.</b>
    <ul>
      <li>SI la víctima muestra tener miedo de un
        ataque contra su vida, dignidad o integridad
        personal o la de sus dependientes.</li>
      <li>Si víctima pertenece a un grupo de
        atención prioritaria, por su condición
        económica, por su condición migratoria, por su
        identidad de género y/o orientación sexual.</li>
      <li>Si la víctima se encuentra aislada o
        retenida por la persona agresora contra su
        voluntad o lo haya estado previamente.</li>
        <li>SI la víctima, como consecuencia de las
          agresiones sufridas, haya recibido o esté
          recibiendo atención médica o psicológica.
          </li>
        <li>SI la víctima ha tenido intentos de suicidio.</li>
        <li>SI la víctima tiene un dependencia
          económica de persona agresora.</li>
    </ul>
    <br><br>
    <!-- pagina 5 -->
    <div class="titulo-interno">Consideraciones Generales
      para el Desarrollo de Otras
      Medidas</div>
    <ul>
      <li>Las medidas se deberán desarrollar con base en
        la normativa nacional. </li>
      <li>Las medidas no podrán vulnerar derechos de
        ningún tipo.</li>
      <li>Las medidas serán desarrolladas en función de la
        protección que requiere la víctima de acuerdo al
        tipo de violencia, parámetros de riesgo.</li>
    </ul>
    <div class="titulo-interno">Pautas generales y ejemplos
      de otras MAPIs</div>
    <ul>
      <li>Acciones de intervención psicosocial a las
        personas presuntas agresoras.</li>
        <li>Solicitar implementación de programas
          educomunicacionales para las comunidades.</li>
        </ul>
        <b>Medidas administrativas que se apoyan en el
          artículo 51 i)</b>
        <ul>
        <li>Solicitar atención urgente en instancias del
          Ministerio correspondiente</li>
        <li>Disponer atención urgente de la Defensoría
          del Pueblo.</li>
        <li>Solicitar la garantía laboral de víctima en
          caso de que la víctima deba ausentarse de su
          trabajo como resultado de la violencia o en caso
          de violencia en ámbito laboral. </li>
        <li>Solicitud de sumarios administrativos para
          las personas presuntas agresoras dentro de sus
          instituciones de trabajo.</li>
        <li>Solicitar revisión de requisitos para
          permisos y renovación de porte de armas. </li>
        <li>Disponer a otras instancias del Sistema
          Nacional Integral para prevenir y erradicar la
          violencia contra las Mujeres.</li>
    </ul>
    <br><br>
      
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>