<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/violenciafisica"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Casos  </div>
  <p class="texto-interno">María José una mujer de 25, se acerca a la tenencia política para solicitar algún tipo de medida en contra de su cuñada que tiene 16 años quien vive con el y su familia por motivos de estudios. </p>
  <p class="texto-interno"> La víctima cuenta que la adolescente tiene desde hace tiempo conductas agresivas contra ella y de manera constante la insulta para provocar un enfrentamiento.</p>
  <p class="texto-interno">  María José narra que la última vez la haló del cabello y la empujó lo que provocó que se torciera el pie. Teme que algo más grave pueda pasar.  </p>
    
    <div class="icono1"><img src="https://i.imgur.com/FVcZwXU.png"></div>
    
    <div class="boton-blanco" routerLink="/pautas15">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Pautas Generales</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <hr>

    <div class="boton-blanco" routerLink="/normativaap15">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Normativa Aplicada</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <div class="boton-azul">
      <div class="letra-boton1" routerLink="/home">VOLVER</div>
    </div>
  </div>
  
  </ion-content>