<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casosdc"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-popover trigger="otrolink404" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Art. 51<br>
        o) Todas las que garanticen la integridad de las mujeres en situación de violencia.        
        </ion-content>
    </ng-template>
  </ion-popover>

  <div class="fondo-gris">
  <div class="titulo-interno">NORMATIVA APLICADA </div>
  <p class="texto-interno"><a id="otrolink404">Art. 51, literal o</a></p>
  <br>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>

</ion-content>