<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/pregmenu"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">¿Puede solicitarse una MAPI
    en contra de una asociación,
    empresa, partido político,
    agrupación?
   </div>

   <p class="texto-interno">Toda MAPI debe ser emitida en contra de una
    persona natural. Por esa razón se deberá
    realizar a nombre del representante legal de la
    asociación, empresa, partido político,
    agrupación, etc. , que esté atentando contra la
    dignidad de mujeres y niñas, para aplicar la
    medida. </p>


  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>