<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/homep"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
   <p class="texto-interno">Esta aplicación está dividida en 4 partes para facilitar su recorrido y consulta. Por medio de los apartados Enfoques, Rol y competencias, MAPIs y Preguntas Frecuentes se busca apoyar las labores de las autoridades administrativas en atención y prevención de violencia.<br>
    El texto con color redirige a leyes, reglamentos y lineamientos que legitiman las labores de otorgamiento de MAPIs.<br>
    Contiene archivos de consulta y de formatos de procesos.
    
    </p>



  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/homep">VOLVER</div>
  </div>
</div>
</ion-content>