<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/homep"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Auda
   </div>

   <p class="texto-interno">
    </p>



  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/homep">VOLVER</div>
  </div>
</div>
</ion-content>