
<ion-content [fullscreen]="true">

  <div id="container">
    <div class="cuadro blanco"> 
      <div class="texto-cuadro-blanco"> Mapis y Acciones Urgentes</div>

      <a routerLinkActive="active" routerLink="/home">
    <div class="cuadro-celeste"> 
      <img src="https://i.imgur.com/nK02RGZ.png">
      <div class="texto-cuadro-celeste"> Autoridad Administrativa</div>
    </div> 
  </a>
  <a routerLinkActive="active" routerLink="/home2">
    <div class="cuadro-naranja"> 
      <img src="https://i.imgur.com/ftPMTu7.png">
      <div class="texto-cuadro-celeste"> Policía Nacional</div>
    </div> 
  </a>
  </div> 
  <div class="preguntas-contendor">
    <div class="texto-preguntas">
      Toque en el perfil que corresponsa con su roll
      </div>
      <div class="espacio-blanco">
        <a routerLinkActive="active" 
        routerLink="#">
        <div class="boton-rojo">
             Ayuda
        </div>
      </a>
      </div>
      <img class="im222" src="https://i.imgur.com/VunI5VE.png">
  </div>
</div>
</ion-content>