<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casospsicb"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">

      <div class="titulo-interno">TIPO DE VIOLENCIA: </div>
      <p class="texto-interno">Fisica</p>
      <br>
      <div class="titulo-interno">ÁMBITO: </div>
      <p class="texto-interno">Intrafamiliar</p>
      <br>
      <div class="titulo-interno">PAUTAS GENERALES </div>
      <p class="texto-interno">Las medidas de protección pueden ser otorgadas a adolescentes pues no tienen carácter sancionatorio. Se pueden otorgar las Medidas que se encuentran del Código de la Niñez y Adolescencia.</p>

        <p class="texto-interno"> Solicitar una intervención psicosocial para la persona agresora como estrategia de prevención.</p>
    

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>

</ion-content>