<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casospsicb"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">

      <div class="titulo-interno">TIPO DE VIOLENCIA: </div>
      <p class="texto-interno">Psicológica y fisica</p>
      <br>
      <div class="titulo-interno">ÁMBITO: </div>
      <p class="texto-interno">Intrafamiliar</p>
      <br>
      <div class="titulo-interno">PAUTAS GENERALES </div>
      <p class="texto-interno">Detener y prevenir agresiones restringiendo el acercamiento de la presunta agresora.<br>
        Prohibir acciones de intimidación.<br>
        Activación del botón de seguridad.
        </p>
    

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>

</ion-content>