<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/violenciapsicologica"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Casos  </div>
  <div class="titulo-interno">B  </div>
  <p class="texto-interno">Soy una mujer de 65 años, casada desde hace 45
    años. Mi esposo es un militar retirado, yo soy
    ama de casa y nunca he trabajado. Mis dos hijos
    están casados y tienen sus propios hogares.</p>
    <p class="texto-interno">Vengo a la Tenencia a pedir ayuda porque mi
    esposo no me da dinero para la casa, ni la
    comida. Yo tengo diabetes y no me da para los
    medicamentos. A veces cuando está de buen
    humor me da un poco de dinero, pero no se da
    cuenta que no alcanza para todos los gastos.</p>
    <p class="texto-interno">Nunca me da ni para comprarme un par de
    zapatos y me ignora todo el tiempo. Me trata
    como empleada y no quiere que duerma con él.</p>
    <p class="texto-interno">Me siento poca cosa y mis hijos no quieren
    intervenir. Mi esposo es alcohólico, toma casi
    todos los días con sus ex compañeros y temo ser
    agredida.</p>
    <div class="icono3"><img src="https://i.imgur.com/NiG5mln.png"></div><div class="icono4"><img src="https://i.imgur.com/vUOQw3I.png"></div>
    
    <div class="boton-blanco" routerLink="/pautas2">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Pautas Generales</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <hr>

    <div class="boton-blanco" routerLink="/normativaap2">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Normativa Aplicada</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>

</ion-content>