<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu42"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">1. Violencia de Género<br>¿Qué es violencia de
    género?</div>
  <p class="texto-interno">Cualquier acto perjudicial incurrido en contra de
    la voluntad de una persona, y que está basado
    en diferencias socialmente adjudicadas (género)
    entre mujeres y hombres. La naturaleza y el
    alcance de los distintos tipos de la violencia de
    género varían entre las culturas, países y regiones. </p>
    <div class="cuadro-verde">
      <p class="texto-interno-blanco">El Art. 4 numeral 1 de la LOIPEVCM (Ley orgánica para prevenir y erradicar la violencia contra las mujeres) define a la
        violencia de género contra las mujeres como
        cualquier acción o conducta basado en su
        género que cause o no muerte, daño y/o
        sufrimiento físico, sexual, psicológico,
        económico o patrimonial, gineco obstétrico a
        las mujeres, sea en el ámbito público o
        privado.</p>
    </div>
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>
</ion-content>

