<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/otorgamientomap"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="notifications-outline"></ion-icon>
      </div><br>  <br>
      <div class="contiene-texto-ojo">
        <p class="texto-interno"> La autoridad que haya dictado la medida deberá coordinar su ejecución con la autoridad de la circunscripción del domicilio de la víctima.</p>
        <br>  <br>
      </div>
    </div>

      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>