<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/home2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      <div class="titulo"><ion-title>Enfoques</ion-title></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- Default Item -->


<!-- Item as a Button -->
<div class="fondo-gris">
<div class="fondo-blanco">
<ion-item href="derechos2">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Derechos </div> </div> 
</ion-label>
</ion-item>

<ion-item href="genero2">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Género </div> </div> 
</ion-label>
</ion-item>
<ion-item href="interculturalidad2">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Interculturalidad </div> </div> 
</ion-label>
</ion-item>
<ion-item href="integralidad2">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Integralidad </div> </div> 
</ion-label>
</ion-item>
<ion-item href="interc">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Interseccionalidad </div> </div> 
</ion-label>
</ion-item>
<ion-item href="intergeneracional2">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Intergeneracional   </div> </div> 
</ion-label>
</ion-item>
</div>
<div class="boton-azul">
  <div class="letra-boton" routerLink="/home2">VOLVER</div>
</div>
</div>

</ion-content>
