<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/enfoques2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Género</div>
  <p class="texto interno">Constituye una categoría de análisis que permite
    reconocer comportamientos, roles, actitudes que
    son socialmente atribuidos a hombres y mujeres,
    más allá de sus diferencias biológicas/fisiológicas.
    La aplicación de este enfoque permite identificar
    posibles situaciones de desigualdad entre las
    personas y las condiciones y oportunidades que
    tienen para ejercer sus derechos, así como
    comprender los patrones socioculturales que
    operan y condicionan la situación particular de las
    mujeres en distintas esferas de la vida.</p>
  <div class="icono1"><ion-icon name="male-female-outline"></ion-icon></div>
  <div class="boton-blanco">
    <div class="div-a">
      <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Ir a ejemplos</div></div>
    </div>
    <div class="div-b">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER A MENÚ PRINCIPAL</div>
  </div>
</div>
</ion-content>
