<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/violenciasexdig2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Casos  </div>
  <div class="titulo-interno">I.  </div>
  <p class="texto-interno">Ángela, la madre de Silvia una adolescente de 13 años, ha acudido a la Tenencia Política pues su hija viene recibiendo mensajes vía Facebook de un amigo de la familia 10 años mayor a ella. Al principio estos mensajes se circunscribían a preguntas acerca de su día a día. Sin embargo, este hombre empezó a escribirle y llamarle todo el tiempo. Silvia las rechazó. Un día que Silvia decidió contestarlas para tratar de ponerle fin al asunto, el amigo de la familia, le mostró sus partes íntimas. Desde ahí Silvia ha dejado de hacer uso de sus redes sociales y se ha ido aislando de sus compañeras y compañeros.</p>
    
    <div class="icono1"><img src="https://i.imgur.com/aNAyjkU.png"></div>
    
    <div class="boton-blanco" routerLink="/pautas72">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Pautas Generales</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <hr>

    <div class="boton-blanco" routerLink="/normativaap72">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Normativa Aplicada</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <div class="boton-azul">
      <div class="letra-boton1" routerLink="/home2">VOLVER</div>
    </div>
  </div>
  
  </ion-content>
