<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/submenu1"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">¿Qué pasa si la persona
    presunta agresora es
    mujer?
   </div>

   <p class="texto-interno">Se puede emitir una Medida
    Administrativa en contra de cualquier
    persona ya que estas no son
    sancionatorias, no constituyen una
    valoración jurídica de la presunta
    persona agresora
    </p>

  <div class="cuadro-morado">
    <p class="texto-interno-blanco">REGLAMENTO:
      Art. 37. Características. - Las
      medidas de protección inmediata
      son:</p>
      <p class="texto-interno-blanco">f) No son una valoración jurídica
      concreta de la conducta de la
      persona agresora.</p>
      <p class="texto-interno-blanco">g) Tienen carácter preventivo y no
      sancionatorio.</p>
  </div>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>