<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu4"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="otrolink1" size="auto">
    <ng-template>
      <ion-content class="ion-padding">CTA: Art. 47. LOPEIVcM- Las medidas de protección serán de carácter inmediato y provisional; tendrán por objeto evitar o cesar la amenaza o vulneración de la vida e integridad, en relación con los actos de violencia contra las mujeres, niñas, adolescentes, jóvenes, adultas y adultas mayores, determinados en este cuerpo legal. <br>
        El ente rector del Sistema deberá disponer para todas las entidades del sector público y privado el determinar medidas administrativas o internas de prevención y protección en caso de cualquier acto de violencia de los establecidos en esta Ley.
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink2" size="auto">
    <ng-template>
      <ion-content class="ion-padding">CTA: OJO () NO se necesita patrocinio legal.<br>
        A partir de los 12 años las adolescentes pueden solicitar una MAPIs sin la compañía de la persona adulta responsable.
        </ion-content>
    </ng-template>
  </ion-popover>
  
  <div class="fondo-gris">

    <div class="titulo-interno">¿Cuándo se puede solicitar
      MAPIs?</div>
    <p class="texto-interno">Se solicitan cada vez que una mujer o niña es
      víctima de violencia o corre el riesgo de serlo.</p><br>
      
        <div class="contendor-ojo">
          <div class="contiene-ojo">
            <ion-icon name="eye-outline"></ion-icon>
          </div>
          <div class="contiene-texto-ojo">
            <b>NO se necesita patrocinio legal.</b>
          </div>
        </div>
      <br><br>
      



  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>