<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/descripcion2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno">Activar <ion-icon name="arrow-forward-outline"></ion-icon> y ejecutar	<ion-icon name="arrow-forward-outline"></ion-icon> los siguientes mecanismos hasta 90 días después de ocurrido el hecho de violencia.</p>

      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>