<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/enfoques"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Derechos</div>
  <p class="texto interno">Es un marco conceptual y metodológico orientado
    a la promoción y protección de los derechos
    humanos, tiene como marco de referencia las
    normas y los principios que establecen los
    estándares que deben orientar las políticas e
    intervenciones. La finalidad de los derechos es
    asegurar que todas las personas sean tratadas de
    manera igualitaria.</p>
  <div class="icono1"><ion-icon name="library-outline"></ion-icon></div>
  <div class="boton-blanco"  routerLink="/casosabb">
    <div class="div-a">
      <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Ir a ejemplos</div></div>
    </div>
    <div class="div-b">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER A MENÚ PRINCIPAL</div>
  </div>
</div>
</ion-content>