<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Emergencias y situaciones
    humanitarias</div>
  <p class="texto-interno">Contexto donde la violencia se ejerce en
    situaciones de emergencia y desastres que
    promuevan las desigualdades entre hombres y
    mujeres, que pongan en riesgo la integridad
    física, psicológica y sexual de mujeres: niñas,
    adolescentes, jóvenes, adultas y adultas mayores. </p>
    <p class="texto-interno-azul"><b>Ejemplos:</b> pedir favores sexuales a cambio de
      protección y entrega y ayuda humanitaria,
      explotación sexual, negarse a dar atención,
      etc.  </p>
    <div class="boton-azul">
    <div class="letra-boton1">VOLVER</div>
  </div>
</div>
</ion-content>