<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/home2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      <div class="titulo">Rol y Competencias</div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- Default Item -->


<!-- Item as a Button -->
<div class="fondo-gris">
<div class="fondo-blanco">
<ion-item routerLink="/rol">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Rol de la Policía Nacional<br> en la ejecución de Acciones<br> Urgentes.
       </div> </div> 
</ion-label>
</ion-item>

<ion-item routerLink="/lineamientos">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Lineamientos</div> </div> 
</ion-label>
</ion-item>

<ion-item routerLink="/lineamientosespec">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Lineamientos específicos para<br> el abordaje y contención en<br> crisis a víctimas de violencia <br>contra la mujer.</div> </div> 
</ion-label>
</ion-item>

</div>

<div class="boton-azul">
  <div class="letra-boton" routerLink="/home2">VOLVER</div>
</div>
</div>

</ion-content>

