<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casospsi2b"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">TIPO: </div>
  <p class="texto-interno">Sexual digital, psicológica</p>
  <br>
  <div class="titulo-interno">ÁMBITO: </div>
  <p class="texto-interno">Mediático Cibernético</p>
  <br>
  <div class="titulo-interno">PAUTAS GENERALES </div>
  <p class="texto-interno"><b>Emitir la boleta de auxilio y la orden de
  restricción de acercamiento </b>a la víctima por
  parte del presunto agresor, en cualquier espacio
  público o privado.</p>
  <p class="texto-interno"><b>Prohibir al agresor por sí o por terceros,
  acciones de intimidación,</b> amenazas o coacción
  a la mujer que se encuentra en situación de
  violencia o a cualquier integrante de su familia.</p>
  <p class="texto-interno">Gestionar medidas socioeducativas de
  seguridad digital.</p>
  <p class="texto-interno"><b>Denunciar la cuenta</b> en la red social y solicitar su
cierre.</p>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>

</ion-content>