<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menuroll"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="otrolink201" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Acciones junto a la Policía Comunitaria que es un espacio de trabajo y participación que permitan eliminar condiciones y factores generadores de violencia</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink202" size="auto">
    <ng-template>
      <ion-content class="ion-padding"><div class="cuadro violeta">ART. 51: <br>
        a) Boleta de auxilio y orden de restricción.<br>
         b) Restitución de la víctima al domicilio actual. <br>
        f) Salida del agresor del domicilio.<br>
         h) Dispositivos de alerta.</div>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink203" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Documento en donde se indique que la información recopilada se manejará con reserva y bajo principios de confidencialidad.</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink204" size="auto">
    <ng-template>
      <ion-content class="ion-padding"><a routerLink="/enfoques">Ir a menú de enfoques.</a></ion-content>
</ng-template>
  </ion-popover>


  <ion-popover trigger="otrolink205" size="auto">
    <ng-template>
      <ion-content class="ion-padding">ART. 11.- El interés superior del niño. - El interés superior del niño es un principio que está orientado a satisfacer el ejercicio efectivo del conjunto de los derechos de los niños, niñas y adolescentes; e impone a todas las autoridades administrativas y judiciales y a las instituciones públicas y privadas, el deber de ajustar sus decisiones y acciones para su cumplimiento. Para apreciar el interés superior se considerará la necesidad mantener un justo equilibrio entre los derechos y deberes de niños, niñas y adolescentes, en la forma que mejor convenga a la realización de sus derechos y garantías. Este principio prevalece sobre el principio de diversidad étnica y cultural. El interés superior del niño es un principio de interpretación de la presente Ley. Nadie podrá invocarlo contra norma expresa y sin escuchar previamente la opinión del niño, niña o adolescente involucrado, que esté en condiciones de expresarla.<br><br><br><br><br><br>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink206" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Notificar al órgano judicial y/o disponer intervención del DINAPEN para ejecución de medidas si la integridad física, psicológicas o sexual de la niña está siendo vulnerada.<br><img src="https://i.imgur.com/uBk15sL.jpg"><br><a routerLink="/https://drive.google.com/file/d/1KGOISVa7m7SaKwOg67kN3Rpu1NBaIFkW/view?usp=sharing" download="https://drive.google.com/file/d/1KGOISVa7m7SaKwOg67kN3Rpu1NBaIFkW/view?usp=sharing">Descargar código</a>
        </ion-content>
    </ng-template>
  </ion-popover>




  <div class="fondo-gris">
  <div class="titulo-interno">1.1. Lineamientos de Actuación
    para el Otorgamiento de MAPIs.</div>
  <p class="texto-interno">Establecer<a id="otrolink201"> mecanismos de coordinación efectivos
    con la Policía Nacional de gestión preventiva,</a> el
    apoyo para la notificación y ejecución de medidas
    deberá <b>solicitar el informe</b> respectivo y <b>parte
    policial.</b></p>
    <p class="texto-interno">Establecer mecanismos de <b>coordinación con la
    Policía Comunitaria</b> para la notificación y
    ejecución de <a id="otrolink202">MAPIs establecidas</a> en los literales a)
    b) f) y h) del Art. 51.</p>
    <p class="texto-interno">Garantizar el manejo confidencial de la
    <b>información concerniente a las solicitudes y
    otorgamiento de MAPIs en casos de violencia
    contra la mujer,</b> la información recopilada sobre
    víctima no podrá ser compartida, ni publicada a
    otras personas, funcionario o entidades que no
    sean parte del proceso. <a id="otrolink203">Suscribir acuerdo de
    confidencialidad.</a></p>
    <p class="texto-interno">Garantizar en todo momento la <b>gratuidad de los
    servicios.</b></p>
    <p class="texto-interno">Aplicar los <a id="otrolink204">enfoques </a>de: género, derechos
    humanos interculturalidad, intergeneracional,
    integralidad, interseccionalidad así como también
    los principios reconocidos en la Constitución e
    instrumentos internacionales como son: igualdad y
    no discriminación, diversidad, transversalidad,
    autonomía.</p>
    <p class="texto-interno">Aplicar el principio del <a id="otrolink205">interés superior de la niña,</a>
    conforme lo determina el artículo 11 del Código
    de la Niñez y Adolescencia , por tanto, <b>no es
    necesario la presencia de padre, madre o quien
    ejerza la patria potestad </b>de una adolescente o
    niña si esta solicita una Medida.</p>
    <p class="texto-interno">En caso de existir solicitudes de MAPIs
    presentadas <b>por terceras personas a favor de
    niñas,</b> las/os Tenientes Políticos, Comisarios
    Nacionales de Policía e Intendentes Generales de
    Policía y Asistentes/Secretarias(os) deberán emitir
    MAPIs contempladas en la LOIPEVcM y <a id="otrolink206">aquellas
    especificadas en el Código Integral de la Niñez y
    Adolescencia,</a> disponer intervención del DINAPEN
    para ejecución de medidas si la integridad física,
    psicológica o sexual de la niña está siento
    vulnerada.</p>
        
      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home">VOLVER</div>
      </div>
</div>
</ion-content>
