<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/integralidad2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Casos  </div>
  <div class="titulo-interno">H.  </div>
  <p class="texto-interno">En el parque principal de un barrio, en el que se
    reúnen y juegan un alto número de niñas, niños y
    adolescentes, una empresa de gaseosas ha
    colocado una valla de publicidad con contenido
    sexista. Existen mujeres en ropa interior conversando y la bebida en mención aparece en la
    imagen, fuera de contexto. </p>
    <p class="texto-interno">La representante del Comité Barrial se ha dirigido a la Tenencia para
    solicitar se haga algo al respecto pues este tipo de
    anuncios reafirma estereotipo de mujeres y tienen
    influencia sobre cómo las perciben. </p>
    
    <div class="icono1"><img src="https://i.imgur.com/GECoVf5.png"></div>
    
    <div class="boton-blanco" routerLink="/pautas7c">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Pautas Generales</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <hr>

    <div class="boton-blanco" routerLink="/normativas7c">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Normativa Aplicada</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <div class="boton-azul">
      <div class="letra-boton1" routerLink="/home2">VOLVER</div>
    </div>
  </div>
  
  </ion-content>
