<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casossexa"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">TIPO DE VIOLENCIA: </div>
  <p class="texto-interno">Sexual</p>
  <br>
  <div class="titulo-interno">ÁMBITO: </div>
  <p class="texto-interno">Espacio Público</p>
  <br>
  <div class="titulo-interno">PAUTAS GENERALES </div>
  <p class="texto-interno">Solicitar la diversificación de criterios para otorgar
    permisos a locales comerciales.</p>
  <p class="texto-interno">Encaminar acciones hacia la sensibilización de la
    comunidad del <b>derecho a espacios seguros.</b></p>
    <p class="texto-interno"><b>Solicitar el cierre del local</b> en caso que las
      acciones de acoso no paren.</p>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>

</ion-content>