<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Violencia Económica
    o Patrimonial</div>
  <p class="texto-interno">Obligar a la dependencia financiera de la mujer,
    manteniendo un control total sobre sus recursos.</p>
    <div class="icono1"><ion-icon name="cash-outline"></ion-icon></div>
    <div class="cuadro-verde">
      <p class="texto-interno-blanco">Art. 10d LOIPEVcM es toda acción u omisión que se
        dirija a ocasionar un menoscabo en los recursos
        económicos y patrimoniales de las mujeres a través
        de:</p>
        <p class="texto-interno-blanco">1. La perturbación de la posesión, tenencia o
        propiedad de sus bienes muebles o inmuebles;</p>
        <p class="texto-interno-blanco"> 2. La pérdida, sustracción, destrucción, retención
        o apropiación indebida de objetos, instrumentos de
        trabajo, documentos personales, bienes, valores y
        derechos patrimoniales;</p>
        <p class="texto-interno-blanco">3. La limitación de los recursos económicos
        destinados a satisfacer sus necesidades o la privación
        de los medios indispensables para vivir una vida
        digna; así como la evasión del cumplimiento de sus
        obligaciones alimentarias;</p>
        <p class="texto-interno-blanco"> 4. La limitación o control de sus ingresos; y,</p>
        <p class="texto-interno-blanco">5. Percibir un salario menor por igual tarea,
        dentro de un mismo lugar de trabajo.</p>
    </div>
    <div class="boton-blanco" routerLink="/casoseco">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Ver un caso</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>