<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu3"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Centros e Instituciones de salud</div>
  <p class="texto-interno">Contexto donde la violencia se ejerce en los
    centros de salud pública y privada, en contra de
    las usuarias del Sistema Nacional de Salud,
    ejecutada por el personal administrativo,
    auxiliares y profesionales de la salud.  </p>
    <p class="texto-interno-azul"><b>Ejemplos:</b> negación de servicios de control de
      la natalidad, desinformación de
      procedimientos quirúrgicos, negar
      información acerca de métodos de
      anticoncepción, etc.  </p>
    <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>