<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/procedimineto"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno">CTA: Matriz Registro de seguimiento de la ejecución MAPI</p>

    
      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>
