<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/genero2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fondo-gris">
    <div class="titulo-interno">Casos  </div>
  <div class="titulo-interno">C.  </div>
  <p class="texto-interno">Un padre de familia acude a la Tenencia Política. Su hija
    de 14 años le ha contado que la pareja actual de su
    madre, la toca de manera inapropiada. </p>
    
    <p class="texto-interno">Ella le hacontado de estos episodios a su madre, pero ella no le
    cree. La nueva pareja de su mamá es guardia de
    seguridad y le ha amenazado con matarla si cuenta
    algo a alguien.</p>
    <div class="icono1"><img src="https://i.imgur.com/FSfj68r.png"></div><div class="icono1b"><img src="https://i.imgur.com/DnZoDK9.png"></div>
    
    <div class="boton-blanco" routerLink="/pautas14c">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Pautas Generales</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <hr>

    <div class="boton-blanco" routerLink="/normativas14c">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Normativa Aplicada</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <div class="boton-azul">
      <div class="letra-boton1" routerLink="/home2">VOLVER</div>
    </div>
  </div>
  
  </ion-content>