<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/violenciasimbolica"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Casos  </div>
  <div class="titulo-interno">G  </div>
  <p class="texto-interno">Desde hace 4 días que Elba ha acogido en su casa una vecina cuyo hijo la ha echado de la de ella. <br>
    Este se pasó a vivir en su casa con su esposa hace quince años. Al ver a su vecina sin lugar para vivir, Elba solicita una MAPIs de protección a favor de ella para que pueda retornar a su casa de manera segura. </p>
    <div class="icono1"><ion-icon name="sad-outline"></ion-icon></div>
    
    <div class="boton-blanco" routerLink="/pautas16">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Pautas Generales</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <hr>

    <div class="boton-blanco" routerLink="/normativaap16">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Normativa Aplicada</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>

</ion-content>

ionic generate page mapis/casossimbolic
