<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu4"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="otrolink3" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Art 51. Las medidas administrativas inmediatas de protección se dispondrán de manera inmediata, cuando exista vulneración a la integridad de la mujer víctima de violencia. Serán otorgadas por los Tenientes Políticos, a nivel parroquial; y, a nivel cantonal, las Juntas Cantonales de Protección de Derechos.
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink4" size="auto">
    <ng-template>
      <ion-content class="ion-padding">
        Unidades Judiciales de violencia contra las mujeres<br> 
        Comisarías Nacionales<br> 
        Centros de Salud<br> 
        Defensoría del Pueblo<br> 
        ECU 911
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink5" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Servicio de Protección Especial: apoyo familiar, red de casas de acogida. 
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink6" size="auto">
    <ng-template>
      <ion-content class="ion-padding">El desarrollo de MAPIs es una excelente herramienta para mejorar en la atención y prevención de MAPIs. Compartir experiencias entre colegas ayudará a crear una lista y red de consulta y apoyo.
        </ion-content>
    </ng-template>
  </ion-popover>


  <div class="fondo-gris">
    <div class="titulo-interno"><a id="otrolink3">¿Qué medidas
      administrativas se pueden
      otorgar?</a></div>
    <p class="texto-interno"><b>a) Boleta de auxilio y orden de restricción de
      acercamiento.<br></b>
      Emitir la boleta de auxilio y la orden de restricción
      de acercamiento a la víctima por
      parte del presunto agresor, en cualquier espacio
      público o privado;</p>
      <p class="texto-interno"><b>b) Restitución de la víctima al domicilio actual.<br></b>
      Ordenar la restitución de la víctima al domicilio
      habitual, cuando haya sido alejada de
      este por el hecho violento y así lo solicite, con las
      garantías suficientes para proteger su
      vida e integridad.</p>
      <p class="texto-interno"> <b>c) Inserción a programa de protección.<br></b>
      A solicitud de la víctima, se ordenará la inserción,
      con sus dependientes en un programa
      de protección con el fin de resguardar su
      seguridad e integridad, en coordinación con el
      ente rector de las políticas públicas de Justicia, la
      red de casas de acogida, centros de
      atención especializados y los espacios de
      coordinación interinstitucional, a nivel
      territorial.</p>
      <p class="texto-interno"><b>d) Prohibición a la persona agresora de
      acciones de intimidación, amenazas o coacción.<br></b>
      Prohibir al agresor por sí o por terceros, acciones
      de intimidación, amenazas o coacción
      a la mujer que se encuentra en situación de
      violencia o a cualquier integrante de su familia.</p>
      <p class="texto-interno"><b>e) Prohibición a la persona agresora de
esconder, trasladar, cambiar de residencia o
lugar de domicilio a sus hijas o hijos o personas
dependientes.<br></b>
Prohibir a la persona agresora esconder, trasladar,
cambiar la residencia o lugar de
domicilio, a sus hijas o hijos o personas
dependientes de la misma, sin perjuicio de otras
acciones que se puedan iniciar.</p>
<p class="texto-interno"><b>f) Salida del agresor del domicilio.<br></b>
Ordenar al agresor la salida del domicilio cuando
su presencia constituya una amenaza
para la integridad física, psicológica o sexual o la
vida de la mujer o cualquiera de los
miembros de la familia.</p>
<p class="texto-interno"><b>g) Ordenar Inventario.<br></b>
Ordenar la realización del inventario de los bienes
muebles e inmuebles de propiedad común o de
posesión legítima de la mujer víctima de violencia.</p>
<p class="texto-interno"><b>h) Dispositivos de alerta.<br></b>
Disponer la instalación de dispositivos de alerta,
riesgo o dispositivos electrónicos de
alerta, en la vivienda de la mujer víctima de
violencia.</p>
<p class="texto-interno"><b>i) Activación servicios de protección y atención.<br></b>
<a id="otrolink4">Disponer la activación de los servicios de
protección y atención </a>dispuestos en el <b>Sistema
Nacional Integral para prevenir y erradicar la
violencia contra las Mujeres.</b>
<p class="texto-interno"><b>j) Inserción de víctimas en <a id="otrolink5">programas de
atención dirigidos a grupos de atención
prioritaria.</a><br></b>
Disponer la inserción de la mujer víctima de
violencia y sus dependientes, en <b>programas
de inclusión social y económica, salud,
educación, laboral y de cuidados</b> dirigidos a los
grupos de atención prioritaria a cargo del ente
rector de políticas públicas de Inclusión Social y
otras <b>instancias locales que brinden este servicio.</b></p>
<p class="texto-interno"><b>k) Seguimiento a la rectificación de conductas.<br></b>
Disponer el seguimiento para verificar la
rectificación de las conductas de violencia
contra las mujeres por parte de las unidades
técnicas respectivas, de los entes rectores
de políticas públicas de Inclusión Social, Salud, y
otras instancias locales que brinden
este servicio, a través de un informe motivado.</p>
<p class="texto-interno"><b>l) Prohibición a la persona agresora el
ocultamiento o retención de bienes o
documentos.<br></b>
Prohibir a la persona agresora el ocultamiento o
retención de bienes o documentos de
propiedad de la víctima de violencia; <b>y en caso de
haberlos ocultado o retenido, ordenar
a la persona agresora la devolución inmediata
de los objetos </b>de uso personal, documentos de
identidad y cualquier otro documento u objeto de
propiedad o custodia de la mujer víctima de
violencia o personas que dependan de ella.</p>
<p class="texto-interno"><b>m) Flexibilidad o reducción horario trabajo víctimas. </b></p>
  <p class="texto-interno">Disponer, cuando sea necesario, <b>la flexibilidad o reducción del horario de trabajo de las mujeres víctimas de violencia,</b> sin que se vean afectados sus derechos laborales o salariales.</p>

  <p class="texto-interno"><b>n) Suspensión temporal de actividades a la persona agresora.  </b></p>
  <p class="texto-interno">Ordenar<b> la suspensión temporal de actividades que desarrolle el presunto agresor</b> en instituciones deportivas, artísticas, de cuidado o de educación formal e informal.</p>

  <p class="texto-interno"><b>o) Otras medidas.</b></p>
  <p class="texto-interno"><a id="otrolink6">Todas las que garanticen la integridad de las mujeres en situación de violencia.</a></p>

  <p class="texto-interno">Este literal permite a la autoridad administrativa <b>añadir medidas administrativas</b> que no estén especificadas en el artículo 51 de la LOIPEVcM, siempre y cuando se encuentren enmarcadas en la normativa nacional. </p>
    <p class="texto-interno">Permite el <b>desarrollo de medidas pertinentes</b> que consideren la diversidad de las mujeres: afro, indígenas, montuvias, adultas mayores, mujeres trans, con discapacidad, etc.</p>
    <br>
    

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>