<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/enfoques"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Rol de la Policía Nacional en
    la ejecución de Acciones
    Urgentes</div>
  <p class="texto-interno">La Policía Nacional es el órgano competente para
    ejecutar Acciones Urgentes cuando exista o se
    presuma una inminente vulneración o riesgo a la
    vida e integridad de una mujer.</p>
  <div class="cuadro-morado">
    <p class="texto-interno-blanco">Establecidos de la siguiente manera:</p>
    <p class="texto-interno-blanco">a) Acudir de <b>manera inmediata </b>ante una alerta
      generada por: botón de pánico, llamada al Servicio
      Integrado ECU 911, video vigilancia, patrullaje,
      vigilancia policial y otros mecanismos de alerta;</p>
      <p class="texto-interno-blanco"> b) <b>Activación de los protocolos</b> de seguridad y
      protección a las mujeres víctimas de violencia de
      género;</p>
      <p class="texto-interno-blanco"> c) Acompañar a la víctima para <b>reintegrarla a su
      domicilio habitual, </b>cuando así lo solicite o para
      que tome sus pertenencias, de ser el caso;</p>
      <p class="texto-interno-blanco"> d) <b>Acompañar a la autoridad competente</b> para
      solicitar la emisión de la boleta de auxilio y la orden
      de restricción de acercamiento a la víctima por
      parte del presunto agresor, en cualquier espacio
      público o privado;</p>
      <p class="texto-interno-blanco"> e) Solicitar atención especializada a las entidades
      que conforman el <b>Sistema Nacional Integral de
      Prevención y Erradicación de la violencia contra
      las mujeres,</b> a favor de la víctima y de las personas
      que dependen de ella.</p>
  </div>
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>
