<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu22"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Violencia Física</div>
  <p class="texto-interno">Todo acto que tenga o pueda tener como
    resultado un daño o sufrimiento físico, dolor o
    muerte.</p>
    <div class="icono1"><ion-icon name="hand-left-outline"></ion-icon></div>
    <div class="cuadro-verde">
      <p class="texto-interno-blanco">De acuerdo al art. 10a. LOIPEVcM: Todo
        acto u omisión que produzca o pudiese
        producir daño o sufrimiento físico, dolor o
        muerte, así como cualquier otra forma de
        maltrato o agresión, castigos corporales,
        que afecte la integridad física, provocando
        o no lesiones, ya sean internas, externas o
        ambas, esto como resultado del uso de la
        fuerza o de cualquier objeto que se utilice
        con la intencionalidad de causar daño y de
        sus consecuencias, sin consideración del
        tiempo que se requiera para su
        recuperación.</p>
    </div>
    <div class="boton-blanco">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Ver un caso</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>
</ion-content>

