<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/descripcion2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno">Observando los principios fundamentales:<br> 
Derechos humanos<br> 
Integridad física y psicológica<br> 
Identidad de género e intercultural

      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>

