<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/enfoques"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Intergeneracional</div>
  <p class="texto interno">Reconoce la existencia de necesidades y derechos
    específicos en cada etapa de la vida, niñez,
    adolescencia, madurez y adultez; y, establece la
    prioridad de identificar y tratar las
    vulnerabilidades en dicha etapas de la vida.
    </p>
    <div class="icono1"><img class="imageni" src="https://i.imgur.com/PDtcwSZ.png"></div>
  <div class="boton-blanco" routerLink="/casosgb">
    <div class="div-a">
      <div class="letra-boton" routerLink="/casosgb"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna"  routerLink="/casosgb">Ir a ejemplos</div></div>
    </div>
    <div class="div-b">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="boton-azul">
    <div class="letra-boton1"routerLink="/home">VOLVER A MENÚ PRINCIPAL</div>
  </div>
</div>
</ion-content>