<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/pregmenu"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">¿Qué debe hacer un/a Teniente Político/Comisario Nacional/Intendente	cuando	el/la presunto/agresor/a se niega a recibir la boleta de notificación?
   </div>

   <p class="texto-interno">Art. 49 Notificación.
    Si la persona agresora se negare a
    recibir la notificación, se sentará la
    respectiva razón, se procederá a notificarla por medio de documento colocado en la cartelera de la autoridad que
    emitió la medida de protección </p>


  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>