<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu6"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="otrolink8" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Si continúa con este procedimiento va a salir de la aplicación, ¿Está seguro que desea continuar?   <br>
        <a routerLink="/#"> Continuar</a> - <a routerLink="/otorgamientomap">Cancelar</a></ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink8b" size="auto">
    <ng-template>
      <ion-content class="ion-padding">  Si continúa con este procedimiento va a salir de la aplicación, ¿Está seguro que desea continuar?   <br>
      <a routerLink="/#"> Continuar</a> - <a routerLink="/otorgamientomap">Cancelar</a></ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink8c" size="auto">
    <ng-template>
      <ion-content class="ion-padding">  
          <ion-icon name="notifications-outline"></ion-icon> La autoridad que haya dictado la medida deberá coordinar su ejecución con la autoridad de la circunscripción del domicilio de la víctima.
      </ion-content>
    </ng-template>
  </ion-popover>
  
  <ion-popover trigger="otrolink9" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> <ion-icon name="notifications-outline"></ion-icon>- El hecho de violencia haya sucedido en otra circunscripción.<br> 
        - Falta de documentos de identificación, no son razones para el no otorgamiento de MAPIs. La autoridad será responsable por la vulneración de derechos de la víctima generada por su omisión.<br> 
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink10" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Enfoque: Derechos, Género, Interculturalidad, Integralidad, Interseccionalidad, Intergeneracional</ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link11" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> <img src="https://i.imgur.com/uBk15sL.jpg"> <br><a routerLink="/https://drive.google.com/file/d/1KGOISVa7m7SaKwOg67kN3Rpu1NBaIFkW/view?usp=sharing" target="_blank">Descargar</a>
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="link12" size="auto">
    <ng-template>
      <ion-content class="ion-padding"> <img src="https://i.imgur.com/uBk15sL.jpg"> <br><a routerLink="/https://drive.google.com/file/d/1KGOISVa7m7SaKwOg67kN3Rpu1NBaIFkW/view?usp=sharing" target="_blank">Descargar</a>
        </ion-content>
    </ng-template>
  </ion-popover>

  <div class="fondo-gris">

    <div class="titulo-interno">Reglas para el otorgamiento de medidas administrativas de protección</div>
    <p class="texto-interno">Las autoridades competentes otorgarán medidas
    administrativas de protección de manera
    inmediata, oportuna, específica e individualizada,
    respondiendo a las circunstancias de tiempo,
    modo y lugar, y atendiendo las siguientes reglas:</p>
    <p class="texto-interno">1. El relato de la víctima o de la persona que
  solicite las medidas es el único requisito requerido
  para el otorgamiento de MAPIs.</p>
  <p class="texto-interno">2. Tomar en cuenta durante todo el proceso la
  diversidad de circunstancias de cada víctima.</p>
  <p class="texto-interno">3. Se podrá otorgar cualquiera de las medidas
  establecidas en la <a id="link11">Ley y en el Código de la Niñez y
  Adolescencia.</a></p>
  <a id="link12">DESCARGAR ARCHIVO ORIGINAL</a>
  <p class="texto-interno">4. Se otorgan medidas <b>sin perjuicio </b>de
  encontrarse activo un proceso jurisdiccional.</p>
  <p class="texto-interno">5. Se podrán otorgar una o más medidas pa
  ra un mismo caso y aplicarse de forma <b>simultánea
  o sucesiva.</b></p>
  <p class="texto-interno">6. Dictarán las medidas sin importar que el
  domicilio de la víctima o el lugar en el cual se
  efectuase la conducta violenta, <a id="otrolink8c">fuese diferente a la
  circunscripción territorial de la autoridad.</a></p>
  <p class="texto-interno">7.  <a id="otrolink9">NO SE NEGARÁ </a>el otorgamiento de MAPIs
  por el incumplimiento de formalidades siendo así
  responsable por la vulneración de los derechos de
  la víctima que se llegasen a generar por su
  omisión.</p>
  <p class="texto-interno"><b>8. No revictimizar, No culpabilizar, No juzgar
  No desacreditar</b> a las víctimas o posibles víctimas
  de violencia contra las mujeres. <a id="otrolink10">Cumplir funciones
  desde la igualdad y no actuar bajo estereotipos</a>
  que permiten la que la violencia ocurra.</p>
  <p class="texto-interno"><b>9. Las MAPIs tendrán plena vigencia</b> desde su
  otorgamiento hasta su ratificación, modificación o
  revocatoria.</p><br><br>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>