<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/acciones"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="eye-outline"></ion-icon>
      </div><br>  <br>
      <div class="contiene-texto-ojo">
        <p class="texto-interno"> NO se necesita patrocinio legal.</p>
        <p class="texto-interno">A partir de los 12 años las adolescentes pueden solicitar una MAPIs sin la compañía de la persona adulta responsable.</p>
        
        <br>  <br>
      </div>
    </div>

      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>