<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/procedimientopol"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno">Art 37 de la LOPEIVcM </p> 
  <p class="texto-interno">Las características de las medidas administrativas de protección inmediata son:</p>
  <p class="texto-interno">(…) </p>
  <p class="texto-interno">h. Su incumplimiento genera responsabilidad administrativa, civil o penal.”</p>
    
      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>

