<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casossex2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-popover trigger="otrolink305" size="auto">
      <ng-template>
        <ion-content class="ion-padding">
          Art. 51.<br>
           a) Emitir la boleta de auxilio y la orden de restricción de acercamiento a la víctima por parte del presunto agresor, en cualquier espacio público o privado.<br>
          e) Prohibir al agresor por sí o por terceros, acciones de intimidación, amenazas o coacción a la mujer que se encuentra en situación de violencia o a cualquier integrante de su familia.<br>
          f) Ordenar al agresor la salida del domicilio cuando su presencia constituya una amenaza para la integridad física, psicológica o sexual o la vida de la mujer o cualquiera de los miembros de la familia.<br>
           i) Disponer la activación de los servicios de protección y atención dispuestos en el Sistema Nacional Integral para prevenir y erradicar la violencia contra las Mujeres
         
          </ion-content>
      </ng-template>
    </ion-popover>

  <div class="fondo-gris">
  <div class="titulo-interno">NORMATIVA APLICADA </div>
  <p class="texto-interno"><a id="otrolink305">Art.51 de la LOIPEVCM Literales a), e), f), i)</a></p>
  <br>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>

</ion-content>



