<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu3"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Deportivo</div>
  <p class="texto-interno">Contexto público o privado en el cual la
    violencia es ejercida en la práctica deportiva
    formativa, de alto rendimiento, profesional,
    adaptada/paralímpica, amateur, escolar. </p>
    <p class="texto-interno-azul"><b>Ejemplos:</b> Peleas entre espectadores, insultos
      a jugadoras por su condición de mujer, étnica
      u orientación sexual, bullying entre pares,
      excluir a mujeres de ciertos espacios y
      prácticas deportivas, etc.  </p>
    <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>