<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/procedimineto"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno">CTA: Art 46. Reglamento LOPEIVcM    </p>
  <p class="texto-interno">1. Ordenar la realización del inventario de los bienes muebles e inmuebles de propiedad común o de posesión legítima de la mujer víctima de violencia.    </p>
  <p class="texto-interno"> 2. Disponer la activación de los servicios de protección y atención dispuestos en el Sistema Nacional Integral para prevenir y erradicar la violencia contra las Mujeres.    </p>
  <p class="texto-interno">3. Disponer la inserción de la mujer víctima de violencia y sus dependientes, en programas de inclusión social y económica, salud, educación, laboral y de cuidados dirigidos a los grupos de atención prioritaria a cargo del ente rector de políticas públicas de inclusión social y otras instancias locales que brinden este servicio.    </p>
  <p class="texto-interno">4. Disponer el seguimiento para verificar la rectificación de las conductas de violencia contra las mujeres por parte de las unidades técnicas respectivas, de los entes rectores de políticas públicas de inclusión social, salud, y otras instancias locales que brinden este servicio, a través de un informe motivado.    </p>

    
      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>
