<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casossim2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-popover trigger="otrolink315" size="auto">
    <ng-template>
      <ion-content class="ion-padding">ART. 51. <br>
        a) Emitir la boleta de auxilio y la orden de restricción de acercamiento a la víctima por parte del presunto agresor, en cualquier espacio público o privado;<br>
        d) Prohibir a la persona agresora esconder, trasladar, cambiar la residencia o lugar de domicilio, a sus hijas o hijos o personas dependientes de la misma, sin perjuicio de otras acciones que se puedan iniciar.<br>
         o) Todas las que garanticen la integridad de las mujeres en situación de violencia.<br>
        
        </ion-content>
    </ng-template>
  </ion-popover>

  <div class="fondo-gris">
  <div class="titulo-interno">NORMATIVA APLICADA </div>
  <p class="texto-interno"><a id="otrolink315">Art. 51</a> </p>
  <br>


  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>

</ion-content>
