<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/enfoques"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="fondo-gris">
  <div class="titulo-interno">Interseccionalidad</div>     

  <p class="texto interno">Pone luz sobre la diversidad de las mujeres y
    cómo esta afecta de manera distinta a su derecho
    a una vida libre de violencia. La edad, el nivel de
    educación, nivel socioeconómico, la orientación
    sexual o identidad de género, la religión, la
    autoidentificación étnica, nacionalidad, la
    diversidad funcional, etc. Son varios de los
    criterios interseccionales que permiten identificar
    condiciones sociales específicas que determinan
    el grado de vulnerabilidad de las personas que
    recurren a los servicios de atención en violencia.
    </p>
    <div class="icono1"><img class="imageni" src="https://i.imgur.com/ty780JK.png"></div>
  <div class="boton-blanco">
    <div class="div-a">
      <div class="letra-boton"  routerLink="/casoseb"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna"  routerLink="/casoseb">Ir a ejemplos</div></div>
    </div>
    <div class="div-b">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER A MENÚ PRINCIPAL</div>
  </div>
</div>
</ion-content>

