<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casosgineco2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">TIPO: </div>
  <p class="texto-interno">Patrimonial</p>
  <br>
  <div class="titulo-interno">ÁMBITO: </div>
  <p class="texto-interno">Intrafamiliar</p>
  <br>
  <div class="titulo-interno">PAUTAS GENERALES </div>
  <p class="texto-interno"><b>Ordenar al agresor la salida del domicilio</b>
    cuando su presencia constituya una amenaza
    para la integridad física, psicológica o sexual o la
    vida de la mujer o cualquiera de los miembros
    de la familia.</p>
    <p class="texto-interno"><b>Ordenar la restitución de la víctima al
    domicilio habitual,</b> cuando haya sido alejada de
    este por el hecho violento y así lo solicite, con las
    garantías suficientes para proteger su vida e
    integridad.</p>
    <p class="texto-interno"><b>La inserción, con sus dependientes en un
    programa de protección con el fin de
    resguardar su seguridad e integridad,</b> en
    coordinación con el ente rector de las políticas
    públicas de Justicia, la <b>red de casas de acogida,
    centros de atención especializados y los
    espacios de coordinación interinstitucional, a
    nivel territorial.</b> </p>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>

</ion-content>