<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu4"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    <div class="titulo-interno"><a href="/otrolink7">Características de las MAPIs</a></div>
    <p class="texto-interno">a) Temporales</p>
    <p class="texto-interno">b) De cumplimiento inmediato.</p>
    <p class="texto-interno"><b>c) No constituyen prejuzgamiento.</b></p>
    <p class="texto-interno">d) No requieren la práctica de pruebas para su adopción.</p>
    <p class="texto-interno">e) Entran en vigencia desde su otorgamiento.</p>
    <p class="texto-interno"><b>f) No son una valoración jurídica concreta de la conducta de la persona agresora.</b></p>
    <p class="texto-interno"><b>g) Tienen carácter preventivo y no sancionatorio.</b></p>
    <p class="texto-interno">h) Su incumplimiento genera responsabilidad administrativa, civil o penal.</p>
      <br><br>
      
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>