<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/pregmenu222"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    <div class="titulo-interno"> ¿Qué debo hacer en el caso de que la persona identificada como agresora se niegue a salir de su domicilio?</div>


    <p class="texto-interno">Aplicará el uso progresivo y diferenciado de la fuerza, en caso de que el presunto agresor se niegue a salir del domicilio común y procederá a la aprehensión por incumplimiento de decisiones legítimas de autoridad competente. </p>
  
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>
</ion-content>