<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/pregmenu"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">¿Cuáles son los servicios de protección y atención dispuestos en el Sistema Nacional Integral para Prevenir y Erradicar la Violencia contra las Mujeres, que menciona el literal i) del artículo 51 de la LOIPEVCM?
   </div>


  <div class="cuadro-morado">
    <p class="texto-interno-blanco">LOIPEVCM</p>
    <p class="texto-interno-blanco">Art. 22.- Integrantes del Sistema. Conforman
      el Sistema Nacional Integral para Prevenir y
      Erradicar la Violencia contra las Mujeres, las
      siguientes entidades nacionales y locales:
      1. Ente rector de Justicia y Derechos
      Humanos; 2. Ente rector de Educación; 3.
      Ente rector de Educación Superior; 4. Ente
      rector de Salud; 5. Ente rector de Seguridad
      Ciudadana y Orden Público; 6. Ente rector de
      Trabajo; 7. Ente rector de Inclusión
      Económica y Social; 8. Consejos Nacionales
      para la Igualdad; 9. Consejo de Regulación y
      Desarrollo de la Información y
      Comunicación; 10. Instituto Nacional de
      Estadísticas y Censos; 11. Servicio Integrado
      de Seguridad ECU 911; 12. Consejo de la
      Judicatura; 13. Fiscalía General del Estado;
      14. Defensoría Pública; 15. Defensoría del
      Pueblo; y, 16. Un representante elegido por
      la asamblea de cada órgano asociativo de
      los Gobiernos Autónomos Descentralizados.
      Las distintas entidades públicas y niveles de
      gobierno, tienen la obligación de articular y
      coordinar entre sí y con los actores
      vinculados, acciones de prevención,
      atención, protección y reparación. En toda
      actividad, se observará el principio de
      descentralización y desconcentración en la
      provisión de servicios y en la ejecución de
      medidas</p>
  </div>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>