<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/home2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      <div class="titulo"><ion-title>Preguntas Frecuentes</ion-title></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- Default Item -->


<!-- Item as a Button -->
<div class="fondo-gris">
<div class="fondo-blanco">
<ion-item href="preg1">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">¿Cuáles son los servicios de protección <br>y atención dispuestos en el Sistema  <br> Nacional Integral para Prevenir y <br>Erradicar la Violencia contra las <br> Mujeres, que  menciona el literal <br>i) del artículo 51 de la LOPEIVCM?</div> </div> 
</ion-label>
</ion-item>

<ion-item href="preg2">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">¿Qué pasa si la acción solicitada se <br>debe ejecutar en contra de una mujer?</div> </div> 
</ion-label>
</ion-item>

<ion-item href="preg3">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Qué debe hacer la Policía Nacional el/la <br>presunto/a agresor/a se niega a recibir<br> la boleta de notificación?
      </div> </div> 
</ion-label>
</ion-item>


<ion-item href="preg5">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">
      ¿Qué debo hacer en el caso de que la <br>persona identificada como agresora <br>se niegue a salir de su domicilio?
      
      
      </div> </div> 
</ion-label>
</ion-item>

<ion-item href="preg4">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">¿Puede requerir una acción urgente <br>una adolescente?
      </div> </div> 
</ion-label>
</ion-item>


</div>
<div class="boton-azul">
  <div class="letra-boton" routerLink="/home2">VOLVER</div>
</div>
</div>

</ion-content>