<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/edidasadministrativas"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno">CTA: El desarrollo de MAPIs es una excelente herramienta para mejorar en la atención y prevención de MAPIs. Compartir experiencias entre colegas ayudará a crear una lista y red de consulta y apoyo.</p> 

      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>