<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu22"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Violencia Sexual Digital</div>
  <p class="texto-interno">Cualquier acto de violencia cometido, asistido o
    agravado por el uso de TICs.
    <p class="texto-interno">Acción que implique principalmente la vulneración o
    restricción del derecho a la intimidad realizada
    contra las mujeres en el entorno digital, a través de
    cualquiera de las tecnologías, mediante la utilización
    de contenido de carácter personal o íntimo, que
    contenga la representación visual de desnudos,
    semidesnudos o actitudes sexuales que la mujer le
    haya confiado de su intimidad o que ha sido
    obtenido por cualquier otro medio.</p>
    <p class="texto-interno">Se entenderá por TICs, al conjunto de recursos
    tecnológicos utilizados de manera integrada para el
    procesamiento, administración y difusión de la
    información a través de soportes diseñados para
    ello. </p>
    <div class="icono1"><img src="https://i.imgur.com/aNAyjkU.png"></div>
    <div class="boton-blanco" routerLink="/casossim2">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Ver un caso</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  <div class="boton-azul"  routerLink="/home2">
    <div class="letra-boton1">VOLVER</div>
  </div>
</div>
</ion-content>
