<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casossex2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">TIPO: </div>
  <p class="texto-interno">Sexual y psicológica</p>
  <br>
  <div class="titulo-interno">ÁMBITO: </div>
  <p class="texto-interno">Intrafamiliar</p>
  <br>
  <div class="titulo-interno">PAUTAS GENERALES</div>
  <p class="texto-interno">Detener y prevenir agresiones restringiendo el
    acercamiento de la presunta agresora.</p>
    <p class="texto-interno">Prohibir acciones de intimidación.</p>
      <p class="texto-interno">Ordenar la salida del agresor de la vivienda
    común.</p>
    <p class="texto-interno">Activar los servicios de protección y atención
    dispuestos en el SNIPEVCM, para cuyo efecto
    se hará un levantamiento de información sobre
    los servicios en Territorio.</p>
    <p class="texto-interno">Activar MAPIs contempladas en el Código de la
    Niñez y Adolescencia.</p>
    <p class="texto-interno">Emitir MAPIs contempladas en la LOIPEVcM y
    aquellas especificadas en el Código Integral de
    la Niñez y Adolescencia, notificar al órgano
    judicial y/o disponer intervención del DINAPEN
    para ejecución de medidas si la integridad física,
    psicológica o sexual de la adolescente vulnerada.</p>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>

</ion-content>
