<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/procedimineto"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno">CTA: Art 51</p> 
  <p class="texto-interno"> c) A solicitud de la víctima, se ordenará la inserción, con sus dependientes en un programa de protección con el fin de resguardar su seguridad e integridad, en coordinación con el ente rector de las políticas públicas de Justicia, la red de casas de acogida, centros de atención especializados y los espacios de coordinación interinstitucional, a nivel territorial.</p> 
    <p class="texto-interno"> i) Disponer la activación de los servicios de protección y atención dispuestos en el Sistema Nacional Integral para prevenir y erradicar la violencia contra las Mujeres.</p> 
      <p class="texto-interno"> j) Disponer la inserción de la mujer víctima de violencia y sus dependientes, en programas de inclusión social y económica, salud, educación, laboral y de cuidados dirigidos a los grupos de atención prioritaria a cargo del ente rector de políticas públicas de Inclusión Social y otras instancias locales que brinden este servicio.</p> 
        <p class="texto-interno"> k) Disponer el seguimiento para verificar la rectificación de las conductas de violencia contra las mujeres por parte de las unidades técnicas respectivas, de los entes rectores de políticas públicas de Inclusión Social, Salud, y otras instancias locales que brinden este servicio, a través de un informe motivado.</p> 
    
      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>
