<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu4"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="otrolink3" size="auto">
    <ng-template>
      <ion-content class="ion-padding">CTA: Art 51. Las medidas administrativas inmediatas de protección se dispondrán de manera inmediata, cuando exista vulneración a la integridad de la mujer víctima de violencia. Serán otorgadas por los Tenientes Políticos, a nivel parroquial; y, a nivel cantonal, las Juntas Cantonales de Protección de Derechos.
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink4" size="auto">
    <ng-template>
      <ion-content class="ion-padding">CTA: <br> 
        Unidades Judiciales de violencia contra las mujeres<br> 
        Comisarías Nacionales<br> 
        Centros de Salud<br> 
        Defensoría del Pueblo<br> 
        ECU 911
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink5" size="auto">
    <ng-template>
      <ion-content class="ion-padding">CTA: Servicio de Protección Especial: apoyo familiar, red de casas de acogida. 
        </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="otrolink6" size="auto">
    <ng-template>
      <ion-content class="ion-padding">CTA: El desarrollo de MAPIs es una excelente herramienta para mejorar en la atención y prevención de MAPIs. Compartir experiencias entre colegas ayudará a crear una lista y red de consulta y apoyo.
        </ion-content>
    </ng-template>
  </ion-popover>


  <div class="fondo-gris">

    <div class="titulo-interno">CONSIDERACIONES GENERALES PARA EL DESARROLLODE OTRAS MEDIDAS</div>

    <ul> 
    <li>Las medidas se deberán desarrollar con base en la normativa nacional.</li>
    <li>Las medidas no podrán vulnerar derechos de ningún tipo.</li>
    <li>Las medidas serán desarrolladas en función de la protección que requiere la víctima de acuerdo al tipo de violencia, parámetros de riesgo.</li>
  </ul> 




        <p class="texto-interno">Pautas generales y ejemplos de medidas administrativas</p>
          <ul> 
            <li>Acciones de intervención psicosocial a las personas presuntas agresoras. </li>
              <li>Solicitar implementación de programas educomunicacionales para las comunidades.</li>
          </ul>

<p class="texto-interno">Medidas administrativas que se apoyan en el <b>artículo 51 i)</b></p>
<ul> 
  <li>Solicitar <b>atención urgente</b> en instancias del Ministerio correspondiente. </li>
    <li>Disponer atención urgente de la <b>Defensoría del Pueblo.</b> </li>
      <li>Solicitar la <b>garantía laboral</b> de víctima en caso de que la víctima deba ausentarse de su trabajo como resultado de la violencia o en caso de violencia en ámbito laboral.</li> 
        <li>Solicitud de <b>sumarios administrativos</b> para las personas presuntas agresoras dentro de sus instituciones de trabajo.</li>
          <li>Solicitar <b>revisión de requisitos</b> para permisos y renovación de porte de armas. </li>
</ul>
<p class="texto-interno"><b>Disponer a otras instancias del Sistema Nacional</b> Integral para prevenir y erradicar la violencia contra las Mujeres.</p>

    
    <br>
    
    <div class="titulo-interno">Consideraciones Generales
      para el Desarrollo de Otras
      Medidas</div>
    <ul>
      <li>Las medidas se deberán desarrollar con base en
        la normativa nacional. </li>
      <li>Las medidas no podrán vulnerar derechos de
        ningún tipo.</li>
      <li>Las medidas serán desarrolladas en función de la
        protección que requiere la víctima de acuerdo al
        tipo de violencia, parámetros de riesgo.</li>
    </ul>
    <div class="titulo-interno">Pautas generales y ejemplos
      de otras MAPIs</div>
    <ul>
      <li>Acciones de intervención psicosocial a las
        personas presuntas agresoras.</li>
        <li>Solicitar implementación de programas
          educomunicacionales para las comunidades.</li>
        </ul>
        <b>Medidas administrativas que se apoyan en el
          artículo 51 i).</b>
        <ul>
        <li>Solicitar atención urgente en instancias del
          Ministerio correspondiente.</li>
        <li>Disponer atención urgente de la Defensoría
          del Pueblo.</li>
        <li>Solicitar la garantía laboral de víctima en
          caso de que la víctima deba ausentarse de su
          trabajo como resultado de la violencia o en caso
          de violencia en ámbito laboral. </li>
        <li>Solicitud de sumarios administrativos para
          las personas presuntas agresoras dentro de sus
          instituciones de trabajo.</li>
        <li>Solicitar revisión de requisitos para
          permisos y renovación de porte de armas. </li>
        <li>Disponer a otras instancias del Sistema
          Nacional Integral para prevenir y erradicar la
          violencia contra las Mujeres.</li>
    </ul>
    <br>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>