<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/lineamientosespec"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
    <div class="contiene-iamgen-texto"> 
      <div class="iamgen-texto1"> 
        <div class="icon-111"><ion-icon name="eye-outline"></ion-icon></div>
      </div>
      <div class="iamgen-texto2"> 
        <p class="texto-interno"><b>NO REVICTIMIZAR</b>
          </p>
      </div>
    </div>

      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>