.header-enfoques {
    min-height: 250px;
    background-color: #4c8dbc;
    padding: 0px;
    color: #FFFFFF;
}
.toolbar-background {
    background: #558db8;
}
.toolbar-container {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.toolbar-searchbar {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.icono {
    padding: 16px 16px 5px 16px;
    font-size: 21px;
}
input.searchbar-input.sc-ion-searchbar-ios {
    background-color: #FFFFFF;
}
.toolbar-title {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    margin-top: 120px;
    text-align: left;
}
.titulo {
    font-weight: 400;
    padding-top: 85px;
    padding-bottom: 30px;
}
.fondo-gris {
    background: #f7f7f7;
    padding: 50px 16px 50px 16px;
    border-radius: 0px 0px 30px 30px;
}
.fondo-blanco {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 40px;
}
.boton-azul {
    margin: 25px 0px 0px 0px;
    padding: 14px;
    background-color: #558db8;
    border-radius: 30px;
    color: #ffffff;
    text-align: center;
}
ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    FONT-FAMILY: Montserrat, SANS-SERIF;
    FONT-WEIGHT: 500;
}
input.searchbar-input.sc-ion-searchbar-ios {
    background-color: #FFFFFF;
}