<ion-header>
  <ion-toolbar>
    <ion-title>enfoques</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Default Item -->


<!-- Item as a Button -->
<ion-item href="derechos">
  <ion-label>
    Derechos  
</ion-label>
</ion-item>

<ion-item href="genero">
  <ion-label>
    Género  
</ion-label>
</ion-item>
<ion-item href="interculturalidad">
  <ion-label>
    Interculturalidad  
</ion-label>
</ion-item>
<ion-item href="integralidad">
  <ion-label>
    Integralidad  
</ion-label>
</ion-item>
<ion-item href="intergeneracional">
  <ion-label>
    Intergeneracional  
</ion-label>
</ion-item>




</ion-content>
