<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/home"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      <div class="titulo"><p>Enfoques</p></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- Default Item -->


<!-- Item as a Button -->
<div class="fondo-gris">
<div class="fondo-blanco">
<ion-item routerLink="/derechos">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Derechos </div> </div> 
</ion-label>
</ion-item>

<ion-item routerLink="/genero">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Género </div> </div> 
</ion-label>
</ion-item>
<ion-item routerLink="/interculturalidad">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Interculturalidad </div> </div> 
</ion-label>
</ion-item>
<ion-item routerLink="/integralidad">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Integralidad </div> </div> 
</ion-label>
</ion-item>
<ion-item routerLink="/interseccionalidad">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Interseccionalidad </div> </div> 
</ion-label>
</ion-item>
<ion-item routerLink="/intergeneracional">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Intergeneracional   </div> </div> 
</ion-label>
</ion-item>
</div>
<div class="boton-azul">
  <div class="letra-boton" routerLink="/home">VOLVER</div>
</div>
</div>

</ion-content>
