<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu1"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      <div class="titulo">Contenidos conceptuales</div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- Default Item -->


<!-- Item as a Button -->
<div class="fondo-gris">
<div class="fondo-blanco">
<ion-item routerLink="/violenciagenero">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Violencia de Género </div> </div> 
</ion-label>
</ion-item>

<ion-item routerLink="/menu2">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Tipos de violencia</div> </div> 
</ion-label>
</ion-item>

<ion-item routerLink="/menu3">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Ámbitos donde ocurre <br>la violencia.</div> </div> 
</ion-label>
</ion-item>

</div>
<div class="boton-azul">
  <div class="letra-boton" routerLink="/home">VOLVER</div>
</div>
</div>

</ion-content>