<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/procedimineto"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno">CTA (DIBUJO UNA CARPETA Y ESCRITO EN LA CARATULA): Denominación de, la dependencia</p> 
    <p class="texto-interno">  Provincia, Cantón, Parroquia. Nro. Expediente administrativo Fecha de Recepción</p> 
      <p class="texto-interno"> Nombre de Solicitante Nombre y Apellido víctima</p> 
        <p class="texto-interno"> Nombre y Apellido	<ion-icon name="arrow-forward-outline"></ion-icon>del presunto Agresor</p> 
          <p class="texto-interno"> Nombre<ion-icon name="arrow-forward-outline"></ion-icon>	y	<ion-icon name="arrow-forward-outline"></ion-icon>Apellido	<ion-icon name="arrow-forward-outline"></ion-icon>de	<ion-icon name="arrow-forward-outline"></ion-icon>la</p> 
            <p class="texto-interno">  autoridad administrativa Nombre	<ion-icon name="arrow-forward-outline"></ion-icon>y	<ion-icon name="arrow-forward-outline"></ion-icon>Apellido<ion-icon name="arrow-forward-outline"></ion-icon>	de</p> 
              <p class="texto-interno">  Asistente/Secretaria (o)</p> 


      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>