<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu1"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      <div class="titulo">Procedimiento</div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- Default Item -->


<!-- Item as a Button -->
<div class="fondo-gris">
<div class="fondo-blanco">

<ion-item routerLink="/menu8">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Solicitud y otorgamiento</div> </div> 
</ion-label>
</ion-item>

<ion-item routerLink="/menu9">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Notificación y seguimiento</div> </div> 
</ion-label>
</ion-item>


</div>
<div class="boton-azul">
  <div class="letra-boton" routerLink="/home">VOLVER</div>
</div>
</div>