<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu3"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Institucional</div>
  <p class="texto-interno">Toda acción u omisión de instituciones, personas jurídicas,
    servidoras y servidores públicos o de personal
    de instituciones privadas; y, de todo tipo de
    colectivo u organización, que, incumpliendo sus
    responsabilidades en el ejercicio de sus
    funciones, retarden, obstaculicen o impidan
    que las mujeres tengan acceso a las políticas
    públicas y a sus servicios derivados; y, a que
    ejerzan los derechos previstos en esta Ley.  </p>
    <p class="texto-interno-azul"><b>Ejemplos:</b> poco acceso a interrupción legal de
      embarazos por las causales despenalizadas,
      dificultades para el acceso a servicios de
      justicia, negarse a atender a personas trans,
      incumplimiento de medidas alternativas a la
      privación de libertad en casos particulares de
      mujeres, etc.  </p>
    <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>