<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casosginecccc"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">TIPO DE VIOLENCIA: </div>
  <p class="texto-interno">Gineco-obstrética</p>
  <br>
  <div class="titulo-interno">ÁMBITO: </div>
  <p class="texto-interno">Centro/Institución de Salud</p>
  <br>
  <div class="titulo-interno">PAUTAS GENERALES </div>
  <p class="texto-interno">Para detener o prevenir este tipo de violencia, se
    podría solicitar al Ministerio de Salud inicie el
    sumario administrativo disciplinario en contra
    del médico para que se establezcan
    responsabilidades y de ser el caso se proceda
    con la sanción respectiva.</p>
    <p class="texto-interno">Emitir MAPIs contempladas en la LOIPEVCM y
    aquellas especificadas en el Código Integral
    de la Niñez y Adolescencia, notificar al órgano
    judicial y/o disponer intervención del DINAPEN
    para ejecución de medidas si la integridad física,
    psicológica o sexual de la adolescente
    vulnerada.</p>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>

</ion-content>