<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menuroll"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Rol y Competencias</div>
  <p class="texto-interno">Los/as Teniente Políticos, Comisarios/as
    Nacionales e Intendentes son autoridades en
    territorio competentes para otorgar medidas
    administrativas de protección inmediata.</p>
  <div class="cuadro-morado">
    <p class="texto-interno-blanco">Art 49 de la LOIPEVcM: Las autoridades
      competentes para otorgar medidas.</p>
      <p class="texto-interno-blanco">administrativas inmediatas de protección son:</p>
      <p class="texto-interno-blanco">a) Juntas Cantonales de Protección de
      Derechos;</p>
      <p class="texto-interno-blanco">b) Tenientes Políticos</p>
      <p class="texto-interno-blanco">c) En los lugares donde no existan Juntas</p>
      <p class="texto-interno-blanco">Cantonales de Protección de Derechos, serán
      las Comisarías Nacionales de Policía, los
      entes competentes para otorgar las medidas
      administrativas inmediatas de protección.</p>
      <p class="texto-interno-blanco">Estos órganos no podrán negar el
      otorgamiento de las medidas administrativas
      inmediatas de protección, por razones de
      ámbito territorial.</p>
  </div>
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>
