<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu32"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Intrafamiliar</div>
  <p class="texto-interno">La violencia es ejercida en el núcleo familiar. La
    violencia es ejecutada por parte del cónyuge, la
    pareja en unión de hecho, el conviviente, los
    ascendientes, los descendientes, las hermanas,
    los hermanos, los parientes por consanguinidad
    y afinidad y las personas con las que la víctima
    mantenga o haya mantenido vínculos familiares,
    íntimos, afectivos, conyugales, de convivencia,
    noviazgo o de cohabitación. </p>
    <p class="texto-interno-azul"><b>Ejemplos:</b> cualquier tipo de violencia hacia la
      pareja, a hijas/os, tratar de controlar a la pareja
      por medio de extorsiones, amenazas de
      abandono si no se concede a relaciones
      sexuales, etc.  </p>
    <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>
</ion-content>
