<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casosgb"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-popover trigger="otrolink407" size="auto">
    <ng-template>
      <ion-content class="ion-padding">Art.51<br>
        b) Ordenar la restitución de la víctima al domicilio habitual, cuando haya sido alejada de este por el hecho violento y así lo solicite, con las garantías suficientes para proteger su vida e integridad.<br>
        c) A solicitud de la víctima, se ordenará la inserción, con sus dependientes en un programa de protección con el fin de resguardar su seguridad e integridad, en coordinación con el ente rector de las políticas públicas de Justicia, la red de casas de acogida, centros de atención especializados y los espacios de coordinación interinstitucional, a nivel territorial;<br>
       f)  Ordenar al agresor la salida del domicilio cuando su presencia constituya una amenaza para la integridad física, psicológica o sexual o la vida de la mujer o cualquiera de los miembros de la familia.          
        </ion-content>
    </ng-template>
  </ion-popover>
  
  <div class="fondo-gris">
  <div class="titulo-interno">NORMATIVA APLICADA </div>
  <p class="texto-interno">
    Art. 10d.<br>
    <a id="otrolink407">Art. 51. b) c) f)</a><br>
    LOIPEVCM</p>
  <br>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>

</ion-content>
