<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/edidasadministrativas"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    <p class="texto-interno"> CTA:</p>
  <p class="texto-interno">Unidades Judiciales de violencia contra las mujeres </p>
  <p class="texto-interno">Comisarías Nacionales</p>  
  <p class="texto-interno">Centros de Salud</p>  
  <p class="texto-interno">Defensoría del Pueblo</p>
  <p class="texto-interno">ECU 911</p> 

      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>