<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu32"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Espacio Público </div>
  <p class="texto-interno">Espacio en el que se desarrollan las tareas
    políticas, productivas de la sociedad y de
    servicios remunerados, vinculadas a la gestión
    de lo público; parques, plazas, transporte
    público, calles, etc. Es aquella acción física o
    verbal, que personas desconocidas dirigen
    hacia las mujeres en lugares o espacios
    públicos o privados de acceso público, que
    tienen como efecto humillar, intimidar, infundir
    miedo o afectar sus derechos al libre tránsito</p>
    <p class="texto-interno-azul"><b>Ejemplos:</b> acoso sexual en el transporte
      público, acoso sexual en las calles
      (comentarios de connotación sexual), golpes
      e insultos, etc.  </p>
    <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>
</ion-content>