<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casossim2zz"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    <div class="titulo-interno">TIPO DE VIOLENCIA: </div>
    <p class="texto-interno">Simbólica</p>
    <br>
    <div class="titulo-interno">ÁMBITO: </div>
    <p class="texto-interno">Espacio Público</p>
    <br>
    <div class="titulo-interno">PAUTAS GENERALES </div>
    <p class="texto-interno">Solicitar revisión de permisos para el
      emplazamiento de publicidad en barrios y
      comunidades.</p>
      <p class="texto-interno"> Encaminar acciones hacia la sensibilización de
      la comunidad del derecho a espacios seguros.
      Solicitar acciones y revisión por parte de la
      entidad estatal competente en la regulación de
      comunicación.</p>
      <p class="texto-interno"> Averiguar quién o qué empresa arrendó el
      espacio publicitario y solicitar el retiro valla
      publicitaria.</p>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>
