<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu1"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      <div class="texto-blanco-arriba">Esta definición nos ayuda a identificar los tipos de violencia y los ámbitos en donde sucede:</div>
      <div class="titulo"><ion-title>1.2 Tipos de Violencia</ion-title></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- Default Item -->


<!-- Item as a Button -->
<div class="fondo-gris">
<div class="fondo-blanco">
<ion-item href="violenciafisica">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Violencia Física</div> </div> 
</ion-label>
</ion-item>

<ion-item href="violenciapsicologica">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Violencia psicológica</div> </div> 
</ion-label>
</ion-item>

<ion-item href="violenciasexual">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Violencia Sexual</div> </div> 
</ion-label>
</ion-item>

<ion-item href="violenciaeconomica">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Violencia Económica</div> </div> 
</ion-label>
</ion-item>

<ion-item href="violenciasimbolica">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Violencia Simbólica</div> </div> 
</ion-label>
</ion-item>

<ion-item href="violenciapolitica">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Violencia Política</div> </div> 
</ion-label>
</ion-item>

<ion-item href="violenciagineco">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Violencia Gineco Obstétrica</div> </div> 
</ion-label>
</ion-item>

</div>
<div class="boton-azul">
  <div class="letra-boton" routerLink="/home">VOLVER</div>
</div>
</div>

</ion-content>
