<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/home"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      <div class="titulo"><ion-title>Preguntas Frecuentes</ion-title></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- Default Item -->


<!-- Item as a Button -->
<div class="fondo-gris">
<div class="fondo-blanco">
<ion-item href="submenu1">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">¿Qué pasa si la persona presunta <br>agresora es:</div> </div> 
</ion-label>
</ion-item>

<ion-item href="pregunta5">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">¿Qué pasa si la víctima es <br>adolescente? </div> </div> 
</ion-label>
</ion-item>

<ion-item href="pregunta4">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">¿Cuál es el procedimiento cuando una <br>tercera persona solicita MAPIs a<br>favor de una niña víctima de violencia<br> por parte de su padre y su madre? </div> </div> 
</ion-label>
</ion-item>

<ion-item href="pregunta6">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">¿Qué procedimiento debo seguir si la <br>víctima solicita MAPIs en una Tenencia <br>Política/Comisaría Naciona l/Intendencia<br> de una ciudad diferente al lugar <br>de su domicilio??
      </div> </div> 
</ion-label>
</ion-item>

<ion-item href="pregunta7">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">
      ¿Puede solicitarse una MAPI en contra <br>de una asociación, empresa, partido <br>político, agrupación?  
      </div> </div> 
</ion-label>
</ion-item>

<ion-item href="pregunta8">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">
      ¿Qué debo hacer si la persona <br>que solicita MAPI es un niño<br> o adolescente varón?  
      </div> </div> 
</ion-label>
</ion-item>

<ion-item href="pregunta9">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">
      ¿Puede un integrante del DECE (Departamento<br> de Consejería Estudiantil) acercarse a la <br>Tenencia Política para solicitar una MAPIs<br> a favor de una niña, niño o adolescente <br>víctima de algún tipo de violencia?
      </div> </div> 
</ion-label>
</ion-item>

<ion-item href="pregunta10">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">
      ¿Qué debe hacer un un/a Teniente Político/<br> Comisario Nacional/Intendente cuando el/la<br>  presunto/aagresor/a se niega a recibir <br> la boleta de notificación?
      </div> </div> 
</ion-label>
</ion-item>

<ion-item href="pregunta11">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">
      ¿Cuáles son los servicios de protección<br> y atención dispuestos en el Sistema Nacional<br> Integral para Prevenir y Erradicar<br> la Violencia contra las Mujeres, <br>que menciona el literal <br>i) del artículo 51 de la LOIPEVcM? 
      </div> </div> 
</ion-label>
</ion-item>


</div>
<div class="boton-azul">
  <div class="letra-boton" routerLink="/home">VOLVER</div>
</div>
</div>

</ion-content>