<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu4"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">

    <div class="titulo-interno">Procesos
      Solicitud y Otorgamiento</div>
      <div class="titulo-interno"><b>Solicitud</b></div>
      <p class="texto-interno"><b>1. Solicitud de Medida Administrativa.</b><br>
      Acudir a las Juntas Cantonales de Protección de
      Derechos o Tenencias Políticas.<br>
      <a href="/otrolink11">Solicitud Escrita.</a><br>
      Solicitud Verbal.</p>
      <p class="texto-interno"><b>2. Abordaje Inicial</b><br>
      La autoridad en territorio deberá saludar e
      identificarse mencionando su nombre y cargo.
      <b>Deberá expresarse con claridad.</b></p>
      <p class="texto-interno">Contar o disponer del espacio adecuado para
      garantizar la confidencialidad y privacidad en la
      atención.</p>
      <p class="texto-interno">Escuchar el requerimiento de la persona usuaria
      para después explicar y aclarar el alcance que
      tiene la Tenencia Política, Comisaría Nacional
      Intendencia General de Policía para el
      otorgamiento de MAPIs.</p>
      <p class="texto-interno"><b>3. ¿Qué hacer si la víctima se encuentra en
      estado de crisis?.</b></p>
    <ul>
      <li>Escuchar a la víctima y explicarle con claridad
      que ha comprendido la situación.</li>
    <li>Ser cortés, usar un adecuado lenguaje corporal.</li>
    <li>Considerar el momento traumático que
      atraviesa la víctima.</li>
    <li>Evitar conductas paternalistas.</li>
    <li>Mostrarse amable, paciente y sensible.</li>
    <li>Brindar orientación de calidad y calidez a la
      víctima.</li>
    </ul>
    
    <p class="texto-interno">4. Recepción de la solicitud.</p>
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="contiene-texto-ojo">
        El resumen del hecho de violencia
    deber ser realizado de manera
    precisa y clara. 
      </div>
    </div>
    <p class="texto-interno">ESCRITA PASO. </p>
    <p class="texto-interno">VERBAL PASO 6.</p>
    <p class="texto-interno"><a href="/otrolink12">5. VERIFICACIÓN que la solicitud cuente
    con los datos requeridos.</a></p>
    <p class="texto-interno"><b>6. Completar formulario de la solicitud</b></p>
      <p class="texto-interno">7. Dar lectura de la solicitud.<br>
      Una vez recibida la solicitud <b>escrita o la reducida
      a escrito solicitud verbal,</b> se leerá en voz alta el
      contenido de la misma con el objetivo de
      ratificar y verificar la información: datos
      personales de víctima y presunto agresor, relato
      de los hechos, tipo de violencia y MAPIs
      solicitadas.</p>
      <p class="texto-interno"> Una vez recibida la solicitud leerla en voz alta
      ratificando los datos, hechos y medidas
      solicitadas.</p>
      <p class="texto-interno"><b>8. Firma o huella digital de la persona solicitante.</b></p>
      <p class="texto-interno"><b>9. Imprimir Formulario.</b></p>
      <p class="texto-interno"><b>10. Abrir expediente.</b><br>
      Asignar una numeración secuencial y rotular la
      caratula con los <a href="/otrolink13">datos requeridos:</a></p>
      <p class="texto-interno"><b>11. Entregar expediente</b>
      La autoridad respectiva recibirá y revisará:
      La solicitud de MAPIs
      Documento impreso para el otorgamiento de
      MAPIs.</p>
    <br><br>
      <div class="titulo-interno">Otorgamiento</div>
      <div class="contendor-ojo">
        <div class="contiene-ojo">
          <ion-icon name="eye-outline"></ion-icon>
        </div>
        <div class="contiene-texto-ojo">
          Este se genera de manera automática
    al ingresar la solicitud.
        </div>
      </div>
          <p class="texto-interno">Este se genera de manera automática
    al ingresar la solicitud.</p>
    <p class="texto-interno"><b><a href="/otrolink14">12. Otorgamiento de las Medidas y
    disponer la elaboración de Resolución
    Administrativa.</a></b></p>
    <p class="texto-interno">Considerar parámetros de valoración de riesgos y condiciones específicas la presencia de uno solo de estos será suficiente para otorgar MAPIs
      <a href="/otrolink15">Otorgar uno o varias MAPIs</a> para Detener o Prevenir la violencia de acuerdo a los artículos 45 y 46 del Reglamento de la Ley.</p>
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="contiene-texto-ojo">
        12. Elaboración Resolución Administrativa
        DOCUMENTOS. 
      </div>
    </div>
      <p class="texto-interno">Resolución administrativa.</p>
      <p class="texto-interno">Oficios de Notificación a órgano judicial y Defensoría
    del Pueblo.</p>
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="notifications-outline"></ion-icon>
      </div>
      <div class="contiene-texto-ojo">
        En caso de que la autoridad en territorio emita las MAPIs contempladas en los literales <a href="/otrolink16">c), i), j) y k) </a> la LOIPEVcM, deberá Verificar previamente los servicios de protección y atención de los que dispone cada institución.
      </div>
    </div>

    <p class="texto-interno"><b>3. Elaboración Resolución Administrativa<br>
    DOCUMENTOS.</b></p>
    <p class="texto-interno"><a href="/otrolink17">Resolución administrativa.</a></p>
    <div class="boton-azul2">
      <div class="letra-boton1" routerLink="/otrolink17"> DESCARGAR ARCHIVO ORIGINAL</div>
    </div>

    <p class="texto-interno"><a href="#">Oficios de Notificación a órgano judicial y Defensoría del Pueblo.</a></p>
    <div class="boton-azul2">
      <div class="letra-boton1" routerLink="#"> DESCARGAR ARCHIVO ORIGINAL</div>
    </div>

    <p class="texto-interno"><a href="#">Oficios a instituciones del Sistema Nacional para
    prevenir y erradicar la violencia contra la mujer.</a></p>
    <div class="boton-azul2">
      <div class="letra-boton1" routerLink="#"> DESCARGAR ARCHIVO ORIGINAL</div>
    </div>

    <p class="texto-interno"><a href="#">Oficio a la policía Nacional</a></p>
    <div class="boton-azul2">
      <div class="letra-boton1" routerLink="#"> DESCARGAR ARCHIVO ORIGINAL</div>
    </div>

    <p class="texto-interno">14. Revisar y firma.</p>
    
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="contiene-texto-ojo">
      <b>Disponer para proceder a las notificaciones en las respectivas instancias</b>
      </div>
    </div>
    <br><br>
    <!-- pagina 8 -->
    <div class="titulo-interno">Notificación y Seguimiento.</div>
    <div class="titulo-interno"><b>Notificación</b></div>
    <p class="texto-interno"><b>1. Entregar MAPIs a la víctima</b><br>
      <b>Original de la solicitud verbal: </b>
    por escrito, debidamente firmada.<br>
    <b>Solicitud escrita:</b><b> entregar una copia</b> con la
    respectiva fe de presentación.<br>
    <b>Original de la Resolución Administrativa</b>
    mediante la cual se otorgan las MAPIs.<br>
    <b>Original de Boleta de Auxilio.</b>
    Comunicar la respectiva razón de notificación a
    la víctima.</p>
    <p class="texto-interno"><b>2. Notificación a presunta agresora<br>
      <a href="/otrolink18"> solicitar apoyo  a la Policía Nacional de la gestión preventiva para realizar la actividad.</a></b><br>
    En casos en donde la notificación en persona
    implique un riesgo evidente para Asistente
    /Secretaria(o) en virtud de agresividad y factores
    de riesgo identificados a través del testimonio de
    la víctima, deberá solicitar apoyo a la Policía
    Nacional de la gestión preventiva para realizar la
    actividad.<br>
    Notificación realice la propia persona
    Asistente/Secretaria u otra <b>AUTORIDAD
    ADMINISTRATIVA.</b><br>
    Entregar la boleta de notificación en lugar de
    residencia o trabajo.<br>
    Sentar la razón de la notificación.</p>
    <p class="texto-interno"><b>3.Notificación en caso de NO ubicar a la presunta persona agresora.</b><br>
     • Dejar tres boletas en su lugar de
    residencia o trabajo, durante tres días diferentes.<br>
     • Realizar a través de cualquier medio
    electrónico (correo, WhatsApp) tomando en
    cuenta la información que otorga la víctima.<br>
     • Colocar la Boleta de Notificación en un
    lugar visible de la Tenencia Política, Comisaría
    Nacional de Policía Intendencia General de Policía.</p>
    
    <p class="texto-interno"><b><a href="/otrolink19">4. Notificar al órgano Judicial </a> </b>Forma
    FÍSICA<br>
    4.1 MAPIs <a href="/otrolink20">Detener la violencia.</a><br>
    Adjuntar oficio al órgano Judicial competente.<br>
    Notificar al Órgano Judicial sobre los hechos y las
    MAPIs para DETENER la vulneración.<br>
    Ingresar oficio y expediente respectivo.<br>
    4.2 MAPIs <a href="/otrolink21"><b>Prevenir la violencia.</b></a><br>
    Adjuntar oficio al órgano Judicial competente:
    original.<br>
    Notificar al Órgano Judicial sobre hechos y las
    MAPIs para PREVENIR la vulneración.<br>
    Ingresar el oficio y expediente respectivo a través
    de ventanilla de los Juzgados.</p>
    <p class="texto-interno"><b>5. Notificar digital órgano judicial.</b> (Forma
    DIGITAL).<br>
    <a href="/otrolink22">5.1 MAPIs Detener la violencia.</a><br>
    Ingresar a módulo eterno del SATJE y digitar su
    clave.<br>
    Completar la información.<br>
    <a href="/otrolink23">Adjuntar documentos escaneados.</a><br>
    <a href="/otrolink24">5.2 MAPIs Prevenir la violencia.</a><br>
    Ingresar a módulo eterno del SATJE  y digitar su clave.<br>
    Completar la información requerida por el módulo, datos de la víctima, presunto agresor, hechos de violencia y demás información.<br>
    Adjuntar documentos escaneados.</p>
    <p class="texto-interno"><b>6. Notificar la Resolución Judicial a la
    autoridad administrativa</b>
    Notificar resolución judicial a l autoridad
    administrativa mediante casillero electrónico que
    otorgó las medidas.<br>
    Si no se cuenta con casillero electrónico se
    procederá a notificar con la resolución judicial
    adjuntando el expediente.</p>
    <p class="texto-interno"><b>7. Revisar medidas administrativas otorgadas.</b>
    Para ratificarlas, modificarlas o revocarlas.</p>
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="contiene-texto-ojo">
      <b>Estar pendiente la resolución judicial.</b>
      </div>
    </div>
    <p class="texto-interno"><b>a. Revocatoria:</b><br>
    Proceder al archivo del expediente adjuntando la
    notificación física o digital.</p>
    <p class="texto-interno"><b>b. Ratificación</b><br>
    Proceder al seguimiento de las medidas.</p>
    
    <p class="texto-interno"><b><a href="/otrolink25">8. NOTIFICAR AL DEFENSORIA DEL PUEBLO</a></b>
    Notificar directamente en las Coordinaciones
    Generales Defensorías Zonales y las delegaciones
    Provinciales.</p>
    <p class="texto-interno">Notificar en delegaciones de la Defensoría del
    Pueblo mediante <a href="/otrolink26">el oficio de notificación,</a>
    adjuntando documentos originales de la solicitud
    y resolución administrativa en un plazo máximo de
    24 horas para detener la vulneración de derechos
    y en plazo máximo de 3 días para prevenir.</p>
    <p class="texto-interno">Notificar en delegaciones de la Defensoría del
    Pueblo mediante el oficio de notificación,
    adjuntando documentos originales de la solicitud
    y resolución administrativa.</p>
    <p class="texto-interno"><b><a href="/otrolink27">9. Notificar a la Policía Nacional para
    ejecución de MAPIs instalación de
    dispositivos de alerta.</a></b></p>
    <p class="texto-interno">Dirigir <a href="/otrolink28">oficio </a>a la Policía Nacional de la gestión
    preventiva, para disponer la activación del
    botón de seguridad en la vivienda de la víctima.</p>
    <p class="texto-interno">10. NOTIFICAR ENTIDADES DEL SISTEMA
    NACIONAL integral para prevenir y
    erradicar la violencia contra la mujer.
    Priorizar el uso del correo electrónico para
    remitir documentos escaneado del oficio y la
    Resolución Administrativa.</p>
    <p class="texto-interno"><b>NOTA: si no se puede utilizar este
    mecanismo notificar por escrito adjuntando
    la <a href="/otrolink29">resolución ADMINISTRATIVA.</a></b></p>
    <br><br>
    <!-- pagina 9 -->
    <div class="titulo-interno"><b>Seguimiento</b></div>
    <p class="texto-interno"><b>1. Seguimiento administrativo de la ejecución
      de MAPIS por parte de la Policía Nacional.</b>
      Realizará un <a href="/otrolink30">control de las fechas de notificación y
      ejecución </a>de las medidas a través de la verificación
      de los informes/partes policiales de ejecución de
      medidas.</p>
      <div class="contendor-ojo">
        <div class="contiene-ojo">
          <ion-icon name="eye-outline"></ion-icon>
        </div>
        <div class="contiene-texto-ojo">
          Si se evidencia incumplimiento se deberá
    poner en conocimiento de la Delegación
    Provincial o Coordinación General
    Defensoría Zonal de la Defensoría del
    Pueblo para la gestión correspondiente.
        </div>
      </div>
    
      <p class="texto-interno"><b>2.	Seguimiento ejecución de MAPIs por parte de entidades del Sistema Nacional integral para prevenir y erradicar	la violencia contra la mujer.</b>
        <a href="/otrolink31">Realizar control de los informes</a> de ejecución solicitados
        Mediante  Resolución Administrativa, según la particularidad del caso.
        </p>
    <p class="texto-interno">Si se evidencia incumplimiento se deberá poner en conocimiento de la Delegación Provincial o Coordinación General Defensoría Zonal de la Defensoría del Pueblo para la gestión correspondiente.</p>
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="contiene-texto-ojo">
        Si se evidencia incumplimiento se deberá poner en
        conocimiento de la Delegación Provincial o Coordinación General Defensoría Zonal de
        la Defensoría del Pueblo para la gestión
        correspondiente.
      </div>
    </div>
    <br><br>
      
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>