<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu4"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">

    <div class="titulo-interno">Procesos
      Solicitud y Otorgamiento</div>
      <div class="titulo-interno"><b>Solicitud</b></div>
      <p class="texto-interno"><b>1. Solicitud de Medida Administrativa.</b><br>
      Acudir a las Juntas Cantonales de Protección de
      Derechos o Tenencias Políticas.<br>
      Solicitud Escrita.<br>
      Solicitud Verbal.</p>
      <p class="texto-interno"><b>2. Abordaje Inicial</b><br>
      La autoridad en territorio deberá saludar e
      identificarse mencionando su nombre y cargo.
      Deberá expresarse con claridad.</p>
      <p class="texto-interno">Contar o disponer del espacio adecuado para
      garantizar la confidencialidad y privacidad en la
      atención.</p>
      <p class="texto-interno">Escuchar el requerimiento de la persona usuaria
      para después explicar y aclarar el alcance que
      tiene la Tenencia Política, Comisaría Nacional
      Intendencia General de Policía para el
      otorgamiento de MAPIs.</p>
      <p class="texto-interno"><b>3. ¿Qué hacer si la víctima se encuentra en
      estado de crisis?.</b></p>
    <ul>
      <li>• Escuchar a la víctima y explicarle con claridad
      que ha comprendido la situación.</li>
    <li>• Ser cortés, usar un adecuado lenguaje corporal.</li>
    <li>• Considerar el momento traumático que
      atraviesa la víctima.</li>
    <li>• Evitar conductas paternalistas.</li>
    <li>• Mostrarse amable, paciente y sensible.</li>
    <li> • Brindar orientación de calidad y calidez a la
      víctima.</li>
    </ul>
    
    <p class="texto-interno">4. Recepción de la solicitud.</p>
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="contiene-texto-ojo">
        El resumen del hecho de violencia
    deber ser realizado de manera
    precisa y clara. 
      </div>
    </div>
    <p class="texto-interno">ESCRITA PASO. </p>
    <p class="texto-interno">VERBAL PASO 6.</p>
    <p class="texto-interno">5. VERIFICACIÓN que la solicitud cuente
    con los datos requeridos.</p>
    <p class="texto-interno"><b><FONT COLOR="#35bba9">6. Completar formulario de la solicitud</FONT></b></p>
      <p class="texto-interno"><b>7. Dar lectura de la solicitud.</b>
      Una vez recibida la solicitud escrita o la reducida
      a escrito solicitud verbal, se leerá en voz alta el
      contenido de la misma con el objetivo de
      ratificar y verificar la información: datos
      personales de víctima y presunto agresor, relato
      de los hechos, tipo de violencia y MAPIs
      solicitadas.</p>
      <p class="texto-interno"> Una vez recibida la solicitud leerla en voz alta
      ratificando los datos, hechos y medidas
      solicitadas.</p>
      <p class="texto-interno"><b>8. Firma o huella digital de la persona solicitante.</b></p>
      <p class="texto-interno"><b>9. Imprimir Formulario.</b></p>
      <p class="texto-interno"><b>10. Abrir expediente.</b><br>
      Asignar una numeración secuencial y rotular la
      caratula con los datos requeridos:</p>
      <p class="texto-interno"><b>11. Entregar expediente</b>
      La autoridad respectiva recibirá y revisará:
      La solicitud de MAPIs
      Documento impreso para el otorgamiento de
      MAPIs.</p>
    <br><br>
      <div class="titulo-interno">Otorgamiento</div>
      <div class="contendor-ojo">
        <div class="contiene-ojo">
          <ion-icon name="eye-outline"></ion-icon>
        </div>
        <div class="contiene-texto-ojo">
          Este se genera de manera automática
    al ingresar la solicitud.
        </div>
      </div>
          <p class="texto-interno">Este se genera de manera automática
    al ingresar la solicitud.</p>
    <p class="texto-interno"><b>12. Otorgamiento de las Medidas y
    disponer la elaboración de Resolución
    Administrativa.</b></p>
    <p class="texto-interno">Considerar parámetros de valoración de riesgos y condiciones específicas la presencia de uno solo de estos será suficiente para otorgar MAPIs
    Otorgar uno o varias MAPIs para detener o prevenir la violencia de acuerdo a los
    artículos 45 y 46 del Reglamento de la Ley.</p>
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="contiene-texto-ojo">
        12. Elaboración Resolución Administrativa
        DOCUMENTOS. 
      </div>
    </div>
      <p class="texto-interno">Resolución administrativa.</p>
      <p class="texto-interno">ROficios de Notificación a órgano judicial y Defensoría
    del Pueblo.</p>
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="notifications-outline"></ion-icon>
      </div>
      <div class="contiene-texto-ojo">
        En caso de que la auditoria en territorio emita las MAPIs contempladas en los
        literales c), i), j) y k) de la LOIPEVCM,
        deberá Verificar previamente los servicios
        de protección y atención de los que
        dispone cada institución.
      </div>
    </div>
    <p class="texto-interno"><b>13. Elaboración Resolución Administrativa
    DOCUMENTOS.</b></p>
    <p class="texto-interno">Resolución administrativa.</p>
    <p class="texto-interno">Oficios de Notificación a órgano judicial y Defensoría
    del Pueblo.</p>
    <p class="texto-interno">Oficios a instituciones del Sistema Nacional para
    prevenir y erradicar la violencia contra la mujer.</p>
    <p class="texto-interno">Oficio a la policía Nacional
    14. Revisar y firma.</p>
    
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="contiene-texto-ojo">
        (disponer para proceder a las
        notificaciones).
      </div>
    </div>
    <br><br>
    <!-- pagina 8 -->
    <div class="titulo-interno">Notificación y Seguimiento.</div>
    <div class="titulo-interno"><b>Notificación</b></div>
    <p class="texto-interno"><b>1. Entregar MAPIs a la víctima</b>
    Original de la solicitud verbal
    : por escrito,
    debidamente firmada.
    Solicitud escrita: entregar una copia con la
    respectiva fe de presentación.
    Original de la Resolución Administrativa
    mediante la cual se otorgan las MAPIs
    Original de Boleta de Auxilio.
    Comunicar la respectiva razón de notificación a
    la víctima.</p>
    <p class="texto-interno"><b>2. Notificación a presunta agresora
    POLICÍA NACIONAL POLICÍA COMUNITARIA
    AUTORIDAD ADMINISTRATIVA.</b><br>
    En casos en donde la notificación en persona
    implique un riesgo evidente para Asistente
    /Secretaria(o) en virtud de agresividad y factores
    de riesgo identificados a través del testimonio de
    la víctima, deberá solicitar apoyo a la Policía
    Nacional de la gestión preventiva para realizar la
    actividad.<br>
    Notificación realice la propia persona
    Asistente/Secretaria u otra <b>AUTORIDAD
    ADMINISTRATIVA.</b><br>
    Entregar la boleta de notificación en lugar de
    residencia o trabajo.<br>
    Sentar la razón de la notificación.</p>
    <p class="texto-interno"><b>3. Notificación en caso de no ubicar a la
    presunta persona agresora.</b><br>
     • Dejar tres boletas en su lugar de
    residencia o trabajo, durante tres días diferentes.<br>
     • Realizar a través de cualquier medio
    electrónico (correo, WhatsApp) tomando en
    cuenta la información que otorga la víctima.<br>
     • Colocar la Boleta de Notificación en un
    lugar visible de la Tenencia Política, Comisaría
    Nacional de Policía Intendencia General de Policía.</p>
    
    <p class="texto-interno"><b>4. Notificar presencial al órgano Judicial </b>(Forma
    FÍSICA)<br>
    MAPIs Detener la violencia.<br>
    Adjuntar oficio al órgano Judicial competente.<br>
    Notificar al Órgano Judicial sobre los hechos y las
    MAPIs para DETENER la vulneración.<br>
    Ingresar oficio y expediente respectivo.<br>
    MAPIsPrevenir la violencia.<br>
    Adjuntar oficio al órgano Judicial competente:
    original.<br>
    Notificar al Órgano Judicial sobre hechos y las
    MAPIs para PREVENIR la vulneración.<br>
    Ingresar el oficio y expediente respectivo a través
    de ventanilla de los Juzgados.</p>
    <p class="texto-interno"><b>5. Notificar digital órgano judicial.</b> (Forma
    DIGITAL).
    MAPIs Detener la violencia.<br>
    Ingresar a módulo eterno del SATJE y digitar su
    clave.<br>
    Completar la información.<br>
    Adjuntar documentos escaneados.<br>
    MAPIsPrevenir la violencia.<br>
    Ingresar a módulo eterno del SATJE y digitar su
    clave.<br>
    Completar la información requerida por el
    módulo.<br>
    Adjuntar documentos escaneados.</p>
    <p class="texto-interno"><b>6. Notificar la Resolución Judicial a la
    autoridad administrativa</b>
    Notificar resolución judicial a l autoridad
    administrativa mediante casillero electrónico que
    otorgó las medidas.<br>
    Si no se cuenta con casillero electrónico se
    procederá a notificar con la resolución judicial
    adjuntando el expediente.</p>
    <p class="texto-interno"><b>7. Revisar medidas administrativas otorgadas.</b>
    Para ratificarlas, modificarlas o revocarlas.</p>
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="contiene-texto-ojo">
        Estar pendiente la resolución judicial.
      </div>
    </div>
    <p class="texto-interno"><b>a. Revocatoria:</b><br>
    Proceder al archivo del expediente adjuntando la
    notificación física o digital.</p>
    <p class="texto-interno"><b>b. Ratificación</b><br>
    Proceder al seguimiento de las medidas.</p>
    
    <p class="texto-interno"><b>8. NOTIFICAR AL DEFENSORIA DEL PUEBLO</b>
    Notificar directamente en las Coordinaciones
    Generales Defensorías Zonales y las delegaciones
    Provinciales.</p>
    <p class="texto-interno">Notificar en delegaciones de la Defensoría del
    Pueblo mediante el oficio de notificación,
    adjuntando documentos originales de la solicitud
    y resolución administrativa en un plazo máximo de
    24 horas para detener la vulneración de derechos
    y en plazo máximo de 3 días para prevenir.</p>
    <p class="texto-interno">Notificar en delegaciones de la Defensoría del
    Pueblo mediante el oficio de notificación,
    adjuntando documentos originales de la solicitud
    y resolución administrativa.</p>
    <p class="texto-interno"><b>9. Notificar a la Policía Nacional para
    ejecución de MAPIs instalación de
    dispositivos de alerta.</b></p>
    <p class="texto-interno">Dirigir oficio a la Policía Nacional de la gestión
    preventiva, para disponer la activación del
    botón de seguridad en la vivienda de la víctima.</p>
    <p class="texto-interno"><b>10. NOTIFICAR ENTIDADES DEL SISTEMA
    NACIONAL integral para prevenir y
    erradicar la violencia contra la mujer.
    Priorizar el uso del correo electrónico </b>para
    remitir documentos escaneado del oficio y la
    Resolución Administrativa.</p>
    <p class="texto-interno"><b>NOTA: si no se puede utilizar este
    mecanismo notificar por escrito adjuntando
    la resolución ADMINISTRATIVA.</b></p>
    <br><br>
    <!-- pagina 9 -->
    <div class="titulo-interno"><b>Seguimiento</b></div>
    <p class="texto-interno"><b>1. Seguimiento administrativo de la ejecución
      de MAPIS por parte de la Policía Nacional.</b>
      Realizará un control de las fechas de notificación y
      ejecución de las medidas a través de la verificación
      de los informes/partes policiales de ejecución de
      medidas.</p>
      <div class="contendor-ojo">
        <div class="contiene-ojo">
          <ion-icon name="eye-outline"></ion-icon>
        </div>
        <div class="contiene-texto-ojo">
          Si se evidencia incumplimiento se deberá
    poner en conocimiento de la Delegación
    Provincial o Coordinación General
    Defensoría Zonal de la Defensoría del
    Pueblo para la gestión correspondiente.
        </div>
      </div>
    
      <p class="texto-interno"><b>Sistema Nacional integral para prevenir y
    erradicar la violencia contra la mujer</b>
    Realizar control de los informes de ejecución
    solicitados.</p>
    <p class="texto-interno">Mediante Resolución Administrativa, según la
    particularidad del caso.</p>
    <div class="contendor-ojo">
      <div class="contiene-ojo">
        <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="contiene-texto-ojo">
        Si se evidencia incumplimiento se deberá poner en
        conocimiento de la Delegación Provincial o Coordinación General Defensoría Zonal de
        la Defensoría del Pueblo para la gestión
        correspondiente.
      </div>
    </div>
    <br><br>
      
  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>