<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/home"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      <div class="titulo"><ion-title>Nombre de la Aplicación</ion-title></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- Default Item -->


<!-- Item as a Button -->
<div class="fondo-gris">
<div class="fondo-blanco">
<ion-item href="acciones">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">MAPIs (MEDIDAS <br>ADMINISTRATIVAS DE <br>PROTECCIÓN INMEDIATA) </div> </div> 
</ion-label>
</ion-item>

<ion-item href="edidasadministrativas">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">¿Qué medidas administrativas <br>se pueden otorgar?</div> </div> 
</ion-label>
</ion-item>

<ion-item href="otorgamientomap">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Reglas para el Otorgamiento <br>de MAPIS</div> </div> 
</ion-label>
</ion-item>

<ion-item href="caracteristicasmap">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Características de las <br>Mapis</div> </div> 
</ion-label>
</ion-item>

<ion-item href="parametrosyval">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Parámetros y valoraciones<br> de riesgo</div> </div> 
</ion-label>
</ion-item>

<ion-item href="procedimineto">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">4.2.2 Procedimiento</div> </div> 
</ion-label>
</ion-item>

</div>
<div class="boton-azul">
  <div class="letra-boton" routerLink="/home">VOLVER</div>
</div>
</div>

</ion-content>