<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu1"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      <div class="titulo"><p>Medidas administrativas de protección inmediata.</p></div>
      <div class="texto-blanco-arriba"><p>Son medidas administrativas de carácter inmediato y provisional, que se otorgan cuando existe cualquier amenaza o vulneración los derechos de mujeres y niñas. </p></div>
     
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- Default Item -->


<!-- Item as a Button -->
<div class="fondo-gris">
<div class="fondo-blanco"> 
<ion-item routerLink="/acciones">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">MAPIS </div> </div> 
</ion-label>
</ion-item>

<ion-item routerLink="/acciones222">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">¿Cuándo se solicita MAPIS?</div> </div> 
</ion-label>
</ion-item>

<ion-item routerLink="/acciones333">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">¿Quiénes pueden solicitar MAPIS?</div> </div> 
</ion-label>
</ion-item>

<ion-item routerLink="/edidasadministrativas">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">¿Qué MAPIS se pueden otorgar?</div> </div> 
</ion-label>
</ion-item>

<ion-item routerLink="/consideraciones">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Consideraciones generales para el<br>  desarrollo de otras medidas.</div> </div> 
</ion-label>
</ion-item>

</div>
<div class="boton-azul">
  <div class="letra-boton" routerLink="/home">VOLVER</div>
</div>
</div>

</ion-content>