<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/edidasadministrativas"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno"><b>CTA: Art 51.</b> Las medidas administrativas inmediatas de protección se dispondrán de manera inmediata, cuando exista vulneración a la integridad de la mujer víctima de violencia. Serán otorgadas por los Tenientes Políticos, a nivel parroquial; y, a nivel cantonal, las Juntas Cantonales de Protección de Derechos.</p> 

      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>