<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/home2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      <div class="titulo"><p>Acciones Urgentes</p></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- Default Item -->


<!-- Item as a Button -->
<div class="fondo-gris">
<div class="fondo-blanco">
<ion-item routerLink="/menu42">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Contenidos Conceptuales </div> </div> 
</ion-label>
</ion-item>

<ion-item routerLink="/acciones2">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Acciones Urgentes</div> </div> 
</ion-label>
</ion-item>

<ion-item routerLink="/descripcion2">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Procedimiento Policial para <br>ejecución de acciones urgentes.</div> </div> 
</ion-label>
</ion-item>

<ion-item routerLink="/procedimientopol">
  <ion-label>
    <div class="boton"><div class="boton-icono"><ion-icon name="checkmark-circle-outline"></ion-icon></div> <div class="boton-texto1">Procedimiento Policial en la <br>notificación y ejecución de<br>MAPIs.</div> </div> 
</ion-label>
</ion-item>

</div>
<div class="boton-azul">
  <div class="letra-boton" routerLink="/home2">VOLVER</div>
</div>
</div>

</ion-content>