<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/violenciapolitica"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Casos  </div>
  <div class="titulo-interno">D.  </div>
  <p class="texto-interno">Liliana es una mujer de 25 años, afrodescendiente,
    vive en Lago Agrio de profesión Comunicadora
    Social, defensora de la naturaleza y poblaciones
    indígenas. </p>
    <p class="texto-interno">Ella se opone a la minería ilegal y ha
    dedicado gran parte de su vida la defensa de los
    derechos de pueblos y nacionalidades del
    Oriente. </p>
    <p class="texto-interno">Cuenta con el respaldo de la población
    para candidatizarse para Alcaldesa pero los
    dirigentes del partido político en el que milita no
    le permiten su candidatura porque han elegido a
    un hombre y dicen que la ciudad necesita un
    hombre con carácter y experiencia.</p>
    <div class="icono1"><ion-icon name="megaphone-outline"></ion-icon></div>
    
    <div class="boton-blanco" routerLink="/pautas4">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Pautas Generales</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <hr>

    <div class="boton-blanco" routerLink="/normativaap4">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Normativa Aplicada</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <div class="boton-azul">
      <div class="letra-boton1" routerLink="/home">VOLVER</div>
    </div>
  </div>
  
  </ion-content>