<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="arriba"><ion-icon name="grid-outline"></ion-icon></div>
    <ion-title>
      <div class="nombre">Nombre de la APP </div> 
     <!-- Default Searchbar -->
<ion-searchbar></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div id="bg-header"> 
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </div>
  </ion-header>
  <div id="container">
    <div class="subtitulos"> 
      <div class="sub">
        Mapis
      </div> 
      <div class="link">
        Ver todos
    </div> 
    </div>
<swiper #swiper [config]="config">
  <ng-template swiperSlide><div class="slider1" >
    <a routerLinkActive="active" 
    routerLink="/menu">
    <div class="cuadro1">
    MAPIS
    </div>
    <div class="contiene-texto">
      <div class="contendor">
         <div class="circulo1"></div>
         <div class="texto">Contenidos Conseptuales</div>
      </div>
         <div class="Texto-pequeño">
          <ion-icon name="document-outline"></ion-icon> 3 Archivo (s) para Descargar
         </div>
    </div></a>
</div></ng-template>

<ng-template swiperSlide ><div class="slider1">
  <a routerLinkActive="active" 
  routerLink="/menu">
  <div class="cuadro2">
    Rol y Competencias
  </div>
  <div class="contiene-texto">
    <div class="contendor">
       <div class="circulo2"></div>
       <div class="texto">Rol y Funciones<br><br></div>
    </div>
       <div class="Texto-pequeño">
        <ion-icon name="document-outline"></ion-icon> 1 Archivo (s) para Descargar
       </div>
  </div></a>
</div></ng-template>

<ng-template swiperSlide><div class="slider1">
  <a routerLinkActive="active" 
  routerLink="/enfoques">
  <div class="cuadro3">
  Enfoques
  </div>
  <div class="contiene-texto">
    <div class="contendor">
       <div class="circulo3"></div>
       <div class="texto">Lineamientos de Actuación</div>
    </div>
       <div class="Texto-pequeño">
        <ion-icon name="document-outline"></ion-icon> 3 Archivo (s) para Descargar
       </div>
  </div></a>
</div></ng-template>

</swiper>
<div class="preguntas-contendor">
  <div class="espacio-blanco">
    <div class="boton-rojo">
          Preguntas Frecuentes
    </div>
  </div>
  <div class="texto-preguntas">
    Bienvenido a la Aplicación para Otorgamiento de Mapis. <a href="#">Haz click acá</a> para entender cómo funciona la Aplicación y sus objetivos.
    </div>
</div>
  </div>
</ion-content>