
<ion-app>
  <ion-menu side="end" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Roles</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="/home">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Autoridad de territorio</ion-label>
      </ion-item>
      <ion-item href="/home2">
        <ion-icon name="accessibility-outline" slot="start"></ion-icon>
        <ion-label>Policias</ion-label>
      </ion-item>

    </ion-list></ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<div class="ion-page" id="main-content">

<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="arriba">  
      <ion-buttons slot="end">
        <ion-menu-button>
          <ion-icon name="grid-outline"></ion-icon>
        </ion-menu-button>
     </ion-buttons>
    </div>    
    <ion-title>
      <div class="nombre">Nombre de la APP </div> 
     <!-- Default Searchbar -->
<ion-searchbar></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div id="bg-header"> 
    <ion-toolbar>
    </ion-toolbar>
  </div>
  </ion-header>
  <div id="container">
    <div class="subtitulos"> 
      <div class="sub">
        Mapis
      </div> 
      <div class="link">
        Ver todos
    </div> 
    </div>
<swiper #swiper [config]="config">
  <ng-template swiperSlide><div class="slider1" >
    <a routerLinkActive="active" 
    routerLink="/menu1">
    <div class="cuadro1">
    MAPIS
    </div>
    <div class="contiene-texto">
      <div class="contendor">
         <div class="circulo1"></div>
         <div class="texto">MAPIs</div>
      </div>
         <div class="Texto-pequeño">
          <ion-icon name="document-outline"></ion-icon> 3 Archivo (s) para Descargar
         </div>
    </div></a>
</div></ng-template>

<ng-template swiperSlide ><div class="slider1">
  <a routerLinkActive="active" 
  routerLink="/menuroll">
  <div class="cuadro2">
    Rol y Competencias
  </div>
  <div class="contiene-texto">
    <div class="contendor">
       <div class="circulo2"></div>
       <div class="texto">Rol y Funciones<br><br></div>
    </div>
       <div class="Texto-pequeño">
        <ion-icon name="document-outline"></ion-icon> 1 Archivo (s) para Descargar
       </div>
  </div></a>
</div></ng-template>

<ng-template swiperSlide><div class="slider1">
  <a routerLinkActive="active" 
  routerLink="/enfoques">
  <div class="cuadro3">
  Enfoques
  </div>
  <div class="contiene-texto">
    <div class="contendor">
       <div class="circulo3"></div>
       <div class="texto">Lineamientos de Actuación</div>
    </div>
       <div class="Texto-pequeño">
        <ion-icon name="document-outline"></ion-icon> 3 Archivo (s) para Descargar
       </div>
  </div></a>
</div></ng-template>

</swiper>
<div class="preguntas-contendor">
  <div class="espacio-blanco">
    <a routerLinkActive="active" 
    routerLink="/pregmenu">
    <div class="boton-rojo">
          Preguntas Frecuentes
    </div>
  </a>
  </div>
  <div class="texto-preguntas">
    Bienvenido a la Aplicación para Otorgamiento de Mapis. <a href="/menu12">Haz click acá</a> para entender cómo funciona la Aplicación y sus objetivos.
    </div>
</div>
  </div>
</ion-content>
</div></ion-app>