<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nombre de la APP
     <!-- Default Searchbar -->
<ion-searchbar></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div id="bg-header"> 
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </div>
  </ion-header>
    
  <div id="container">
<swiper #swiper [config]="config">
  <ng-template swiperSlide><div class="slider1">
    <div class="cuadro1">
    MAPIS
    </div>
    <div class="contiene-texto">
      <div class="contendor">
         <div class="circulo1"></div>
         <div class="texto">Contenidos Conseptuales</div>
      </div>
         <div class="Texto-pequeño">
             3 Archivo (s) para Descargar
         </div>
    </div>
</div></ng-template>
  <ng-template swiperSlide>
    <ion-card href="/enfoques">
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Enfoques</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ng-template swiperSlide>Slide 2</ng-template>

  <ng-template swiperSlide>Slide 3</ng-template>
</swiper>
<div class="preguntas-contendor">
  <div class="espacio-blanco">
    <div class="boton-rojo">
          Preguntas Frecuentes
    </div>
  </div>
  <div class="texto-preguntas">
    Bienvenido a la Aplicación para Otorgamiento de Mapis. <a href="#">Haz click acá</a> para entender cómo funciona la Aplicación y sus objetivos.
    </div>
</div>
  </div>
</ion-content>