<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Violencia Psicológica</div>
  <p class="texto-interno">Provocar miedo a través de la intimidación,
    amenazar con causar daño, someter a una
    persona a maltrato.</p>
    <div class="icono1"><ion-icon name="chatbubble-outline"></ion-icon></div>
    <div class="cuadro-verde">
      <p class="texto-interno-blanco">De acuerdo al art. 10b. LOIPEVcM Cualquier acción,
        omisión o patrón de conducta dirigido a causar daño
        emocional, disminuir la autoestima, afectar la honra,
        provocar descrédito, menospreciar la dignidad
        personal, perturbar, degradar la identidad cultural,
        expresiones de identidad juvenil o controlar la
        conducta, el comportamiento, las creencias o las
        decisiones de una mujer, mediante la humillación,
        intimidación, encierros, aislamiento, tratamientos
        forzados o cualquier otro acto que afecte su
        estabilidad psicológica y emocional.
        Incluye la manipulación emocional, el control
        mediante mecanismos de vigilancia, el acoso u
        hostigamiento, toda conducta abusiva y
        especialmente los comportamientos, palabras, actos,
        gestos, escritos o mensajes electrónicos dirigidos a
        perseguir, intimidar, chantajear y vigilar a una mujer
        de cualquier edad o condición. Actos que puedan
        tener repercusiones negativas respecto de su
        empleo, en la continuación de estudios escolares o
        universitarios. Incluye también las amenazas, el
        anuncio verbal o con actos, que deriven en un daño
        físico, psicológico, sexual, laboral o patrimonial, con
        el fin de intimidar</p>
    </div>

    <div class="boton-blanco" routerLink="/casospsi">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Ver caso 1</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <div class="boton-blanco" routerLink="/casospsi2">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Ver caso 2</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>