<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/procedimineto"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno">CTA: Nombres y apellidos, domicilio y teléfono de la o el solicitante de MAPIs.</p> 
  <p class="texto-interno"> 2.	Nombre y apellidos de la víctima o posible víctima de violencia, domicilio, teléfono de contacto, edad, autoidentificación		étnica, situación socio-económica, identidad	de		género, orientación sexual nivel de instrucción,		discapacidad, condición migratoria, estado civil, en caso de conocerlos. Informarse si la víctima o posible víctima.</p> 
  <p class="texto-interno"> 3.	Nombre y apellidos de persona agresora o presunta agresora, así como su domicilio y teléfono de contacto, datos de	sexo,	edad,
         autoidentificación		étnica, situación	socioeconómica, identidad		de		género, orientación sexual, nivel de instrucción,			discapacidad, condición migratoria, estado civil, en caso de conocerlos.</p> 
         <p class="texto-interno">4. Relación de la víctima o posible víctima con la persona agresora o presunta agresora.</p> 
         <p class="texto-interno"> 5. Resumen de los hechos de violencia.</p> 
         <p class="texto-interno"> 6. Tipo de violencia.</p> 
         <p class="texto-interno">  7. la identificación de los factores de riesgo y de las condiciones específicas que requieran la víctima.</p> 
         <p class="texto-interno">  8. Solicitud de las medidas administrativas de protección inmediata necesarias para precautelar la vida e integridad de las víctimas de violencia.</p> 
         <p class="texto-interno">   9. Firma	o   huella	dactilar persona que solicita.</p> 


      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>