<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu2"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">Violencia Sexual</div>
  <p class="texto-interno">Todo acto que implique la vulneración del
    derecho a la integridad y decidir
    voluntariamente sobre su vida sexual y
    reproductiva.</p>
    <div class="icono1"><img src="https://i.imgur.com/g1une93.png"></div>
    <div class="cuadro-verde">
      <p class="texto-interno-blanco">De acuerdo al art. 10c. LOIPEVCM Toda acción que
        implique la vulneración o restricción del derecho a la
        integridad sexual y a decidir voluntariamente sobre
        su vida sexual y reproductiva, a través de amenazas,
        coerción, uso de la fuerza e intimidación, incluyendo
        la violación dentro del matrimonio o de otras
        relaciones vinculares y de parentesco, exista o no
        convivencia, la transmisión intencional de infecciones
        de transmisión sexual (ITS), así como la prostitución
        forzada, la trata con fines de explotación sexual, el
        abuso o acoso sexual, la esterilización forzada y otras
        prácticas análogas.
        También es violencia sexual la implicación de niñas y
        adolescentes en actividades sexuales con un adulto o
        con cualquier otra persona que se encuentre en
        situación de ventaja frente a ellas, sea por su edad,
        por razones de su mayor desarrollo físico o mental,
        por la relación de parentesco, afectiva o de confianza
        que lo une a la niña o adolescente, por su ubicación
        de autoridad o poder; el embarazo temprano en
        niñas y adolescentes, el matrimonio en edad
        temprana, la mutilación genital femenina y la
        utilización de la imagen de las niñas y adolescentes
        en pornografía.</p>
    </div>


    <div class="boton-blanco" routerLink="/casossex2">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Ver caso 1</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <div class="boton-blanco" routerLink="/casossex">
      <div class="div-a">
        <div class="letra-boton"><div class="icono2"><ion-icon name="checkmark-circle-outline"></ion-icon></div>  <div class="letra-boton-interna">Ver caso 2</div></div>
      </div>
      <div class="div-b">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>