.header-enfoques {
    max-height: 170px;
    background-color: #f35c65;
    padding: 0px;
    color: #FFFFFF;
}
.toolbar-background {
    background: #f35c65;
}
.toolbar-container {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.toolbar-searchbar {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.icono {
    padding: 16px 16px 5px 16px;
    font-size: 21px;
}
input.searchbar-input.sc-ion-searchbar-ios {
    background-color: #FFFFFF;
}
.toolbar-title {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    margin-top: 120px;
    text-align: left;
}
.titulo {
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;
}
.fondo-gris {
    background: #f7f7f7;
    padding: 50px 16px 50px 16px;
    border-radius: 0px 0px 30px 30px;
}
.fondo-blanco {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 40px;
}
.boton-azul {
    margin: 25px 0px 0px 0px;
    padding: 14px;
    background-color: #f35c65;
    border-radius: 30px;
    color: #ffffff;
    text-align: center;
}
ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    FONT-FAMILY: Montserrat, SANS-SERIF;
    FONT-WEIGHT: 500;
}
input.searchbar-input.sc-ion-searchbar-ios {
    background-color: #FFFFFF;
}
ion-item.item.ios.item-fill-none.ion-activatable.ion-focusable.hydrated.item-label {
    font-family: Montserrat, sans-serif;
}
.boton {
    width: 100%;
    display: inline-flex;
}
.boton-texto1 {
    font-family: Montserrat, sans-serif;
    width: 90%;
    color: #595959;
    font-size: 12.3px;
}
.boton-icono {
    color: #f35c65;
    font-size: 19px;
    width: 10%;
}
.boton {
    padding-top: 9px;
    padding-bottom: 1px;
}
.titulo {
    font-family: Montserrat, sans-serif;
}
.boton-icono {
    color: #f35c65;
    font-size: 19px;
    width: 10%;
}
.titulo-interno {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 20px;
}
p.texto.interno {
    FONT-FAMILY: Montserrat, sans-serif;
    line-height: 21px;
    font-size: 14px;
    color: #595959;
    line-height: 21px;
}