.header-enfoques {
    in-height: 100px;
    background-color: #f18e31;
    padding: 0px;
    color: #FFFFFF;
}
.toolbar-background {
    background: #f18e31;
}
.toolbar-container {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.toolbar-searchbar {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.icono {
    padding: 50px 16px 5px 16px;
    font-size: 21px;
}
input.searchbar-input.sc-ion-searchbar-ios {
    background-color: #FFFFFF;
}
.toolbar-title {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    margin-top: 120px;
    text-align: left;
}
.titulo {
    font-weight: 400;
    padding-top: 85px;
    padding-bottom: 30px;
}
.fondo-gris {
    background: #f7f7f7;
    padding: 50px 16px 50px 16px;
    border-radius: 0px 0px 30px 30px;
}
.fondo-blanco {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 40px;
}
.boton-azul {
    margin: 20px 0px 0px 0px;
    padding: 14px;
    background-color: #f18e31;
    border-radius: 40px;
    color: #ffffff;
    text-align: center;
}
ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    FONT-FAMILY: Montserrat, SANS-SERIF;
    FONT-WEIGHT: 500;
}
input.searchbar-input.sc-ion-searchbar-ios {
    background-color: #FFFFFF;
}
.buscar {
    padding-bottom: 10px;
}
.titulo-interno {
    font-size: 23px;
    font-family: Montserrat, sans-serif;
}
p.texto.interno {
    FONT-FAMILY: Montserrat, sans-serif;
    line-height: 21px;
    font-size: 14px;
    color: #595959;
    line-height: 21px;
}
.boton-blanco {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 16px;
    display: inline-flex;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 20px;
}
.div-a {
    width: 80%;
}
.div-b {
    width: 20%;
    text-align: right;
}
.icono2 {
    width: 10%;
    font-size: 19px;
    color: #f18e31;
}
.letra-boton-interna {
    width: 90%;
}
.letra-boton {
    display: inline-flex;
    width: 100%;
}
.icono1 {
    font-size: 100px;
    color: #f18e31;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.letra-boton-interna {
    FONT-FAMILY: Montserrat, sans-serif;
    line-height: 21px;
    font-size: 16px;
    color: #595959;
    line-height: 21px;
}
.cuadro-verde {
    background-color: #f18e31;
    padding: 16px;
    border-radius: 30px;
}
p.texto-interno-blanco {
    FONT-FAMILY: Montserrat, sans-serif;
    line-height: 21px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}
p.texto-interno {
    FONT-FAMILY: Montserrat, sans-serif;
    line-height: 21px;
    font-size: 14px;
    color: #595959;
    line-height: 21px;
    /* color: #ffffff; */
}
a {
    background-color: transparent;
    color: #f18e31;
    text-decoration: none;
}
.contendor-ojo {
    width: 100%;
    display: inline-flex;
}
.contiene-ojo {
    color: #f18e31;
    max-width: 20%;
    font-size: 35px;
    margin-right: 5px;
}
.contiene-texto-ojo {
    max-width: 80%;
    margin-top: 5px;
}
li {
    FONT-FAMILY: Montserrat, sans-serif;
    line-height: 21px;
    font-size: 14px;
    color: #595959;
    line-height: 21px;
}
.contiene-texto-ojo {
    FONT-FAMILY: Montserrat, sans-serif;
    line-height: 21px;
    font-size: 14px;
    color: #595959;
    line-height: 21px;
}
.contendor-ojo {
    margin-top: 10px;
}
.boton {
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 30px;
}
.letra-boton2 {
    color: #e99245;
}
.icono-b {
    color: #f18e31;
    margin-right: 5px;
    margin-top: 1px;
}
.letra-boton1 {
    color: white;
}
.letra-boton2 {
    color: #e99245;
    FONT-FAMILY: Montserrat, sans-serif;
    line-height: 21px;
    font-size: 14px;
    line-height: 21px;
}
.cuadro-color {
    background-color: #e99245;
    padding: 16px;
    border-radius: 16px;
}