<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu42"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">ACCIONES URGENTES</div>
  <p class="texto-interno">

    <ion-button id="auto-trigger">Son aquellas actuaciones que la Policía Nacional,</ion-button>
    <ion-popover trigger="auto-trigger" size="auto">
      <ng-template>
        <ion-content class="ion-padding">Aquellas actuaciones que la Policía Nacional, en el marco del respeto a los derechos humanos, debe ejecutar de forma inmediata, ya sea de oficio o a petición de parte, con la única finalidad de evitar o mitigar el riesgo o la vulneración del derechos a la integridad personal de las víctimas de violencia contra las mujeres.</ion-content>
      </ng-template>
    </ion-popover>

    debe ejecutar de forma inmediata, ya sea de oficio o a petición de parte, con la finalidad de evitar o mitigar el riesgo o la vulneración del derecho a la integridad personal de las víctimas de violencia contra las mujeres.</p><br>
      <div class="titulo-interno">¿Quiénes pueden solicitar Acciones Urgentes?</div>
      <p class="texto-interno">
      <ion-button id="auto-trigger2">Cualquier persona o grupo de personas</ion-button>
      <ion-popover trigger="auto-trigger" size="auto">
        <ng-template>
          <ion-content class="ion-padding">De manera verbal o escrita, y sin la necesidad de patrocinio profesional.</ion-content>
        </ng-template>
      </ion-popover>
  
      que conozcan de hechos que impliquen violencia contra las mujeres podrán solicitar acciones urgentes a favor de las víctimas.</p>
      
        <br>
        <div class="titulo-interno">Tipos de Acciones Urgentes:</div>
        <p class="texto-interno">Los miembros de la Policía Nacional ejecutarán las siguientes acciones urgentes:</p><br>
        <!-- pagina 2 -->
        <p class="texto-interno"><b>a)	Acudir de manera inmediata.</b></p>
        <p class="texto-interno">Acudirán de manera inmediata y oportuna ante <b>una alerta por botón de seguridad, llamada al Servicio Integrado ECU911, video vigilancia, patrullaje, vigilancia policial y cualquier otro mecanismo de alerta </b>y tomarán procedimiento de acuerdo con las circunstancias del caso y garantizando el respeto a los derechos humanos.</p>
      <br>
        <p class="texto-interno"><b>b)	Protocolo de actuación policial.</b></p>
<p class="texto-interno">Activarán <a href="#">los protocolos de la actuación policial </a>para la seguridad y protección para las víctimas de violencia contra las mujeres.</p>

<div class="boton">
<div class="icono-b" routerLink="/link15"><ion-icon name="document-outline"></ion-icon></div> <div class="letra-boton2" routerLink="/link15"><b>Descargar Archivo Original</b></div>
</div>
<br>
<p class="texto-interno"><b>c)	Acompañamiento a la víctima a domicilio.</b></p>
<p class="texto-interno"><a href="/link16">Escoltar</a> a la víctima a su domicilio para que tome sus documentos de identificación y personales, así como otras pertenencias necesarias para su subsistencia y las de sus dependientes, de ser el caso, cuando la integridad de la víctima o de sus dependientes esté en riesgo.</p>
  <br>
  <p class="texto-interno"><b>d)	Acompañamiento a la víctima a instituciones que otorguen MAPIs.</b></p>
<p class="texto-interno">Custodiarán a la víctima ante la Junta Cantonal de Protección de Derechos, la Tenencia Política o la Comisaría Nacional de Policía más cercana para solicitar la emisión de la boleta de auxilio o la orden de restricción de acercamiento a la víctima por parte de la presunta persona agresora. </p>
  <br>
  <p class="texto-interno"><b> e)	Aprehensión de persona agresora.</b></p>
  <p class="texto-interno">Procederán a la aprehensión de la presunta agresora cuando se encuentre en flagrancia y la pondrán a disposición de la autoridad competente.</p>
  <br>
  <p class="texto-interno"><b>f)	Facilitar atención integral a la víctima.</b></p>
  <p class="texto-interno">Informarán a las víctimas acerca de las<a href="/link17"> entidades que conforman el Sistema Nacional Integral de Prevención y Erradicación de la Violencia contra las Mujeres,</a> para que reciban atención integral, en coordinación con las instancias administrativas del Ministerio del Interior.</p>


  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
</div>
</ion-content>