<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/menu12"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    <ion-popover trigger="link1" size="auto">
      <ng-template>
        <ion-content class="ion-padding">De manera verbal o escrita, y sin la necesidad de patrocinio profesional.</ion-content>
      </ng-template>
    </ion-popover>
  
  <div class="titulo-interno">ACCIONES URGENTES</div>
 
  <p class="texto-interno">Son aquellas actuaciones que la Policía Nacional, en el marco del respeto a los derechos humanos, debe ejecutar de forma inmediata, ya sea de oficio o a petición de parte, con la única finalidad de evitar o mitigar el riesgo o la vulneración del derecho a la integridad personal de las víctimas de violencia contra las mujeres.</p><br>
<br>
<div class="cuadro-color">
  <p class="texto-interno-blanco"><b>ART 33 Reglamento de la LOIPEVCM </b></p>
  <p class="texto-interno-blanco"> a) Acudir de manera inmediata ante una alerta generada por: botón de pánico, llamada al Servicio Integrado ECU 911, video vigilancia, patrullaje, vigilancia policial y otros mecanismos de alerta.</p>
  <p class="texto-interno-blanco">  b) Activación de los protocolos de seguridad y protección a las mujeres víctimas de violencia de género. </p>
  <p class="texto-interno-blanco"> c) Acompañamiento a la víctima para reintegrarla a su domicilio habitual, cuando así lo solicite o para que tome sus pertenencias, de ser el caso.</p>
  <p class="texto-interno-blanco"> d) Acompañar a la víctima a la autoridad competente para solicitar la emisión de la boleta de auxilio y la orden de restricción de acercamiento a la víctima por parte del presunto agresor, en cualquier espacio público o privado.</p>
  <p class="texto-interno-blanco">   e) Procederán a la aprehensión de la persona agresora cuando se encuentre en flagrancia y la pondrán a disposición de la autoridad competente. </p>
  <p class="texto-interno-blanco"> f) Informarán a las víctimas acerca de las entidades que conforman el Sistema Nacional Integral de Prevención y Erradicación de la Violencia contra las Mujeres, para que reciban atención integral, en coordinación con las instancias administrativas del Ministerio del Interior.</p>
</div> 
<div class="boton-azul">
    <div class="letra-boton1" routerLink="/home2">VOLVER</div>
  </div>
<br>
<br>
<br>
<br>
<br>
</div>
</ion-content>