<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/casoseco"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">TIPO DE VIOLENCIA: </div>
  <p class="texto-interno">Psicológica y económica.</p>
  <br>
  <div class="titulo-interno">ÁMBITO: </div>
  <p class="texto-interno">Intrafamiliar</p>
  <br>
  <div class="titulo-interno">PAUTAS GENERALES </div>
  <p class="texto-interno">Detener y prevenir agresiones restringiendo el
    acercamiento del presunto agresor.</p>
    <p class="texto-interno">Prohibir acciones de intimidación, ordenar la
    salida del agresor de la vivienda común.</p>
    <p class="texto-interno"> Inserción de la mujer en programas de
    inclusión social y económica, salud y de cuidados dirigidos a grupos de atención prioritaria a
    cargo de MIES.</p>

  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>

</ion-content>