ion-searchbar.sc-ion-searchbar-md-h.sc-ion-searchbar-md-s.md.searchbar-animated.searchbar-should-show-clear.hydrated {
    background-color: #009688;
    padding-bottom: 15px;
    padding-top: 5px;
}
ion-title.md.title-default.hydrated {
    background-color: #359388;
    padding-top: 16px;
    padding-bottom: 5px;
    color: #fff;
}