<ion-header>
  <ion-toolbar>
    <ion-title>Buscar</ion-title>
    <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="contiene-bus">
  <ion-list>
    <ion-item *ngFor="let page of pages">
      <ion-label>
       <h2 class="colorBlue"> {{page.name}} </h2>
      <p>{{page.description}}</p>      
      </ion-label>
      <ion-button slot="end" href={{page.url}}>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  </div>
</ion-content>