<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/acciones"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno"><b>CTA: Art. 47. LOPEIVCM-</b> Las medidas de protección serán de carácter inmediato y provisional; tendrán por objeto evitar o cesar la amenaza o vulneración de la vida e integridad, en relación con los actos de violencia contra las mujeres, niñas, adolescentes, jóvenes, adultas y adultas mayores, determinados en este cuerpo legal. </p> 

  <p class="texto-interno">El ente rector del Sistema deberá disponer para todas las entidades del sector público y privado el determinar medidas administrativas o internas de prevención y protección en caso de cualquier acto de violencia de los establecidos en esta Ley.</p> 

      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>