<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/procedimientopol"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
    
  <p class="texto-interno">Debe constar de la siguiente información:<br> 
  <ion-icon name="checkmark-circle-outline"></ion-icon> Nombres completos<br>
  <ion-icon name="checkmark-circle-outline"></ion-icon>Número de cédula<br>
  <ion-icon name="checkmark-circle-outline"></ion-icon> Fecha, hora y firma

      <div class="boton-azul">
        <div class="letra-boton1" routerLink="/home2">VOLVER</div>
      </div>
</div>
</ion-content>
