<ion-header>
  <ion-toolbar>
    <div class="header-enfoques">
      <div class="icono" routerLink="/pregmenu"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="buscar"><ion-searchbar (click)="openModal()"></ion-searchbar></div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-gris">
  <div class="titulo-interno">¿Qué debo hacer si la
    persona que solicita MAPI es
    un niño o adolescente
    varón?
   </div>

   <p class="texto-interno">En el caso de que las víctimas sean niños o
    adolescentes varones: Redirigir a la víctima a la
    Junta Cantonal de Protección de Derechos. </p>
    <p class="texto-interno"> Si dentro del territorio no existiera la JCPD, se
    debe redireccionar a la Fiscalía.</p>


  <div class="boton-azul">
    <div class="letra-boton1" routerLink="/home">VOLVER</div>
  </div>
</div>
</ion-content>